@import "src/scss/device";

.exposeTime {
  display: flex;
  justify-content: center;

  &[data-size="lg"] {
    label {
      font-size: 0.81em;
    }

    p {
      font-size: 3em;

      &.colon {
        margin: 0 1rem;
      }
    }
  }

  &[data-size="md"] {
    label {
      font-size: 0.5em;
    }

    p {
      font-size: 1.875em;

      &.colon {
        margin: 0 0.5rem;
        display: block;
      }
    }
  }

  p {
    font-weight: bold;
  }

  .days {
    p {
      text-align: left;
    }
  }

  .hours {
    p {
      text-align: center;
    }
  }

  .minutes {
    p {
      text-align: right;
    }
  }
}

@include device-tb {
  .exposeTime[data-size="lg"] {
    label {
      font-size: 8px;
    }

    p {
      font-size: 32px;

      &.colon {
        margin: 0 8px;
      }
    }
  }
}

@include device-ipad {
  .exposeTime[data-size="lg"] {
    label {
      font-size: 0.46em;
    }

    p {
      font-size: 2em;

      &.colon {
        margin: 0 6px;
      }
    }
  }

  .exposeTime[data-size="md"] {
    label {
      font-size: 0.58em;
    }

    p {
      font-size: 2.5em;

      &.colon {
        margin: 0 6px;
      }
    }
  }
}
