// @import "src/scss/device";

.exposeTime {
  display: flex;
  justify-content: center;

  &[data-size="lg"] {
    p {
      font-size: 3em;

      &.colon {
        margin: 0 .3333333em;
      }

      &.label {
        font-size: 0.8125em;
      }
    }
  }

  &[data-size="md"] {
    p {
      font-size: 1.875em;

      &.colon {
        margin: 0 0.5em;
        display: block;
      }

      &.label {
        margin-top: -.375em;
        font-size: 0.5em;
      }
    }
  }

  p {
    font-weight: bold;
  }

  .days {
    p {
      text-align: left;
    }
  }

  .hours {
    p {
      text-align: center;
    }
  }

  .minutes {
    p {
      text-align: right;
    }
  }
}

// @include device-tb {
//   .exposeTime[data-size="lg"] {
//     label {
//       font-size: 8px;
//     }

//     p {
//       font-size: 2em;

//       &.colon {
//         margin: 0 8px;
//       }
//     }
//   }
// }

// @include device-ipad {
//   .exposeTime[data-size="lg"] {
//     label {
//       font-size: 0.46em;
//     }

//     p {
//       font-size: 2em;

//       &.colon {
//         margin: 0 .75rem;
//       }
//     }
//   }

//   .exposeTime[data-size="md"] {
//     label {
//       font-size: 0.58em;
//     }

//     p {
//       font-size: 2.5em;

//       &.colon {
//         margin: 0 .75rem;
//       }
//     }
//   }
// }

// @include device-mb {
//   .exposeTime[data-size="lg"] {
//     label {
//       font-size: 0.666666em;
//     }

//     p {
//       font-size: 2.66666em;

//       &.colon {
//         margin: 0 .75rem;
//       }
//     }
//   }
// }
