@import "src/scss/device";
@import "src/scss/_utils";

.instagramCards {
  display: flex;
  margin: 0 auto;

  li {
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 8px;
    margin-right: 1rem;
    overflow: hidden;

    &:hover {
      img {
        transform: scale3d(1.1,1.1,1.1);
      }
    }

    img {
      width: 100%;
      height: 100%;
      border-radius: 8px;
      transition: transform 1s;

      @include device((min: 1920px)) {
        border-radius: .5rem;
      }
    }

    &[data-hidden="true"] {
      display: none;
    }

    &:nth-child(6) {
      margin-right: 0;
    }
  }
}

@include device-mb {
  .instagramCards {
    max-width: unset;
    margin: 0 -0.6rem;

    li {
      min-width: 128px;
      margin-right: 8px;

      &:nth-child(6) {
        margin-right: 8px;
      }

      &[data-hidden="true"] {
        display: block;
      }
    }

    @include invisibleHScroll;
  }
}