.bookWithUsSection {
  .whyBook {
    display: flex;
    justify-content: space-between;
    padding: 0 50px;

    .icon {
      text-align: center;
      width: 192px;
    }

    p {
      margin: 24px 0 0 0;
      font-size: 16px;
      color: #444444;
    }
  }
}

@media screen and (max-width: 1280px) {
  .bookWithUsSection {
    .whyBook {
      padding: 0 15px;

      p {
        font-size: 14px;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .bookWithUsSection {
    .whyBook {
      padding: 0;
    }
  }
}

@media screen and (max-width: 650px) {
  .bookWithUsSection {
    .whyBook {
      display: grid;
      grid-template-columns: 90px 90px 90px;
      grid-template-rows: 130px 90px;
      grid-column-gap: 15px;
      grid-row-gap: 15px;

      .icon {
        width: 90px;
      }

      p {
        font-size: 12px;
      }
    }
  }
}