@import "src/scss/device";

.bookWithUsSection {
  ul {
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;

    @include device((min: 1280px, max: 1919px)) {
      padding: 0 1.5rem;
    }

    li {
      text-align: center;
      width: 10vw;
    }

    p {
      margin: 1.5rem 0 0 0;
      font-size: 1em;
      color: #444444;
    }
  }
}

@include device-mb {
  .bookWithUsSection {
    ul {
      display: grid;
      grid-template-columns: repeat(3, 11rem);
      grid-template-rows: 12rem;
      grid-column-gap: 2rem;
      grid-row-gap: 2rem;
      padding: 0 1rem;

      li {
        width: 11rem;
      }

      p {
        font-size: 1em;
      }
    }
  }
}