@import "../../../../scss/device";

.bookWithUsSection {
  .whyBook {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1344px;

    .icon {
      text-align: center;
      width: 192px;
    }

    p {
      margin: 24px 0 0 0;
      font-size: 16px;
      color: #444444;
    }
  }
}

@include device-tb {
  .bookWithUsSection {
    .whyBook {
      max-width: 936px;

      p {
        font-size: 14px;
      }
    }
  }
}

@include device-mb {
  .bookWithUsSection {
    margin: 15px 0 55px 0;

    .whyBook {
      padding: 0;
    }
  }
}

@media screen and (max-width: 650px) {
  .bookWithUsSection {
    .whyBook {
      display: grid;
      grid-template-columns: 90px 90px 90px;
      grid-template-rows: 130px 90px;
      grid-column-gap: 15px;
      grid-row-gap: 15px;

      .icon {
        width: 90px;
      }

      p {
        font-size: 12px;
      }
    }
  }
}