.input {
  display: block;

  &[data-theme="transparent"] {
    border: none;
    outline: none;
    background: transparent;
    color: #fff;

    &::placeholder {
      color: #fff;
    }
  }

  &[data-theme="standart"] {
    border: 1px solid #e4e4e4;
    border-radius: 4px;

    &::placeholder {
      color: #959595;
    }
  }

  &[data-size="md"] {
    height: 56px;
    font-size: 16px;

    &::placeholder {
      font-size: 16px;
    }
  }
}

.label[data-size="md"] {
  display: block;
  color: #202020;
  font-size: 16px;
  margin-bottom: 16px;
}

@media screen and (max-width: 1024px) {
  .input {
    &[data-size="md"] {
      height: 40px;
      font-size: 12px;

      &::placeholder {
        font-size: 12px;
      }
    }

    .label[data-size="md"] {
      font-size: 14px;
      margin-bottom: 10px;
    }
  }
}
