@import "src/scss/device";

.rating {
  i {
    font-size: .875em;

    &[data-filled="true"] {
      color: #ffcb00;
    }
    &[data-filled="false"] {
      color: #dadada;
    }
  }

  span {
    margin-left: .625em;
    font-size: .9em;
    text-align: left;
    color: #959595;

    @include device-mb {
      font-size: .77em;
    }
  }
}