.rating {
  i {
    font-size: 14px;
    &[data-filled="true"] {
      color: #ffcb00;
    }
    &[data-filled="false"] {
      color: #dadada;
    }
  }

  span {
    margin-left: 10px;
    font-size: 13px;
    line-height: 1.85;
    text-align: left;
    color: #959595;
  }
}