@import "src/scss/device";

.rating {
  i {
    font-size: 10px;

    &[data-filled="true"] {
      color: #ffcb00;
    }
    &[data-filled="false"] {
      color: #dadada;
    }
  }

  span {
    margin-left: 5px;
    font-size: 9px;
    text-align: left;
    color: #959595;

    // @include device-mb {
    //   font-size: .77em;
    // }
  }
}