.button {
  cursor: pointer;
  padding: 0 .5rem;
  height: 1.375rem;
  font-size: .75em;
  border-radius: 1.875rem;
  border: 1px solid;
  background: #fff;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  &[data-theme="select"] {
    border-color: #e8e8e8;
    color: #ff5a39;
  }

  &[data-theme="selected"] {
    color: #fff;
    background: #ff5a39;
    border-color: #ff5a39;
  }

  &[data-theme="select"], &[data-theme="selected"] {
    &:hover {
      box-shadow: 0 .25rem .5rem rgba(255, 90, 57, 0.28);
    }
  }

  &[data-theme="green"] {
    color: #4eb62a;
    border-color: #4eb62a;
  }
}