.orderDetails {
  position: sticky;
  top: 7.25rem;

  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border: 1px solid #e8e8e8;
    box-sizing: border-box;
    border-radius: 8px;

    > p:nth-child(2) {
      color: #4eb62a;
      margin-bottom: .5rem;

      i {
        margin-left: .2rem;
      }
    }

    > p:nth-child(5) {
      font-size: .875em;
    }
  }

  .price {
    display: flex;
    align-items: baseline;
    margin: 2.93rem 0 .5rem;

    span {
      font-size: .875em;
      margin-right: .5rem;
    }

    h5 {
      color: #ff5a39;
      font-size: 1.625em;
    }
  }

  .childAndFamily {
    display: flex;
    justify-content: space-between;
    font-size: .875em;
    padding: 1.625rem 0;
    border-top: 1px dashed #e4e4e4;
    border-bottom: 1px dashed #e4e4e4;
    margin: 1.25rem 1rem 1.625rem;

    strong {
      margin-right: .5rem;
    }

    p:first-child {
      margin-right: 2rem;
    }
  }

  .deal {
    position: relative;
    width: 100%;
    border: 1px solid #ffcb00;
    margin-top: 1rem;
    padding-bottom: 1.25rem;
  }

  .dealInfo {
    font-size: .875em;
    text-align: center;
    margin-top: .625rem;
  }

  .exposeTime {
    margin-top: 1.125rem;
  }

  .instant {
    margin-top: 1.625rem;
    display: flex;
    align-items: center;

    img {
      width: .625rem;
      height: 1rem;
      margin-right: .375rem;
    }
  }

  .included {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1.75rem auto 1rem;
    width: 21rem;
    height: 2.5rem;
    border-radius: 8px;
    border: 1px solid #e8e8e8;

    p {
      color: #4eb62a;
      font-size: .875em;
    }
  }

  .bookButton {
    width: 21rem;
  }

  .aviableDate {
    margin: 1.625rem 0;

    i {
      margin-right: .375rem;
    }

    span {
      margin-left: .375rem;
      color: #ff5a39;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .button {
    margin-top: 16px;
    width: 100%;
    border-radius: 4px;

    i {
      margin-right: .375rem;
    }
  }

  .share {
    text-align: center;
    font-size: .875em;
    margin-top: .5rem;

    i {
      cursor: pointer;
      margin-left: .5rem;
    }

    &:first-of-type {
      margin-top: 1.625rem;
    }
  }
}

.addToWishlist {
  width: 31rem;
}
