@import "src/scss/device";

.orderDetails {
  position: sticky;
  top: 7.25rem;

  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border: 1px solid #e8e8e8;
    box-sizing: border-box;
    border-radius: 8px;

    > p:nth-of-type(1) {
      color: #4eb62a;
      margin-bottom: .375rem;

      i {
        margin-left: .2rem;
      }
    }

    > p:nth-child(5) {
      font-size: .875em;
    }
  }

  .price {
    display: flex;
    align-items: baseline;
    margin: 1.5rem 0 .5rem;

    span {
      font-size: .875em;
      margin-right: .5rem;
    }

    h5 {
      color: #ff5a39;
      font-size: 1.625em;
    }
  }

  .childAndFamily {
    display: flex;
    justify-content: space-between;
    font-size: .875em;
    padding: 1.125rem 0;
    border-top: 1px dashed #e4e4e4;
    border-bottom: 1px dashed #e4e4e4;
    margin: 1.25rem 1rem .625rem;

    strong {
      margin-right: .5rem;
    }

    p:first-child {
      margin-right: 2rem;
    }
  }

  .deal {
    position: relative;
    width: 100%;
    border: 1px solid #ffcb00;
    margin-top: .375rem;
    padding-bottom: 1.25rem;
  }

  .dealInfo {
    font-size: .875em;
    text-align: center;
    margin-top: .625rem;
  }

  .exposeTime {
    margin-top: 1.125rem;
  }

  .instant {
    margin-top: 1.125rem;
    display: flex;
    align-items: center;

    img {
      width: .625rem;
      height: 1rem;
      margin-right: .375rem;
    }
  }

  .included {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: .625rem auto 1rem;
    width: 21rem;
    height: 2.5rem;
    border-radius: 8px;
    border: 1px solid #e8e8e8;

    p {
      color: #4eb62a;
      font-size: .875em;
    }
  }

  .bookButton {
    width: 21rem;
  }

  .aviableDate {
    margin: 1rem 0 1.625rem;

    i {
      margin-right: .375rem;
    }

    span {
      margin-left: .375rem;
      color: #ff5a39;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .button {
    margin-top: 1rem;
    width: 100%;
    border-radius: 4px;

    i {
      margin-right: .375rem;
    }
  }

  .share {
    text-align: center;
    font-size: .875em;
    margin-top: .5rem;

    i {
      cursor: pointer;
      margin-left: .5rem;
    }

    &:first-of-type {
      margin-top: 1.125rem;
    }
  }
}

.addToWishlist {
  width: 31rem;
}

@include device-ipad {
  .orderDetails {
    top: calc(9.25rem + 16px);

    .main {
      > p:nth-of-type(1), > p:nth-of-type(3) {
        font-size: 1.1666666em;
      }
    }

    .price {
      margin: 2.5rem 0 .625rem;

      span {
        font-size: 1em;
      }
    }

    .childAndFamily {
      font-size: 1em;
      border-top: none;
      margin: 3rem 0 1rem;
      padding: 1rem 2rem;
      box-sizing: border-box;
      width: 100%;

      p {
        display: flex;
        flex-direction: column;
      }

      strong {
        margin-bottom: 1rem;
      }

      p:first-child {
        margin-right: 0;
      }
    }

    .dealInfo {
      font-size: .916em;
      margin-top: 1rem;
    }

    .exposeTime {
      margin-top: 3rem;
    }

    .instant {
      margin-top: 1.5rem;

      img {
        width: 1rem;
        height: 1.375rem;
        margin-right: 1rem;
      }
    }

    .bookButton, .included {
      width: 25rem;
      height: 5rem;
    }

    .included {
      margin: 2rem auto 1.5rem;

      p {
        font-size: 1em;
      }
    }

    .bookButton {
      font-size: 1.166em !important;
    }

    .aviableDate {
      margin: 2rem 0;

      i {
        margin-right: .75rem;
      }

      span {
        margin-left: .75rem;
      }

      @include device((max: 860px)) {
        i {
          margin-right: .5rem;
        }

        span {
          margin-left: .5rem;
        }
      }
    }

    .button {
      margin-top: 1.5rem;
      height: 5rem;
      font-size: 1em !important;

      i {
        margin-right: .75rem;
      }
    }

    .share {
      text-align: center;
      font-size: 1em;
      margin-top: 1rem;

      i {
        margin-left: 1rem;
      }

      &:first-of-type {
        margin-top: 2rem;
      }
    }
  }

  .addToWishlist {
    width: 38rem;
  }
}

@include device-mb {
  .orderDetails {
    position: relative;
    top: unset;

    .main {
      > p:nth-of-type(2) {
        font-size: 1.1666666em;
      }

      > p:nth-of-type(3) {
        font-size: 1em;
      }
    }

    .price {
      margin: 2.25rem 0 .5rem;

      span {
        font-size: 1em;
      }

      h5 {
        font-size: 1.66666em;
      }
    }

    .childAndFamily {
      margin: 2rem 0 1rem;
      padding: 0 2rem 2rem;

      p {
        flex-direction: row;
      }

      strong {
        margin-bottom: 0;
      }
    }

    .deal {
      margin-top: 1rem;
      padding-bottom: 2rem;
    }

    .included {
      margin: 2.25rem auto 2rem;
      width: 35rem;
      height: 5rem;
    }

    .bookButton {
      width: 35rem;
    }

    .aviableDate {
      margin: 1.5rem 0 2rem;
    }

    .button {
      margin-top: 1rem;
    }

    .share {
      margin-top: 2.5rem;
    }
  }
}