@import "src/scss/device";

$ig-screen-sm-min: 768px !default;
$ig-screen-xsm-min: 480px !default;
$ig-white: #fff !default;
$ig-black: #000 !default;
$ig-orange: #ff5a39 !default;
$ig-background-black: rgba(0, 0, 0, 0.4) !default;
$ig-transparent: rgba(0, 0, 0, 0) !default;

.imageGallery {
  user-select: none;
  -webkit-tap-highlight-color: $ig-transparent;

  &.fullscreenModal {
    background: $ig-black;
    bottom: 0;
    height: 100%;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 5;

    .imageGalleryContent {
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

.imageGalleryContent {
  position: relative;
  line-height: 0;
  top: 0;

  &[data-fullscreen="true"] {
    background: $ig-black;

    .imageGallerySlide {
      background: $ig-black;

      .imageGalleryImage {
        height: calc(100vh - 10.5rem) !important;
      }
    }

    .toSell {
      display: none;
    }
  }
}

.imageGallerySlideWrapper {
  position: relative;

  &[data-hide-controls="true"] {
    .imageGalleryFullScreenButton,
    .imageGalleryPlayButton {
      display: none;
    }
  }
}

.imageGalleryFullScreenButton,
.imageGalleryPlayButton,
.imageGalleryLeftNav,
.imageGalleryRightNav {
  appearance: none;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  outline: none;
  position: absolute;
  z-index: 4;

  &:after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
  }
}

.imageGalleryFullScreenButton,
.imageGalleryPlayButton {
  bottom: 1rem;
  width: 2rem;
  height: 2rem;
  color: $ig-white;
  transition: 0.2s ease color;

  &:hover {
    color: $ig-orange;
  }
}

.imageGalleryFullScreenButton {
  right: 1rem;

  &[data-active="false"]:after {
    content: "\f065";
  }

  &[data-active="true"]:after {
    content: "\f066";
  }
}

.imageGalleryPlayButton {
  left: 1rem;

  &[data-active="false"]:after {
    content: "\f04b";
  }

  &[data-active="true"]:after {
    content: "\f04c";
  }
}

.imageGalleryLeftNav,
.imageGalleryRightNav {
  width: 3rem;
  height: 3rem;
  border: 1px solid $ig-orange;
  border-radius: 50%;
  color: $ig-orange;
  font-size: 1.0625em;
  top: 50%;
  transform: translateY(-50%);
  transition: 0.2s ease color, 0.2s ease background-color;

  &:hover {
    background: $ig-orange;
    color: $ig-white;
  }

  &[disabled] {
    cursor: disabled;
    opacity: 0.6;
    pointer-events: none;
  }
}

.imageGalleryLeftNav {
  left: 1rem;

  &:after {
    content: "\f060";
  }
}

.imageGalleryRightNav {
  right: 1rem;

  &:after {
    content: "\f061";
  }
}

.imageGallerySlides {
  line-height: 0;
  overflow: hidden;
  position: relative;
  white-space: nowrap;
}

.imageGallerySlide {
  background: $ig-white;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;

  &[data-position="center"] {
    position: relative;
  }

  .imageGalleryImage {
    position: relative;
    width: 100%;
    height: 36rem;
    overflow: hidden;
    border-radius: 8px;
  }

  .iframeContainer {
    overflow: hidden;
    padding-bottom: 36rem;
    position: relative;
    height: 0;
    border-radius: 8px;

    iframe {
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      position: absolute;
      border: 0;
    }
  }

  img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: fill;
    object-position: center;
  }
}

.imageGalleryThumbnailsWrapper {
  position: relative;
}

.imageGalleryThumbnails {
  padding: 1.5rem 0 2rem;
  overflow: hidden;

  .imageGalleryThumbnailsContainer {
    display: flex;
    cursor: pointer;
    text-align: center;
    transition: transform 0.45s ease-out;
    white-space: nowrap;
  }
}

.imageGalleryThumbnail {
  + .imageGalleryThumbnail {
    margin-left: 1rem;
  }

  .imageGalleryThumbnailInner {
    position: relative;
    overflow: hidden;
    width: 11rem;
    height: 7.5rem;
    border: 1px solid transparent;
    border-radius: 4px;
    transition: border 0.3s ease-out;

    i {
      position: absolute;
      left: 50%;
      top: 50%;
      color: #ffffff;
      transform: translate(-50%, -50%);
      font-size: 3rem;
    }
  }

  img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: fill;
    object-position: center;
    transition: transform 1s;
  }

  &:hover {
    box-shadow: 0 1.5rem 2rem rgba(0, 0, 0, 0.06);

    img {
      transform: scale3d(1.1, 1.1, 1);
    }
  }

  &[aria-pressed="true"] .imageGalleryThumbnailInner {
    border-color: $ig-orange;
  }
}

.toSell {
  display: flex;
  position: absolute;
  right: 0;
  bottom: 4rem;
  width: 10rem;
  height: 4rem;
  min-width: 120px;
  min-height: 48px;
  border-radius: 8px 0 0 8px;
  background-color: #ff5a39;
  color: white;
  cursor: pointer;
  z-index: 1;

  & > div:last-child {
    display: flex;
    align-items: center;
    padding: 0.56rem 0.2rem 0.56rem 0.68rem;
    box-sizing: border-box;
    font-size: 0.875rem;
    line-height: 1.71;
  }
}

.toSellIcon {
  width: 40%;
  box-sizing: border-box;
  border-right: 1px solid #f45636;
  position: relative;

  img {
    width: 1.625rem;
    height: 1.625rem;
    min-width: 20px;
    min-height: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@include device-ipad {
  .imageGallerySlide {
    .imageGalleryImage {
      height: 45rem;
    }

    .iframeContainer {
      padding-bottom: 45rem;
    }
  }

  .imageGalleryThumbnail {
    + .imageGalleryThumbnail {
      margin-left: 1.25rem;
    }

    .imageGalleryThumbnailInner {
      width: 14rem;
      height: 9.5rem;

      i {
        font-size: 3.75rem;
      }
    }
  }

  .imageGalleryLeftNav,
  .imageGalleryRightNav {
    width: 5rem;
    height: 5rem;
  }

  .imageGalleryFullScreenButton {
    right: 2rem;
    bottom: 2rem;
  }

  .imageGalleryPlayButton {
    left: 2rem;
    bottom: 2rem;
  }

  .imageGalleryLeftNav {
    left: 2rem;
  }

  .imageGalleryRightNav {
    right: 2rem;
  }

  .toSell {
    bottom: 6rem;
    width: 15rem;
    height: 6rem;

    & > div:last-child {
      padding: 0.56rem 0.2rem 0.56rem 0.68rem;
      font-size: 0.875em;
      line-height: 1.71;
    }
  }

  .toSellIcon {
    width: 40%;

    img {
      width: 1.625rem;
      height: 1.625rem;
      min-width: 20px;
      min-height: 20px;
    }
  }
}

@include device-mb {
  .imageGallery {
    margin-left: -1rem;
  }

  .imageGalleryThumbnailsWrapper {
    display: none;
  }

  .imageGalleryFullScreenButton,
  .imageGalleryPlayButton,
  .imageGalleryLeftNav,
  .imageGalleryRightNav {
    display: none;
  }

  .imageGallerySlide {
    width: 34rem;
    padding-left: 1rem;


    .imageGalleryImage {
      height: 26.5rem;
    }

    .iframeContainer {
      padding-bottom: 26.5rem;
    }
  }

  .toSell {
    right: unset;
    left: 25rem;
    bottom: 2rem;
    width: 15rem;
    height: 6rem;

    & > div:last-child {
      padding: 0.56rem 0.2rem 0.56rem 0.68rem;
      font-size: 1.45rem;
    }
  }

  .toSellIcon {
    width: 40%;

    img {
      width: 2.5rem;
      height: 2.75rem;
      min-width: 20px;
      min-height: 20px;
    }
  }
}
