.activitiesTourThingsCardsRow {
  margin: 0 auto;
  max-width: 1520px;

  &[data-hidden="true"] {
    display: none;
  }

  &[data-hidden="false"] {
    display: flex;
  }

  >div {
    margin-right: 16px;

    &:last-child {
      margin-right: 0;
    }
  }

  &[data-bottom="true"] {
    margin-top: 16px;
  }
}

@media screen and (max-width: 1280px) {
  .activitiesTourThingsCardsRow {
    max-width: 1044px;

    >div {
      margin-right: 8px;

      &:last-child {
        margin-right: 0;
      }
    }

    &[data-bottom="true"] {
      margin-top: 8px;
    }
  }
}

@media screen and (max-width: 1024px) {
  .activitiesTourThingsCardsRow {
    max-width: 952px;
  }
}

@media screen and (max-width: 767px) {
  .activitiesContainer {
    display: flex;
    overflow-x: scroll;
    overflow: -moz-scrollbars-none;
    overflow-y: hidden;

    &::-webkit-scrollbar {
      width: 0 !important;
    }
  }

  .activitiesTourThingsCardsRow {
    margin-left: 8px;

    &[data-hidden="true"] {
      display: flex;
    }

    &[data-bottom="true"] {
      margin-top: 0;
    }
  }
}