.headerSelectMenu {
  position: relative;
  margin-right: 25px;
  z-index: 5;
  outline: none;

  .opener {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    // width: 100px;

    span {
      white-space: nowrap;
      margin: 0;
      font-size: 18px;
      font-weight: 600;
      line-height: 1.33;
      color: #fafafa;
      transition: .2s ease color, .2s ease font-weight;
    }

    i {
      margin-left: 10px;
      color: #fafafa;
      font-size: 12px;
      transition: .2s ease transform, .2s ease color;
    }

    &:hover {
      span, i {
        color: #ff5a39;
      }
    }

    &.opened {
      span {
        color: #ff5a39;
      }

      i {
        color: #ff5a39;
        transform: rotate(180deg);
      }
    }
  }

  .menu {
    position: absolute;
    top: 35px;
    background: #fff;
    padding: 25px 30px;
    border-radius: 7px;

    &[data-pos="right"] {
      right: 0px;
    }

    &[data-pos="left"] {
      left: 0px;
    }

    &[data-size="md"] {
      width: 345px;
    }

    &[data-size="lg"] {
      width: 912px;
    }

    h6 {
      color: #000000;
      font-size: 16px;
    }

    .title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 20px;

      i {
        cursor: pointer;
        color: #000000;
        font-size: 16px;
      }
    }
  }
}

@media screen and (max-width: 1615px) {
  .headerSelectMenu {
    margin-right: 15px;
  
    .opener {
      // width: 90px;
  
      span {
        font-size: 16px;
      }
  
      i {
        margin-left: 10px;
        font-size: 12px;
      }
    }

    .menu {
      &[data-size="lg"] {
        width: 700px;
      }
    }
  }
}

@media screen and (max-width: 1420px) {
  .headerSelectMenu {
    margin-right: 15px;
  
    .opener {
      // width: 80px;
  
      span {
        font-size: 14px;
      }
  
      i {
        margin-left: 5px;
        font-size: 12px;
      }
    }
  }
}

@media screen and (max-width: 1280px) and (min-width: 768px) {
  .headerSelectMenu {
    .menu {
      padding: 20px;

      &[data-pos="left"] {
        left: -132px;
      }
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 810px) {
  .headerSelectMenu {
    margin-right: 0;
  }
}