.headerSelectMenu {
  position: relative;
  margin-right: 25px;
  z-index: 15;
  outline: none;

  .opener {
    cursor: pointer;
    display: flex;
    align-items: center;
    width: 100px;

    span {
      margin: 0;
      font-size: 18px;
      font-weight: 600;
      line-height: 1.33;
      color: #fafafa;
      transition: .2s ease color;
    }

    i {
      margin-left: 10px;
      color: #fafafa;
      font-size: 12px;
      transition: .2s ease transform, .2s ease color;
    }

    &.opened {
      span {
        color: #ff5a39;
      }

      i {
        color: #ff5a39;
        transform: rotate(180deg);
      }
    }
  }

  .menu {
    position: absolute;
    top: 35px;
    background: #fff;
    padding: 25px 30px;
    border-radius: 7px;

    &[data-pos="right"] {
      right: 0px;
    }

    &[data-pos="left"] {
      left: 0px;
    }

    &[data-size="md"] {
      width: 345px;
    }

    &[data-size="lg"] {
      width: 912px;
    }

    h6 {
      color: #000000;
      font-size: 16px;
    }

    .title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 20px;

      i {
        cursor: pointer;
        color: #000000;
        font-size: 16px;
      }
    }

  }
}