@import "src/scss/device";

.headerSelectMenu {
  position: relative;
  margin-right: 1.56rem;
  z-index: 5;
  outline: none;

  .opener {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    // width: 100px;

    .content {
      white-space: nowrap;
      margin: 0;
      font-size: 1.125em;
      font-weight: 600;
      color: #fafafa;
      transition: .2s ease color;;
    }

    i {
      margin-left: .625rem;
      color: #fafafa;
      font-size: .75em;
      transition: .2s ease transform, .2s ease color;
    }

    &:hover {
      span, i {
        color: #ff5a39;
      }
    }

    &.opened {
      span {
        color: #ff5a39;
      }

      i {
        color: #ff5a39;
        transform: rotate(180deg);
      }
    }
  }

  .menu {
    position: absolute;
    top: 3.9rem;
    background: #fff;
    padding: 1.56rem 1.875rem;
    border-radius: 7px;
    box-sizing: border-box;

    &[data-pos="right"] {
      right: 0;
    }

    &[data-pos="left"] {
      left: -1.5rem;
    }

    &[data-size="md"] {
      width: 17.96vw;
    }

    &[data-size="lg"] {
      width: 47.5vw;
    }

    .title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 1.25rem;

      h6 {
        color: #000000;
        font-size: 1em;
      }

      i {
        cursor: pointer;
        color: #000000;
        font-size: 1em;
      }
    }
  }
}

@include device-tb {
  .headerSelectMenu {
    .menu {
      padding: 2rem;

      &[data-pos="left"] {
        left: -13.2rem;
      }
    }
  }
}

@include device((min: 768px, max: 810px)) {
  .headerSelectMenu {
    margin-right: 0;
  }
}