.confirmSection {
  margin: 0 0 9.25rem 1.5rem;

  button {
    padding: 0 1.25rem 0 1.5rem;
  }

  span {
    display: block;
    color: #959595;
    font-size: .875rem;
    margin-top: 1.125rem;
  }
}

