.button {
  cursor: pointer;
  letter-spacing: normal;
  transition: 0.2s ease box-shadow;

  &[data-form="rounded"] {
    border-radius: 60px;
    font-weight: bold;
  }

  &[data-form="rectangled"] {
    border-radius: .5rem;
    font-size: .875rem !important;
  }

  &[data-form="circle"] {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
  }

  &[data-theme="orange"] {
    border: none;
    background-color: #ff5a39;
    color: #ffffff;

    &:hover {
      box-shadow: 0 12px 24px rgba(255, 90, 57, 0.28);
    }
  }

  &[data-theme="transparentBorderOrange"] {
    background: transparent;
    border: 1px solid #ff5a39;
    color: #202020;

    &:hover {
      box-shadow: 0 12px 24px rgba(255, 90, 57, 0.28);
    }
  }

  &[data-theme="transparent"] {
    color: #959595;
    background-color: transparent;
    border: none;
    padding: 0;
  }

  &[data-size="sm"] {
    height: 2rem;
    font-size: .75rem;
  }

  &[data-size="md"] {
    height: 3rem;
    font-size: 1rem;
  }

  &[data-size="lg"] {
    height: 3.5rem;
    font-size: 1.125rem;
  }
}

//@media screen and (max-width: 1615px) {
//  .button {
//    &[data-form="circle"] {
//      width: 40px;
//      height: 40px;
//    }
//  }
//}

@media screen and (max-width: 1420px) {
  .button {
    &[data-form="circle"] {
      width: 32.5px;
      height: 32.5px;

      i {
        font-size: 9px;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .button {
    &[data-size="md"] {
      height: 2.5rem;
      font-size: .75rem;
    }
  }
}
