.instagramCard {
  position: relative;
  border-radius: 8px;
  img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
  }
}

@media screen and (max-width: 767px) {
  .instagramCard {
    min-width: 128px;
  }
}