.orangeButton {
  background-color: #ff5a39;
  border: none;
  cursor: pointer;
  height: 56px;
  color: #ffffff;
  letter-spacing: normal;
  transition: .2s ease box-shadow;

  &:hover {
    box-shadow: 0 12px 24px rgba(255, 90, 57, 0.28);
  }

  &[data-theme="rounded"] {
    border-radius: 60px;
    width: 208px;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.33;
  }

  &[data-theme="rectangled"] {
    width: 168px;
    border-radius: 8px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.71;
  }

  &[data-theme="small"] {
    width: 48px;
    height: 48px;
    border-radius: 50%;
  }
}