@import "src/scss/device";

.authenticCard {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  border: solid 1px #fafafa;
  padding: 2.375rem 3.5rem 1.25rem 1.5rem;

  @include device ((min: 1920px)) {
    border-width: .06rem;
  }

  h4 {
    margin: .5rem 0 0 0;
    max-width: 15.16vw;
    font-size: 1.625em;
    font-weight: bold;
    text-align: left;
  }

  a {
    color: #959595;
    cursor: pointer;
    text-decoration: underline;
  }

  .sign {
    margin-top: 2.18rem;
    color: #959595;
  }

  .body {
    margin-top: 1.56rem;
    text-align: left;
    color: #959595;
  }
}

@include device-mb {
  .authenticCard {
    min-width: 244px;
    padding: 18px 12px 20px 12px;

    .rating {
      i {
        font-size: 10px;
      }
    }

    h4 {
      font-size: 20px;
      max-width: 220px;
    }

    .body, .sign, a {
      font-size: 14px;
    }
  }
}