.root {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  border: solid 1px #fafafa;
  padding: 38px 56px 20px 24px;

  h3 {
    margin: 8px 0 0 0;
    width: 290px;
    line-height: 1.23;
    font-size: 26px;
    font-weight: bold;
    text-align: left;
    color: #202020;
  }

  a {
    font-size: 16px;
    color: #959595;
    cursor: pointer;
    text-decoration: underline;
  }

  .sign {
    margin-top: 35px;
    font-size: 16px;
    color: #959595;
  }

  .body {
    margin-top: 25px;
    font-size: 16px;
    text-align: left;
    color: #959595;
  }
}