.authenticCard {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  border: solid 1px #fafafa;
  padding: 38px 56px 20px 24px;

  h3 {
    margin: 8px 0 0 0;
    max-width: 290px;
    line-height: 1.23;
    font-size: 26px;
    font-weight: bold;
    text-align: left;
    color: #202020;
  }

  a {
    font-size: 16px;
    color: #959595;
    cursor: pointer;
    text-decoration: underline;
  }

  .sign {
    margin-top: 35px;
    font-size: 16px;
    color: #959595;
  }

  .body {
    margin-top: 25px;
    font-size: 16px;
    text-align: left;
    color: #959595;
  }
}

@media screen and (max-width: 1280px) {
  .authenticCard {
    padding: 18px 12px 20px 12px;

    .rating {
      i {
        font-size: 10px;
      }
    }

    h3 {
      font-size: 20px;
      max-width: 220px;
    }

    .body, .sign, a {
      font-size: 14px;
    }
  }
}

@media screen and (max-width: 767px) {
  .authenticCard {
    min-width: 244px;
  }
}