.header-select-menu {
  position: relative;
  margin-right: 40px;
  z-index: 15;
  
  
  .opener {
    cursor: pointer;
    display: flex;
    align-items: center;

    .language-opener {
      display: flex;
      justify-content: space-between;
      align-items: center;

      img {
        width: 24px;
        height: 24px;
        margin-right: 10px;
      }
    } 

    span {
      margin: 0;
      font-size: 18px;
      font-weight: 500;
      line-height: 1.33;
      color: #fafafa;
      transition: .2s ease color;
    }

    i {
      margin-left: 10px;
      color: #fafafa;
      font-size: 12px;
      transition: .2s ease transform, .2s ease color;
    }

    &.opened {
      span {
        color: #ff5a39;
      }

      i {
        color: #ff5a39;
        transform: rotate(180deg);
      }
    }
  }

  .menu {
    position: absolute;
    top: 35px;
    right: 0px;
    background: #fff;
    padding: 25px 30px;
    width: 345px;
    border-radius: 7px;

    h6 {
      margin: 0;
      color: #000000;
      font-size: 16px;
    }

    .title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 20px;

      i {
        cursor: pointer;
        color: #000000;
        font-size: 16px;
      }
    }

    .languages {
      display: flex;
      flex-wrap: wrap;
      
      .language {
        cursor: pointer;
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        width: 50%;
  
        img {
          width: 24px;
          height: 24px;
          margin-right: 15px;
        }
        
        span {
          color: #e8e8e8;
          transition: .2s ease color;
        }

        &:hover:not(.active) {
          span {
            color: darken(#e8e8e8, 40);
          }
        }

        &.active {
          span {
            color: #ff5a39;
          }
        }
      }
    }

    .currencies {
      .currency {
        cursor: pointer;
        display: inline-block;
        margin: 0 0 20px 0;
        width: 170px;
        font-size: 14px;
        color: #e8e8e8;
        transition: .2s ease color;

        &:hover:not(.active) {
          color: darken(#e8e8e8, 40);
        }

        &.active {
          color: #ff5a39;
        }
      }
    }

  }
}