@import "src/scss/device";

.topDestinationCard {
  position: relative;
  border-radius: .5rem;
  transition: box-shadow .2s ease-out;
  display: flex;
  overflow: hidden;
  cursor: pointer;

  a {
    display: block;
    width: 100%;
  }

  img {
    width: 100%;
    height: 100%;
    transition: transform 1s;
    object-fit: cover;
    object-position: center;
  }

  &:hover {
    box-shadow: 0 1.5rem 2rem rgba(0, 0, 0, 0.06);

    img {
      transform: scale3d(1.1, 1.1, 1);
    }
  }

  .text {
    position: absolute;
    left: 1.5rem;
    bottom: 2rem;
    z-index: 2;

    h4 {
      font-size: 2em;
      margin: 5px 0 0 0;
      color: #fff;
    }

    span {
      font-size: 1em;
      color: #fff;
    }
  }

  .gradient {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    border-radius: .5rem;
    opacity: .3;
    z-index: 1;
  }
}

@include device((max: 1280px)) {
  .topDestinationCard {

    .text {
      bottom: 1rem;

      h4 {
        font-size: 1.6em;
      }
    }
  }
}

@include device((max: 1024px)) {
  .topDestinationCard {
    .text {
      h4 {
        font-size: 1.4em;
      }
    }
  }
}


@include device((max: 768px)) {
  .topDestinationCard {

    .text {
      left: 12px;
      bottom: 12px;

      h4 {
        font-size: 20px;
      }

      span {
        font-size: 12px;
        color: #fff;
      }
    }

    picture, img {
      width: 100%;
    }
  }
}