.pagenation {

  span {
    display: inline-block;
    font-size: .81em;
    margin-right: 1.625rem;
    color: #959595;
    cursor: pointer;
    transition: 0.2s ease color;

    &[data-active="true"] {
      color: #ff5a39;
    }

    &:hover {
      color: darken(#ff5a39, 20);
    }
  }

  button {
    width: 3rem;
    height: 3rem;
    cursor: pointer;
    border: solid 1px #ff5a39;
    border-radius: 50%;
    background-color: #fff;
    font-size: 1.06em;
    color: #ff5a39;
    transition: 0.2s ease background-color, 0.2s ease color;

    &:first-child {
      margin-right: 1.625rem;
    }

    &:disabled {
      color: #dadada;
      border-color: #dadada;
    }

    &:hover:not(:disabled) {
      background-color: #ff5a39;
      color: #fff;
    }
  }
}