@import "src/scss/device";

.topDestinations {
  display: grid;
  margin: 0 auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  list-style-type: none;

  .td1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    margin-right: .625rem;
  }

  .td2 {
    grid-column-start: 3;
    grid-column-end: 4;
    margin: 0 6px;
  }

  .td3 {
    grid-column-start: 4;
    grid-column-end: 6;
    margin: 0 .375rem 0 .5rem;
  }

  .td4 {
    grid-column-start: 6;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 3;
    margin-left: .75rem;
  }

  .td5 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
    margin-top: 1rem;
    margin-left: .375rem;
  }

  .td6 {
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 3;
    margin: 1rem .375rem 0 1rem;
  }
}

@include device-mb {
  .topDestinations {
    grid-template-columns: 1fr 1fr;
    max-width: unset;

    .td1 {
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: 2;
      margin: 0 0 16px 0;
    }

    .td2 {
      grid-row-start: 2;
      grid-row-end: 3;
      grid-column-start: 1;
      grid-column-end: 2;
      margin: 0 8px 16px 0;
    }

    .td3 {
      grid-row-start: 2;
      grid-row-end: 3;
      grid-column-start: 2;
      grid-column-end: 3;
      margin: 0 0 16px 8px;
    }

    .td4 {
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 4;
      grid-row-end: 5;
      margin: 0;
    }

    .td5 {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 3;
      grid-row-end: 4;
      margin: 0 8px 16px 0;
    }

    .td6 {
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 3;
      grid-row-end: 4;
      margin: 0 0 16px 8px;
    }
  }
}