.scrollBar {
  .scrollBarTrack {
    position: absolute;
    width: 6px;
    right: 16px;
    bottom: 2px;
    top: 2px;
    border-radius: 3px;
  }

  .scrollBarThumb {
    max-width: 8px;
    border-radius: 16px;
    background-color: #e8e8e8;
  }
}