@import "src/scss/device";
@import "src/scss/_utils";

.promoutingSection {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;

  picture[data-hidden="true"] {
    display: none;
  }

  img {
    width: 100%;
    height: 100%;
  }
}

@media screen and (max-width: 700px) {
  .promoutingSection {
    max-width: 929px;

    picture[data-hidden="true"] {
      display: block;
    }

    img {
      width: unset;
      height: unset;
    }

    @include invisibleHScroll;
  }
}