.root {
  position: relative;
  width: 368px;
  height: 576px;
  h3 {
    position: absolute;
    left: 24px;
    right: 24px;
    top: 32px;
    font-size: 32px;
    font-weight: bold;
    color: #fff;
    z-index: 1;
  }
  span {
    position: absolute;
    left: 24px;
    bottom: 28px;
    font-size: 16px;
    font-weight: normal;
    color: #fff;
    z-index: 1;
  }
  img {
    max-width: 368px;
    max-height: 576px;
  }
  div {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: .3;
    border-radius: 8px;
  }
}