@import "src/scss/device";

.activityCard {
  position: relative;
  display: flex;
  max-height: 30vw;
  border-radius: .5rem;
  overflow: hidden;
  transition: box-shadow .2s ease-out;
  cursor: pointer;
  width: 100%;
  height: 36rem;

  a {
    display: block;
    width: 100%;
  }

  &:hover {
    box-shadow: 0 1.5rem 2rem rgba(0, 0, 0, 0.06);

    img {
      transform: scale3d(1.1,1.1,1);
    }
  }

  h4 {
    position: absolute;
    left: 1.5rem;
    right: 1.5rem;
    top: 2rem;
    font-size: 2em;
    font-weight: bold;
    color: #fff;
    z-index: 2;
  }

  span {
    position: absolute;
    left: 1.5rem;
    bottom: 1.5rem;
    font-size: 1em;
    font-weight: normal;
    color: #fff;
    z-index: 2;
  }

  img {
    width: 100%;
    height: 100%;
    transition: transform 1s;
    object-fit: cover;
    object-position: center;
  }

  div {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: .3;
    border-radius: .5rem;
  }

  .gradient {
    z-index: 1;
  }
}

@include device-tb{
  .activityCard {
    height: 37.500234rem;

    h4 {
      font-weight: 700;
      top: 1.5000094rem;
    }
  }
}

@include device-ipad {
  .activityCard {
    height: 45rem;
  }
}

@include device-mb {
  .activityCard {
    width: 174px;
    max-height: 270px;

    h4 {
      left: 12px;
      top: 12px;
      font-size: 20px;
    }

    span {
      left: 12px;
      bottom: 12px;
      font-size: 13px;
    }
  }
}

@include device((max: 320px)) {
  .activityCard {
    width: 128px;
    height: 208px;

    h4 {
      left: 10px;
      top: 10px;
      font-size: 16px;
    }

    span {
      left: 10px;
      bottom: 10px;
      font-size: 12px;
    }
  }
}
