@import "src/scss/device";

.moreActivities {
  > h3 {
    text-align: center;
    font-size: 3.5em;
    color: #ff5a39;
    margin-left: 24rem;
  }

  .filters {
    margin-right: 3.5rem;
    width: 23rem;
  }

  .header {
    display: flex;
    justify-content: space-between;
    font-size: 1em;
    margin-bottom: 1.75rem;

    .viewStyle {
      font-size: 1em;

      &, i[data-active="false"] {
        color: #959595;
      }
    }

    i {
      cursor: pointer;
      margin-left: .5rem;
      color: #ff5a39;
      transition: 0.2s ease color;

      &:nth-child(2) {
        margin-right: 1.125rem;
      }

      &[data-active="false"] {
        color: #000;
      }
    }
  }

  .pagenation {
    margin-top: 2.5rem;
  }

  .content {
    display: flex;
    margin-top: 2.8rem;

    .cards {
      width: 71rem;
      display: grid;
      grid-template-columns: 1fr;
      grid-row-gap: 1rem;

      &[data-view="reversed"] {
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 1rem;
        grid-row-gap: 1rem;
      }
    }
  }

  .card {
    &[data-view="horizontal"] {
      width: 71rem;
    }

    &[data-view="reversed"] {
      width: 23rem;
    }
  }
}

@include device((min: 1025px, max: 1270px)) {
  .moreActivities .content .cards {
    &[data-view="reversed"] {
      grid-template-columns: 1fr 1fr;
    }

    .card {
      &[data-view="reversed"] {
        width: 35rem;
        font-size: 1.5118111rem;
      }
    }
  }
}

@include device-ipad {
  .moreActivities {
    .filters {
      margin-right: 2.5rem;
      width: 27.5rem;
    }

    .content {
      .cards {
        width: 89rem;

        &[data-view="reversed"] {
          grid-column-gap: 1rem;
          grid-row-gap: 1rem;
        }

        .card {
          font-size: 1rem;

          &[data-view="reversed"] {
            width: 29rem;
          }

          &[data-view="horizontal"] {
            width: 89rem;
          }
        }
      }
    }
  }
}

// @include device((min: 768px, max: 936px)) {
//   .moreActivities .content .cards {
//     &[data-view="reversed"] {
//       grid-template-columns: 1fr 1fr;
//     }

//     .card {
//       width: 44rem;
//     }
//   }
// }

@include device((min: 654px, max: 767px)) {
  .moreActivities .content {

    .container {
      margin: 0 auto;
    }

    .cards {
      &[data-view="reversed"] {
        grid-template-columns: 1fr 1fr !important;
        grid-gap: 8px;
        width: 616px;
      }
    }
  }
}

@include device((min: 570px, max: 653px))  {
  .moreActivities .content .cards .card {
    margin: 0 auto;
    // font-size: 10px;
    width: 100% !important;
    display: flex;

    > a > div {
      border-radius: 8px 0 0 8px;
      height: 22em;
      width: 31em;

      > div {
        border-top-right-radius: 0;
      }
    }
  }
}

@include device-mb {
  .moreActivities {
    margin-top: 3.75rem;

    > h3 {
      font-size: 2.3333333em;
      margin-left: 0;
    }

    .content {
      margin-top: 2rem;

      .filters {
        display: none;
      }

      .container {

        .header {
          margin-bottom: 1.25rem;

          span {
            font-size: 1em;
            font-weight: 400;
          }

          i {
            &:nth-child(2) {
              margin-right: 0;
            }
          }

          .viewStyle {
            .leftSide {
              display: none;
            }
          }
        }
      }

      .cards {
        width: 38rem;
        grid-template-columns: 1fr;
        grid-row-gap: 1rem;

        &[data-view="reversed"] {
          grid-template-columns: 1fr;
        }

        .card {
          margin: 0 auto;
          font-size: 10px;

          &[data-view="reversed"] {
            width: 304px;
          }
        }
      }
    }
  }
}
