@import "src/scss/device";

.moreActivities {
  > h3 {
    text-align: center;
    font-size: 3.5em;
    color: #ff5a39;
    margin-left: 24rem;
  }

  .filters {
    margin-right: 3.5rem;
    width: 23rem;
  }

  .header {
    display: flex;
    justify-content: space-between;
    font-size: 1em;
    margin-bottom: 1.75rem;

    .viewStyle {
      font-size: 1em;

      &, i[data-active="false"] {
        color: #959595;
      }
    }

    i {
      cursor: pointer;
      margin-left: .5rem;
      color: #ff5a39;
      transition: 0.2s ease color;

      &:nth-child(2) {
        margin-right: 1.125rem;
      }

      &[data-active="false"] {
        color: #000;
      }
    }
  }

  .pagenation {
    margin-top: 2.5rem;
  }

  .content {
    display: flex;
    margin-top: 2.8rem;

    .cards {
      width: 71rem;
      display: grid;
      grid-template-columns: 1fr;
      grid-row-gap: 1rem;

      &[data-view="reversed"] {
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 1rem;
        grid-row-gap: 1rem;
      }
    }
  }

  .card {
    width: 23rem;
    // min-width: 232px;
  }
}

@include device-tb {
  .moreActivities {
    > h3 {
      font-size: 2.714em;
    }

    .filters {
      margin-right: 3.7rem;
      width: 21.9rem;
    }

    .cardsContainer {
      .header span {
        font-size: .86em;
        font-weight: 400;
      }
    }

    .content .filters {
      & > h4 {
        font-size: 1em;
        font-weight: 600;
        margin: 2.43rem 0 1.4rem .857rem;
      }
    }

    .content {
      .cards {
        width: 75.8rem;

        &[data-view="reversed"] {
          grid-column-gap: .8rem;
          grid-row-gap: .8rem;
        }

        .card {
          width: 24.5rem;
        }
      }
    }
  }
}

@include device((min: 1025px, max: 1256px)) {
  .moreActivities .content .cards {
    &[data-view="reversed"] {
      grid-template-columns: 1fr 1fr;
    }

    .card {
      width: 37.5rem;
    }
  }
}

@include device-ipad {
  .moreActivities {
    .filters {
      margin-right: 2.5rem;
      width: 27.5rem;
    }

    .content {
      .cards {
        width: 89rem;

        &[data-view="reversed"] {
          grid-column-gap: 1rem;
          grid-row-gap: 1rem;
        }

        .card {
          width: 29rem;
        }
      }
    }
  }
}

@include device((min: 768px, max: 936px)) {
  .moreActivities .content .cards {
    &[data-view="reversed"] {
      grid-template-columns: 1fr 1fr;
    }

    .card {
      width: 44rem;
    }
  }
}

@include device((min: 570px, max: 767px)) {
  .moreActivities .content .cards {
    &[data-view="reversed"] {
      grid-template-columns: 1fr 1fr !important;
    }

    .card {
      width: 18.5rem !important;
      font-size: .5rem;
    }
  }
}

@include device-mb {
  .moreActivities {
    margin-top: 3.75rem;

    > h3 {
      font-size: 2.3333333em;
      margin-left: 0;
    }

    .content {
      margin-top: 2rem;

      .filters {
        display: none;
      }

      .cardsContainer {
        width: 100%;

        .header {
          margin-bottom: 1.25rem;

          span {
            font-size: 1em;
            font-weight: 400;
          }

          i {
            &:nth-child(2) {
              margin-right: 0;
            }
          }

          .viewStyle {
            .leftSide {
              display: none;
            }
          }
        }
      }

      .cards {
        width: 38rem;
        grid-template-columns: 1fr;
        grid-row-gap: 1rem;

        &[data-view="reversed"] {
          grid-template-columns: 1fr;
        }

        .card {
          width: 100%;
        }
      }
    }
  }
}
