@import "src/scss/device";

.moreActivities {
  margin: 3.5rem 12.5rem 0 12.5rem;

  @include device-tb {
    margin: 3.9rem 2.57rem 0 2.57rem;
  }

  @include device-mb {
    margin: 2rem .63rem 0 .63rem;
  }

  h3 {
    text-align: center;
    font-size: 3.5rem;
    color: #ff5a39;
    margin-left: 24rem;
  }

  .header {
    display: flex;
    justify-content: space-between;
    font-size: .81rem;
    margin-bottom: 1.75rem;

    .viewStyle {
      font-size: .81rem;

      &, i[data-active="false"] {
        color: #959595;
      }
    }

    i {
      cursor: pointer;
      margin-left: .5rem;
      color: #ff5a39;
      transition: 0.2s ease color;

      &:nth-child(2) {
        margin-right: 1.125rem;
      }

      &[data-active="false"] {
        color: #000;
      }
    }
  }

  .pagesControls {
    margin-top: 2.5rem;

    span {
      display: inline-block;
      font-size: .81rem;
      margin-right: 1.625rem;
      color: #959595;
      cursor: pointer;
      transition: 0.2s ease color;

      &[data-active="true"] {
        color: #ff5a39;
      }

      &:hover {
        color: darken(#ff5a39, 20);
      }
    }

    button {
      width: 3rem;
      height: 3rem;
      cursor: pointer;
      border: solid 1px #ff5a39;
      border-radius: 50%;
      background-color: #fff;
      font-size: 1.06rem;
      color: #ff5a39;
      transition: 0.2s ease background-color, 0.2s ease color;

      &:first-child {
        margin-right: 1.625rem;
      }

      &:disabled {
        color: #dadada;
        border-color: #dadada;
      }

      &:hover:not(:disabled) {
        background-color: #ff5a39;
        color: #fff;
      }
    }
  }

  .content {
    display: flex;
    margin-top: 2.8rem;

    .filters {
      margin-right: 3.5rem;

      .filtersCheckboxes {
        border: 1px solid #efefef;
        border-radius: 0 .25rem .25rem 0;
        padding: 1.5rem 1.25rem;

        .checkbox {
          margin-bottom: 1.75rem;

          &:last-child {
            margin: 0;
          }
        }
      }

      .filtersSelect {
        padding: 1rem 1rem 1.2rem 1.5rem;
        border-color: #efefef;
        border-radius: 0 .25rem .25rem 0;
        min-width: 14.9vw;

        i {
          margin-right: 1rem;
        }
      }

      > h4 {
        margin: 3.5rem 0 1.56rem 1.5rem;
        font-size: 1.125rem;
        font-weight: 600;
        text-align: left;
        color: #202020;

        &:first-of-type {
          margin-top: 0;
        }
      }

      button {
        margin-top: 3.5rem;
      }
    }

    .cardsContainer {
      width: 100%;
    }

    .cards {
      display: grid;
      grid-template-columns: 1fr;
      grid-row-gap: 1rem;

      &[data-view="reversed"] {
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 1rem;
        grid-row-gap: 1rem;

        .card > div:first-child {
          height: 18.6vw;

          @include device-tb {
            height: 21.3vw;
          }

          @include device-mb {
            height: 90vw;
          }
        }
      }

      width: 100%;
    }
  }

  .card {
    margin-right: 0;
    min-width: 0;
  }
}

@include device-tb {
  .moreActivities {
    h3 {
      font-size: 2.714rem;
    }

    .cardsContainer {
      .header span {
        font-size: .86rem;
        font-weight: 400;
      }
    }

    .content .filters {
      margin-right: 1.43rem;

      & > h4 {
        font-size: 1rem;
        font-weight: 600;
        margin: 2.43rem 0 1.4rem .857rem;
      }

      .filtersSelect {
        padding: .86rem;
        min-width: 19.2vw;

        i {
          margin-right: .57rem;
        }
      }

      i + span {
        font-size: 12px;
      }

      .filtersCheckboxes {
        padding: .93rem .93rem;

        .checkbox span {
          width: 8px;
          height: 8px;
          box-sizing: border-box;
          margin-right: .57rem;
        }

        label {
          font-size: .79rem;
          font-weight: 400;
        }
      }
    }

    .content {
      .cards {
        &[data-view="reversed"] {
          grid-column-gap: 8px;
          grid-row-gap: 8px;
        }
      }
    }
  }
}

@include device-mb {
  .moreActivities {
    margin-top: 30px;

    h3 {
      font-size: 28px;
      margin-left: 0;
    }

    .content {
      margin-top: 16px;

      .filters {
        display: none;
      }

      .cardsContainer {
        width: 100%;

        .header {
          margin-bottom: 10px;

          span {
            font-size: 12px;
            font-weight: 400;
          }

          i {
            &:nth-child(2) {
              margin-right: 0;
            }
          }

          .viewStyle {
            .leftSide {
              display: none;
            }
          }
        }
      }

      .cards {
        display: grid;
        grid-template-columns: 1fr;
        grid-row-gap: 8px;

        &[data-view="reversed"] {
          grid-template-columns: 1fr;
          grid-row-gap: 8px;
        }
      }
    }
  }
}
