@import "src/scss/device";

.filters {
  .filtersCheckboxes {
    border: 1px solid #efefef;
    border-radius: 0 0.25rem 0.25rem 0;
    padding: 1.5rem 1.25rem;

    .checkbox {
      margin-bottom: 1.75rem;

      &:last-child {
        margin: 0;
      }
    }

    label {
      font-size: 1em;
    }
  }

  &[data-view-type="mobile"] {
    .filtersSelect {
      margin-top: 8px;
    }
  }

  // .filtersSelect {
  //   // min-width: 14.9vw;
  // }

  > h4 {
    margin: 3.5rem 0 1.56rem 1.5rem;
    font-size: 1.125em;
    font-weight: 600;
    text-align: left;

    &:first-of-type {
      margin-top: 0;
    }
  }

  .filtersButtons {
    margin-top: 3.5rem;

    .apply {
      width: 47.8%;
      height: 15vw;
      max-height: 40px;
      font-size: 1em !important;
    }

    .reset {
      font-size: .9em;
      margin-left: 1rem;
    }
  }
}

@include device-tb {
  .filters {
    & > h4 {
      font-size: 1em;
      font-weight: 600;
      margin: 2.43rem 0 1.4rem 0.857rem;
    }

    .filtersSelect {

      i {
        margin-right: 0.57rem;
      }
    }

    .filtersCheckboxes {
      padding: 0.93rem 0.93rem;

      .checkbox span {
        width: 8px;
        height: 8px;
        box-sizing: border-box;
        margin-right: 0.57rem;
      }
    }
  }
}
