@import "src/scss/device";

.whatsToExpect {
  border: 1px solid #e8e8e8;
  border-radius: 8px;
  box-sizing: border-box;
  padding: 2rem 1.5rem 2.5rem;
  position: relative;

  .anchor {
    position: absolute;
    top: -7.25rem;
  }

  h3 {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 2rem;
  }

  > p {
    line-height: 1.5em;
  }

  i {
    font-size: .75em;
  }

  .head {
    margin: 2.5rem 0 1.875rem;
    display: flex;
    justify-content: space-between;

    h3 {
      margin: 0;
    }

    p {
      margin-left: .875rem;
      transition: .2s ease color;
      cursor: pointer;

      &:hover {
        color: #ff5a39;
      }

      &[data-expanded="true"] {
        i {
          transform: rotate(180deg);
        }
      }
    }

    i {
      margin-left: .5rem;
      transition: .2s ease transform;
    }
  }

  .location, .itinerary {
    display: flex;
  }

  .itinerary {
    align-items: baseline;
  }

  .location {
    align-items: center;

    span {
      margin-left: .625rem;
    }

    button {
      font-size: 1rem;
      position: relative;
      margin-left: 1.5rem;
      background: none;
      cursor: pointer;
      width: 10rem;
      height: 3.5rem;
      border-radius: 1.875rem;
      border: 1px solid #ff5a39;
      box-sizing: border-box;
      padding: 2px;
      display: flex;
      align-items: center;
      transition: .2s ease color;

      &:hover {
        color: #ff5a39;
      }

      i {
        position: absolute;
        font-size: 1em;
        top: 50%;
        left: .75rem;
        transform: translateY(-50%);
        color: #ff5a39;
      }

      img {
        border-radius: 50%;
        width: 3rem;
        height: 3rem;
      }
    }
  }

  .expectDay {
    margin-top: 1rem;
  }
}

@include device-ipad {
  .whatsToExpect {
    padding: 3rem 2rem;

    h3 {
      font-size: 2.1666666em;
      margin-bottom: 2.25rem;
    }

    i {
      font-size: .833em;
    }

    .head {
      margin: 3.25rem 0 5rem;

      p {
        margin-left: 1.5rem;
        font-size: 1.1666666em;
      }
    }

    .location {
      span {
        margin-left: 1rem;
        font-size: 1.1666666em;
      }

      button {
        margin-left: 2rem;
        width: 16.5rem;
        height: 6rem;
        border-radius: 3.75rem;

        span {
          font-size: 1.1666666em;
        }

        i {
          font-size: 1.333em;
          left: 1.5rem;
        }

        img {
          width: 5rem;
          height: 5rem;
        }
      }
    }

    .expectDay {
      margin-top: 2rem;
    }
  }
}