@import "../../../../scss/device";

.topActivities {
  position: relative;
  z-index: 5;
  padding: 0 100px;
  max-width: 1520px;
  margin: 0 auto;

  @include device-tb {
    padding: 0 50px;
  }

  .cards {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: -15px;

    & > div {
      width: 100%;
    }
  }

  h3 {
    text-align: center;
    margin-bottom: 57px;
    color: #ff5a39;
    font-size: 56px;
    font-weight: 700;
  }
}

@media screen and (min-width: 615px) and (max-width: 1279px) {
  .topActivities {
    h3 {
      font-size: 38px;
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 900px) {
  .topActivities {
    padding: 0 25px;

    .cards {
      max-width: 1136px;
      overflow-x: scroll;
      overflow: -moz-scrollbars-none;
      overflow-y: hidden;
      margin-right: 0;

      &::-webkit-scrollbar {
        width: 0 !important;
      }
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 614px) {
  .topActivities {
    position: static;
    padding: 0 8px;

    h3 {
      font-size: 28px;
      margin-bottom: 16px;
    }
  }
}


