@import "src/scss/device";

.topActivities {
  position: relative;
  z-index: 5;
  margin: 0 12.5rem;

  @include device-tb {
    margin: 0 2.25rem 0 2.25rem;
  }

  @include device-mb {
    margin: 0;
  }

  .cards {
    display: flex;
    margin-right: -1rem;

    .carousel {
      display: none;
    }

    @include device-mb {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    > li {
      width: 100%;
      margin-right: 1rem;

      &:nth-child(3) {
        margin-right: 0;
      }
    }
  }

  h3 {
    text-align: center;
    margin-bottom: 3.5rem;
    color: #ff5a39;
    font-size: 3.5rem;
    font-weight: 700;
  }
}

@media screen and (min-width: 615px) and (max-width: 1279px) {
  .topActivities {
    h3 {
      font-size: 38px;
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 900px) {
  .topActivities {

    .cards {
      max-width: 1136px;
      overflow-x: scroll;
      overflow: -moz-scrollbars-none;
      overflow-y: hidden;
      margin-right: 0;

      .carousel {
        display: block;
      }

      > li:nth-child(3) {
        margin-right: 1rem;
      }

      &::-webkit-scrollbar {
        width: 0 !important;
      }
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 614px) {
  .topActivities {
    position: static;

    h3 {
      font-size: 28px;
      margin-bottom: 16px;
    }
  }
}


