@import "src/scss/device";

header {
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: transparent;
  transition: .2s ease background-color;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: -5.4vw;

  .cookiesContainer {
    width: 100%;
  }

  .currencyOpener {
    color: #fff;
  }

  .currencyAndLanguageOpener {
    width: 5.25rem;

    span {
      span {
        font-weight: 500 !important;
      }
    }
  }

  .profileIcon {
    min-width: 50px;
    min-height: 50px;
    box-sizing: border-box;
    display: grid;
    place-items: center;
    border-radius: 50%;
    border: 1px solid #fff;
    background-color: transparent;
    width: 2.6vw;
    height: 2.6vw;
    cursor: pointer;
    transition: .2s ease background-color, .2s ease border-color;

    @include device((min: 1280px, max: 1919px)) {
      min-width: 40px;
      min-height: 40px;
    }

    &:hover {
      background-color: #ff5a39;
      border-color: #ff5a39;
    }

    i {
      color: #fff;
      font-size: 1em;
    }
  }

  .tools {
    width: 100%;

    & > div {
      height: 5.4vw;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0 2rem;

    }

    .logoAndSearch {
      display: flex;
      align-items: center;

      .logo, .blackLogo {
        width: 7.4vw;

        @include device-tb {
          width: 40%;
          min-width: 98px;
        }

        @include device((max: 1024px)) {
          width: 40%;
          min-width: 98px;
        }

        @include device-mb {
          width: 85%;
        }
      }

      .blackLogo {
        display: none;
      }

      img {
        margin-right: 1.6rem;
      }
    }

    .tours {
      display: flex;

      a {
        text-decoration: none;
        margin-right: 1.56rem;
        font-size: 1.125em;
        font-weight: 600;
        text-align: left;
        color: #ffffff;
        transition: .2s ease color;

        &:hover {
          color: #ff5a39;
        }
      }
    }

    .currencyAndLanguage {
      display: flex;
      align-items: center;

      .noteTitle {
        font-size: 1.125em;
        margin-bottom: .5rem;
      }

      a {
        text-decoration: none;
        margin-right: 1.875rem;
        font-size: 1.125em;
        font-weight: 500;
        text-align: left;
        color: #ffffff;

        i {
          margin-right: .625rem;
          transform: rotate(90deg);
        }
      }
    }

    .mobileTools {
      display: none;
    }
  }

  h1 {
    margin: 7.5rem 0 .625rem 0;
    font-size: 4.5em;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
  }

  h2 {
    margin-bottom: 2.2rem;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
  }

  .languageOpener {
    display: flex;
    justify-content: space-between;
    align-items: center;

    img {
      width: 1.5rem;
      height: 1.5rem;
      margin-right: .625rem;
    }
  }

  .note {
    color: #959595;
    font-size: .875em;
  }

  .currencies /*.currenciesList*/ {
    .currency {
      cursor: pointer;
      display: inline-block;
      margin: 0 0 1.25rem 0;
      width: 7.42vw;
      font-size: .875em;
      color: #959595;
      transition: .2s ease color;

      &:hover:not([data-active="true"]) {
        color: darken(#959595, 40) !important;
      }

      &[data-active="true"] {
        color: #ff5a39;
      }
    }
  }

  .languages, .languagesList {
    display: flex;
    flex-wrap: wrap;

    .language {
      cursor: pointer;
      display: flex;
      align-items: center;
      margin-bottom: 1.25rem;
      width: 50%;

      img {
        width: 1.25rem;
        height: 1.25rem;
        margin-right: 1rem;
      }

      span {
        color: #959595;
        transition: .2s ease color;
      }

      &:hover:not([data-active="true"]) {
        span {
          color: darken(#959595, 40);
        }
      }

      &[data-active="true"] {
        span {
          color: #ff5a39 !important;
        }
      }
    }
  }

  &[data-theme="dark"] {
    .tools {
      background-color: #fff;
      .logoAndSearch {
        .blackLogo {
          display: block;
        }

        .logo {
          display: none;
        }
      }

      .tours, .currencyAndLanguage {
        a {
          font-weight: 500;
          color: #202020;
          transition: .2s ease color;;

          &:hover {
            color: #ff5a39;
          }
        }

        .profileIcon {
          border-color: #202020;

          &:hover {
            background-color: #ff5a39;
            border-color: #ff5a39;

            i {
              color: #fff;
            }
          }

          i {
            color: #202020;
          }
        }
      }
    }

    .mobileTools {
      .searchIcon {
        input {
          border-color: #202020;
          color: #202020;

          &::placeholder {
            color: #202020;
          }
        }

        i {
          color: #202020;
        }
      }

      .menuIcon {
        border-color: #202020;

        i {
          color: #202020;
        }
      }
    }

    .selectContinentOpener {
      span {
        font-weight: 500;
      }

      span, i {
        color: #202020;
      }
    }

    .languageOpener, .currencyOpener {
      span, i {
        color: #202020;
      }
    }

    .currencyAndLanguageOpener {
      span, i {
        color: #202020;

        span, i {
          color: #202020;
        }
      }
    }
  }
}

@include device-tb {
  header {
    margin-top: -72px;
    .tools {
      & > div {
        height: 72px;
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
      }

      .tours {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .mobileTools {
        justify-content: flex-end;
      }

      //.logoAndSearch {
      //  .logo, .blackLogo {
      //    width: 98px;
      //    height: 36px;
      //    margin-right: 0;
      //  }
      //}
      .currencyAndLanguage {
        display: none;
      }

      .mobileTools {
        display: flex;
      }
    }
  }
}


@media screen and (min-width: 768px) and (max-width: 810px) {
  header {
    .tools {
      .tours {
        justify-content: space-between;

        a {
          margin-right: 0;
        }
      }
    }
  }
}

@include device-mb {
  header {
    background-color: #ffffff;
    margin-top: -56px;

    .tools {
      & > div {
        height: 56px;
        padding: 0;
        margin: 0.62rem;
      }

      .logoAndSearch {
        .logo {
          display: none;
        }

        .blackLogo {
          display: block;
        }
      }
      .tours {
        display: none;
      }

      .currencyAndLanguage {
        display: none;
      }

      .mobileTools {
        display: flex;
      }
    }
  }
}

@include device-pc {
  .mobileTools {
    display: none;
  }
}
