header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  padding: 25px 30px;

  .tools {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logoAndSearch {
      display: flex;

      img {
        margin-right: 25px;
      }
    }

    .tours {
      display: flex;

      a {
        text-decoration: none;
        margin-right: 15px;
        font-size: 18px;
        font-weight: 600;
        line-height: 1.33;
        text-align: left;
        color: #ffffff;
      }
    }

    .currencyAndLanguage {
      display: flex;

      a {
        text-decoration: none;
        margin-right: 30px;
        font-size: 18px;
        font-weight: 600;
        line-height: 1.33;
        text-align: left;
        color: #ffffff;

        i {
          margin-right: 10px;
          transform: rotate(90deg);
        }
      }
    }
  }

  h1 {
    margin: 120px 0 10px 0;
    font-size: 72px;
    font-weight: bold;
    line-height: 1.69;
    text-align: center;
    color: #ffffff;
  }

  h2 {
    margin-bottom: 35px;
    font-size: 32px;
    font-weight: bold;
    line-height: 0.62;
    text-align: center;
    color: #ffffff;
  }

  .languageOpener {
    display: flex;
    justify-content: space-between;
    align-items: center;

    img {
      width: 24px;
      height: 24px;
      margin-right: 10px;
    }
  }

  .note {
    color: #959595;
    font-size: 14px;
  }

  .currencies {
    .currency {
      cursor: pointer;
      display: inline-block;
      margin: 0 0 20px 0;
      width: 170px;
      font-size: 14px;
      color: #959595;
      transition: .2s ease color;

      &:hover:not(.active) {
        color: darken(#959595, 40);
      }

      &.active {
        color: #ff5a39;
      }
    }
  }

  .languages {
    display: flex;
    flex-wrap: wrap;

    .language {
      cursor: pointer;
      display: flex;
      align-items: center;
      margin-bottom: 20px;
      width: 50%;

      img {
        width: 24px;
        height: 24px;
        margin-right: 15px;
      }

      span {
        color: #959595;
        transition: .2s ease color;
      }

      &:hover:not(.active) {
        span {
          color: darken(#959595, 40);
        }
      }

      &.active {
        span {
          color: #ff5a39;
        }
      }
    }
  }
}