header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background-color: transparent;
  padding: 25px 30px;
  transition: .2s ease background-color;

  .currencyOpener {
    color: #fff;
  }
  
  .selectContinentOpener {
    width: 200px !important;
  }

  .currencyAndLanguageOpener {
    span {
      span {
        font-weight: 500 !important;
      }
    }
  }

  .profileIcon {
    i {
      cursor: pointer;
      border-radius: 50%;
      padding: 12px 18px;
      border: 1px solid #ffffff;
      background-color: transparent;
      color: #fff;
      font-size: 14px;
      line-height: 24px;
      transition: .2s ease background-color, .2s ease border-color;

      &:hover {
        background-color: #ff5a39;
        border-color: #ff5a39;
      }
    }
  }

  .tools {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logoAndSearch {
      display: flex;

      .blackLogo {
        display: none;
      }

      img {
        margin-right: 25px;
      }
    }

    .tours {
      display: flex;

      a {
        text-decoration: none;
        margin-right: 15px;
        font-size: 18px;
        font-weight: 600;
        line-height: 1.33;
        text-align: left;
        color: #ffffff;
        transition: .2s ease color, .2s ease font-weight;

        &:hover {
          color: #ff5a39;
        }
      }
    }

    .currencyAndLanguage {
      display: flex;
      align-items: center;

      a {
        text-decoration: none;
        margin-right: 30px;
        font-size: 18px;
        font-weight: 500;
        line-height: 1.33;
        text-align: left;
        color: #ffffff;

        i {
          margin-right: 10px;
          transform: rotate(90deg);
        }
      }
    }

    .mobileTools {
      display: none;
    }
  }

  h1 {
    margin: 120px 0 10px 0;
    font-size: 72px;
    font-weight: bold;
    line-height: 1.69;
    text-align: center;
    color: #ffffff;
  }

  h2 {
    margin-bottom: 35px;
    font-size: 32px;
    font-weight: bold;
    line-height: 0.62;
    text-align: center;
    color: #ffffff;
  }

  .languageOpener {
    display: flex;
    justify-content: space-between;
    align-items: center;

    img {
      width: 24px;
      height: 24px;
      margin-right: 10px;
    }

  }

  .note {
    color: #959595;
    font-size: 14px;
  }

  .currencies {
    .currency {
      cursor: pointer;
      display: inline-block;
      margin: 0 0 20px 0;
      width: 170px;
      font-size: 14px;
      color: #959595;
      transition: .2s ease color;

      &:hover:not([data-active="true"]) {
        color: darken(#959595, 40) !important;
      }

      &[data-active="true"] {
        color: #ff5a39;
      }
    }
  }

  .languages {
    display: flex;
    flex-wrap: wrap;

    .language {
      cursor: pointer;
      display: flex;
      align-items: center;
      margin-bottom: 20px;
      width: 50%;

      img {
        width: 24px;
        height: 24px;
        margin-right: 15px;
      }

      span {
        color: #959595;
        transition: .2s ease color;
      }

      &:hover:not([data-active="true"]) {
        span {
          color: darken(#959595, 40);
        }
      }

      &[data-active="true"] {
        span {
          color: #ff5a39 !important;
        }        
      }
    }
  }

  &[data-theme="dark"] {
    background-color: #fff;

    .tools {
      .logoAndSearch {
        .blackLogo {
          display: block;
        }

        .logo {
          display: none;
        }
      }

      .tours, .currencyAndLanguage {
        a {
          font-weight: 500;
          color: #202020;
        }

        .profileIcon {
          i {
            color: #202020;
          }
        }
      }
    }

    .mobileTools {
      .searchIcon {
        input {
          border-color: #202020;
          color: #202020;

          &::placeholder {
            color: #202020;
          }
        }

        i {
          color: #202020;
        }
      }

      .menuIcon {
        border-color: #202020;

        i {
          color: #202020;
        }
      }
    }

    .selectContinentOpener {
      span {
        font-weight: 500;
      }

      span, i {
        color: #202020;
      }
    }
  
    .languageOpener, .currencyOpener {
      span, i {
        color: #202020;
      }
    }

    .currencyAndLanguageOpener {
      span, i {
        color: #202020;

        span, i {
          color: #202020;
        }
      }
    }
  }
}

@media screen and (max-width: 1615px) {
  header {
    .selectContinentOpener {
      width: 170px !important;
    }
    
    .logoAndSearch {
      img {
        width: 120px;
        height: 43.5px;
      }
    }

    .profileIcon {
      i {
        padding: 7px 14.2px;
        font-size: 11px;
      }
    }

    .tools {
      .currencyAndLanguage, .tours {
        a {
          font-size: 16px;
        }
      }
    }
  }
}

@media screen and (max-width: 1420px) {
  header {
    padding: 20px 30px;

    .selectContinentOpener {
      width: 150px !important;
    }

    .logoAndSearch {
      img {
        width: 98px;
        height: 36px;
      }
    }

    .tools {
      .currencyAndLanguage, .tours {
        a {
          font-size: 14px;
        }
      }
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1280px) {
  header {
    padding: 20px 15px;

    .tools {
      display: grid;
      grid-template-columns: 1fr 2fr 1fr;
      grid-auto-rows: 40px;

      .tours {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .mobileTools {
        justify-content: flex-end;
      }

      .logoAndSearch {
        img {
          margin-right: 0;
        }
      }
      .currencyAndLanguage {
        display: none;
      }

      .mobileTools {
        display: flex;
      }
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 810px) {
  header {
    .tools {
      .tours {
        justify-content: space-between;
        
        a {
          margin-right: 0;
        }
      }
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  header {
    padding: 7.5px 23px 7.5px 10px;
    background-color: #ffffff;
    
    .tools {
      .logoAndSearch {
        .logo {
          display: none;
        }
  
        .blackLogo {
          display: block;
          width: 112px;
          height: 41px;
        }
      }
      .tours {
        display: none;
      }

      .currencyAndLanguage {
        display: none;
      }

      .mobileTools {
        display: flex;
      }
    }
  }
}