@import "src/scss/device";

.bookNow {
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background: #fff;
  border-top: 1px #e8e8e8;
  box-sizing: border-box;
  height: 8rem;
  justify-content: center;
  align-items: center;

  .bookButton {
    width: 25rem;
    height: 4.5rem;
    margin: 0 2rem 0 7.5rem
  }

  .menuIcon {
    position: relative;
    cursor: pointer;
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 50%;
    border: 1px solid #fafafa;
    background: transparent;

    i {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      font-size: 1.5rem;
      color: #ff5a39;
    }
  }

  @include device-mb {
    display: flex;
  }
}