@import "../../../../scss/device";

.authenticSection {
  display: flex;
  margin: 0 auto;
  max-width: 1520px;

  >div {
    margin-right: 16px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.blah {
  display: flex;
}

@include device-tb {
  .authenticSection {
    max-width: 1044px;
  }
}

@media screen and (max-width: 1024px) {
  .authenticSection {
    max-width: 952px;
  }
}

@include device-mb {
  .authenticSection {
    overflow-x: scroll;
    overflow-y: hidden;
    &::scrollbar {
      width: 0;
      background: transparent;
    }
  }
}