@import "src/scss/device";

.authenticSection {
  display: flex;
  margin: 0 auto;

  li {
    margin-right: 1rem;

    &:last-child {
      margin-right: 0;
    }
  }
}

.blah {
  display: flex;
}

// @include device-tb {
//   .authenticSection {
//     max-width: 1044px;
//   }
// }

// @media screen and (max-width: 1024px) {
//   .authenticSection {
//     max-width: 952px;
//   }
// }

@include device-mb {
  .authenticSection {
    max-width: unset;
    overflow-x: scroll;
    overflow-y: hidden;
    margin: 0 -0.6rem;

    &::scrollbar {
      width: 0;
      background: transparent;
    }
  }
}