.headWave {
  position: relative;

  .gradient {
    position: absolute;
    left: 0; top: 0; right: 0; bottom: 0;
    z-index: 1;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, .53));
  }

  .mask {
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background: #fff;
    z-index: 2;
    mask-image: url('./assets/wave.svg');
    mask-repeat: no-repeat;
    height: 100%;
    width: 100%;
    mask-position: 50% 255%;
  }

  .children {
    position: relative;
    z-index: 3;
  }
}

@media screen and (max-width: 1280px) {
  .headWave {
    .mask {
      mask-image: url('./assets/wave1280.svg');
      mask-position: 50% 170%;
    }
  }
}

@media screen and (max-width: 768px) {
  .headWave {
    .mask {
      mask-image: url('./assets/waveIpad.svg');
      mask-position: 50% 190%;
    }
  }
}

@media screen and (max-width: 600px) {
  .headWave {
    .mask {
      mask-image: url('./assets/wavePhone.svg');
      mask-position: 50% 125%;
    }
  }
}