.headWave {
  position: relative;

  .gradient {
    position: absolute;
    left: 0; top: 0; right: 0; bottom: 0;
    z-index: 1;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, .53));
  }

  .mask {
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background: #fff;
    z-index: 2;
    mask-image: url('./assets/wave.svg');
    mask-repeat: no-repeat;
    mask-size: 114vw;
    mask-position: 50% calc(50% + 380px);
  }

  .children {
    position: relative;
    z-index: 3;
  }
}

@media screen and (max-width: 1280px) {
  .headWave {
    .mask {
      mask-position: 50% calc(50% + 290px);
    }
  }
}

@media screen and (max-width: 767px) {
  .headWave {
    .mask {
      mask-position: 50% calc(50% + 180px);
    }
  }
}

@media screen and (max-width: 600px) {
  .headWave {
    .mask {
      mask-position: center calc(50% + 170px);
    }
  }
}