.headWave2 {
  position: relative;

  .gradient {
    position: absolute;
    left: 0; top: 0; right: 0; bottom: 0;
    z-index: 1;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, .53));
  }

  .mask {
    position: absolute;
    top: 0; left: -1%; right: -2px; bottom: -2px;
    background: #fff;
    z-index: 2;
    mask-image: url('./assets/wave.svg');
    mask-repeat: no-repeat;
    mask-size: contain;
    mask-position: center bottom;
  }


  .children {
    height: 100%;
    position: relative;
    z-index: 3;
  }
}
