@import "src/scss/device";

.faqCard {
  position: relative;
  width: 23rem;
  height: 8.5rem;
  border-radius: 8px;
  border: 1px solid #e8e8e8;
  padding: 1.625rem 1.5rem 4rem 1.5rem;
  box-sizing: border-box;

  p {
    font-size: 1em;
    line-height: 1.5em;
  }

  .add {
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
    right: 1rem;
    bottom: 1rem;
    border: 1px solid #ff5a39;
    border-radius: 50%;
    cursor: pointer;

    &:after {
      content: '+';
      font-size: 1em;
      color: #ff5a39;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .modal {
    top: -.5rem;
    left: -.5rem;
    right: -.5rem;

    h6 {
      font-size: 1.125em;
      font-weight: 600;
      padding-bottom: 1.625rem;
      border-bottom: 1px solid #fafafa;
      margin-bottom: 1.125rem;
    }
  }
}

@include device-ipad {
  .faqCard {
    width: 29rem;
    height: 12.5rem;
    padding: 2.25rem 2rem 4.5rem;

    p {
      font-size: 1.1666666em;
    }

    .add {
      width: 2.5rem;
      height: 2.5rem;
      right: 1.5rem;
      bottom: 1.5rem;
    }

    .modal {
      h6 {
        font-size: 1.1666666em;
        padding-bottom: 2rem;
        margin-bottom: 2rem;
      }
    }
  }
}

@include device-mb {
  .faqCard {
    width: 100%;
    height: 9.5rem;
    padding: 1.25rem 2rem 3.5rem;

    .add {
      bottom: 1rem;
    }
  }
}