@import "src/scss/device";
@import "src/scss/_utils";

.booking {
  border-radius: 8px;
  border: 1px solid #e4e4e4;
  box-sizing: border-box;
  position: relative;

  .anchor {
    position: absolute;
    top: -7.25rem;
  }

  .bookingDetailsAnchor {
    position: absolute;
    top: -16.875rem;
  }

  h3 {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    margin-top: 2rem;
  }

  .select {
    width: 30rem;
    margin: .5rem auto 2.5rem;
    height: unset !important;

    > div {
      justify-content: center;
    }

    > ul {
      width: 20.625rem;
      left: 50%;
      top: 3rem !important;
      transform: translateX(-50%);
    }
  }

  .calendarMiniMobile {
    display: none;
  }

  .calendarMini {
    margin: auto 1.5rem;
  }

  .navigation {
    background-color: #fafafa;
    height: 3.5rem;
    display: flex;
    align-items: center;

    i {
      cursor: pointer;
      margin: 0 1.5rem;
      color: #dadada;
      font-size: .875em;
      transition: .2s ease color;

      &:hover {
        color: #ff5a39;
      }
    }

    ul {
      @include invisibleHScroll;
      display: flex;
    }

    li {
      display: flex;
      align-items: center;
      flex-shrink: 0;
      margin-right: 1.5rem;
      border-bottom: 1px solid transparent;
      height: calc(100% - 1px);
      cursor: pointer;
      transition: .2s ease color;

      &:hover {
        color: #ff5a39;
      }

      &[data-active="true"] {
        border-color: #ff5a39;
        font-weight: 500;
      }
    }

  }

  .calendarBody {
    margin: 1rem 2.5rem 2.5rem;
    display: grid;
    grid-template-columns: repeat(7, 9rem);
    grid-column-gap: 0.5rem;
    grid-row-gap: 1rem;
    box-sizing: border-box;

    > li {
      grid-column-start: auto;
      grid-row-start: auto;
      box-sizing: border-box;

      &.header {
        position: relative;
        text-align: center;
        margin-bottom: 2.25rem;

        &:after {
          content: '';
          position: absolute;
          top: -0.25rem;
          right: -0.3rem;
          height: 1.5rem;
          width: 2px;
          background: #e8e8e8;
        }

        &:nth-child(7) {
          &:after {
            display: none;
          }
        }
      }

      &.dayDetails {
        position: relative;
        grid-column-start: 1;
        grid-column-end: 8;
        overflow: hidden;
        transition: 1s ease max-height;
        max-height: 1000px;

        &[data-week="0"], &[data-animation="true"] {
          max-height: 0;
        }

        &[data-week="1"] {
          grid-row-start: 3;
          grid-row-end: 4;
        }

        &[data-week="2"] {
          grid-row-start: 4;
          grid-row-end: 5;
        }

        &[data-week="3"] {
          grid-row-start: 5;
          grid-row-end: 6;
        }

        &[data-week="4"] {
          grid-row-start: 6;
          grid-row-end: 7;
        }

        &[data-week="5"] {
          grid-row-start: 7;
          grid-row-end: 8;
        }

        &[data-week="6"] {
          grid-row-start: 8;
          grid-row-end: 9;
        }
      }

      &.day {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        height: 8.5rem;
        border-radius: 4px;
        border: 1px solid #e8e8e8;
        padding: .25rem .5rem .5rem;
        box-sizing: border-box;

        &:not([data-day-type="dummy"]) {
          cursor: pointer;
        }

        .sticker {
          border-radius: 0 0 0 4px;
        }

        &[data-day-type="dummy"] {
          border: none;
        }

        &[data-day-type="true"] {
          border-color: #ff5a39 !important;
        }

        &[data-day-type="topDeal"] {
          border-color: #00aaf6 !important;
        }

        &[data-day-type="lastMinuteDeal"] {
          border-color: #ffcb00 !important;
        }

        &[data-day-type="soldOut"] {
          border-color: #959595 !important;

          .sticker {
            border-radius: 0 3px 0 4px;
          }
        }

        .date span {
          margin-left: .2rem;
          font-size: .75rem;
        }

        .priceAndSpaces {
          width: 100%;
          text-align: center;

          p:first-child {
            font-weight: 500;
            font-size: 1rem;
          }

          p:last-child {
            font-size: .875rem;
          }
        }
      }
    }
  }

  .button {
    margin: 0 auto;
    max-width: 8rem;
    abbr {
      text-decoration: none;
    }
  }
}

@include device-ipad {
  .booking {
    .bookingDetailsAnchor {
      position: absolute;
      top: -24.5rem;
    }

    h3 {
      font-size: 2.1666666em;
      margin-top: 3rem;
    }

    .select {
      width: 50rem;
      margin: 2rem auto 3rem;

      > ul {
        width: 36.75rem;
        top: 4rem !important;
      }
    }

    .navigation {
      height: 5rem;

      i {
        font-size: 1em;
      }

      li {
        margin-right: 3rem;
      }
    }

    .calendarBody {
      margin: 3rem;
      grid-template-columns: repeat(7, 11rem);
      grid-column-gap: 1rem;
      grid-row-gap: 1rem;

      > li {
        &.header {
          margin-bottom: 3rem;

          &:after {
            top: -0.5rem;
            right: -0.5rem;
            height: 3.25rem;
          }
        }

        &.day {
          height: 12rem;
          padding: .5rem .5rem 1rem;

          .date {
            font-size: .75em;

            span {
              margin-left: .5rem;
              font-size: .6666em;
            }
          }

          .priceAndSpaces {
            p:first-child {
              font-size: .916666em;
            }

            p:last-child {
              font-size: .75em;
            }
          }

          .button {
            width: 9rem;
            height: 2.5rem;
            padding: 0;
            font-size: .583em;
          }
        }
      }
    }
  }
}

@include device-mb {
  .booking {
    border-radius: 0;
    border-left: none;
    border-right: none;
    border-bottom: none;
    padding: 0 1.5rem;

    h3 {
      font-size: 1.66666em;
      margin-top: 2.5rem;
      color: inherit;
    }

    .navigation {
      display: none;
    }

    .select {
      display: none;
    }

    .calendarMiniMobile {
      display: block;
      margin: 1.5rem 0 2.5rem;
    }

    .calendarBody {
      margin: 0;
      grid-template-columns: repeat(3, 1fr);
      grid-column-gap: 0;
      grid-row-gap: 0;
      border-left: 1px solid #e8e8e8;
      border-top: 1px solid #e8e8e8;

      > li {
        &.header {
          display: none
        }

        &.day {
          border-left: none;
          border-top: none;
          border-radius: 0;
          height: 10.625rem;
          padding: .5rem;
          box-sizing:	content-box;

          &[data-day-type="dummy"] {
            display: none;
          }

          &:not([data-day-type="false"]) {
            margin: -1px 0 0 -1px;
            z-index: 1;
            border: 1px solid;

            &[data-last="true"] {
              margin-right: 1px;
            }
          }

          .sticker {
            max-width: 5.5rem;
          }

          .button {
            font-size: .8333333em;
            max-width: 9.5rem;
          }
        }

        &.dayDetails {
          position: relative;
          grid-column-start: 1;
          grid-column-end: 4;
          z-index: 1;
          margin: -1px 0 0 -1px;
          margin-to

          &[data-week="1"],
          &[data-week="2"],
          &[data-week="3"],
          &[data-week="4"],
          &[data-week="5"],
          &[data-week="6"],
          &[data-week="7"]  {
            grid-row-start: unset;
            grid-row-end: unset;
          }

          &[data-triple="1"] {
            grid-row-start: 2;
            grid-row-end: 3;
          }

          &[data-triple="2"] {
            grid-row-start: 3;
            grid-row-end: 4;
          }

          &[data-triple="3"] {
            grid-row-start: 4;
            grid-row-end: 5;
          }

          &[data-triple="4"] {
            grid-row-start: 5;
            grid-row-end: 6;
          }

          &[data-triple="5"] {
            grid-row-start: 6;
            grid-row-end: 7;
          }

          &[data-triple="6"] {
            grid-row-start: 7;
            grid-row-end: 8;
          }

          &[data-triple="7"] {
            grid-row-start: 8;
            grid-row-end: 9;
          }

          &[data-triple="8"] {
            grid-row-start: 9;
            grid-row-end: 10;
          }

          &[data-triple="9"] {
            grid-row-start: 10;
            grid-row-end: 11;
          }

          &[data-triple="10"] {
            grid-row-start: 11;
            grid-row-end: 12;
          }
        }
      }
    }
  }
}