@import "src/scss/device";

.cardsWrapper {
  margin-bottom: 6.12rem;
  padding: 0 1rem;

  > h3 {
    text-align: center;
    font-size: 3.5rem;
    font-weight: bold;
    color: #ff5a39;
  }

  p {
    text-align: center;
    margin-bottom: 1.75rem;

    a {
      display: block;
      font-size: 1rem;
      color: #959595;
      margin-top: 1rem;
      cursor: pointer;
      text-decoration: none;

      i {
        margin-left: 5px;
        font-size: .75rem;
        color: #959595;
      }
    }
  }

  .wrapper {
    margin: auto;
  }
}

@include device-mb {
  .cardsWrapper {
    margin-bottom: 33px;
    padding: 0 5px;

    p {
      margin-bottom: 23px;

      a {
        font-size: 14px;
        font-weight: 400
      }
    }

    & > h3 {
      padding: 0 4px;
      font-size: 28px;
    }
  }
}
