@import "../../../../scss/device";

.cardsWrapper {
  margin-bottom: 98px;
  padding: 0 15px;

  > h3 {
    text-align: center;
    font-size: 56px;
    font-weight: bold;
    color: #ff5a39;
  }

  p {
    text-align: center;
    margin-bottom: 28px;

    a {
      font-size: 16px;
      color: #959595;
      margin-top: 16px;
      cursor: pointer;

      i {
        margin-left: 5px;
        font-size: 12px;
        color: #959595;
      }
    }
  }

  .wrapper {
    margin: auto;
  }
}

@include device-tb {
  .cardsWrapper {
    > h3 {
      font-size: 38px;
    }

    p {
      a {
        font-size: 14px;

        i {
          font-size: 11px;
        }
      }
    }
  }
}

@include device((max: 500px)) {
  .cardsWrapper {
    > h3 {
      font-size: 32px;
    }
  }
}

@include device((max: 350px)) {
  .cardsWrapper {
    padding: 0 5px;

    > h3 {
      font-size: 28px;
    }
  }
}