@import "src/scss/device";
@import "src/scss/_utils";

.searchSelect {
  position: relative;
  outline: none;

  &[data-theme="default"] {
    border: solid 1px #e8e8e8;

    i {
      color: #959595;
    }
  }

  &[data-theme="defaultNoBorder"] {
    height: unset !important;

    .select {
      i, span {
        color: #202020;
      }
    }
  }

  &[data-theme="orange"] {
    .select {
      i, span {
        color: #ff5a39;
        font-weight: bold;
        font-size: 1.625em;
      }
    }
  }

  &[data-theme="fillOrange"] {
    border-radius: 8px;
    background-color: #ff5a39;

    .select {
      i, span {
        color: #fff;
      }
    }
  }

  &[data-theme="light"] {
    border-radius: 5px;
    border: solid 1px #efefef;

    .select {
      i, span {
        color: #fafafa;
      }
    }
  }

  &[data-opened="true"] {
    border-color: #ff5a39 !important;

    .select {
      .icon {
        color: #ff5a39 !important;
        transform: rotate(180deg);
      }
    }
  }

  &[data-size="lg"] {
    .select {
      height: 3.5rem;
      padding: 0 1.5rem;

      i, span {
        font-size: .93em;
      }
    }
  }

  &[data-size="md"], &[data-size="md-font"] {
    .select {
      padding: 0 1.125rem;

      i, span {
        font-size: .812em;
      }
    }
  }

  &[data-size="md"] {
    .select {
      height: 2.5rem;
    }
  }

  &[data-size="md-font"] {
    .select {
      height: 100%;
    }
  }

  &[data-size="no"] {
    .optionBlock {
      top: 2em;
    }
  }

  .select {
    box-sizing: border-box;
    position: relative;
    cursor: pointer;
    display: flex;
    width: 100%;
    transition: 0.2s ease border-color;
    align-items: center;

    i {
      transition: 0.2s ease color, 0.2s ease transform;

      &[data-pos="left"] {
        margin-right: .5rem;
      }

      &[data-pos="right"] {
        margin-left: .5rem;
      }
    }

    span {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    &[data-disabled="true"] {
      i {
        color: #959595 !important;
      }

      span {
        color: #959595 !important;
      }
    }
  }

  .optionBlock {
    z-index: 5;
    position: absolute;
    border-radius: 4px;
    top: 4em;
    left: -1px;
    right: -1px;
    background: #fff;
    padding: 1.56rem 0;
    box-sizing: border-box;
    overflow-y: auto;
    overflow-x: hidden;
    border: 1px solid #efefef;
    max-height: 23.12rem;

    @include scrollbar;

    .option {
      cursor: pointer;
      padding: .78rem 0 .78rem 2rem;
      margin: 0;
      font-size: .875em;
      text-align: left;
      background-color: #fff;
      transition: 0.2s ease background-color;

      &:hover {
        background-color: darken(#fff, 5);
      }

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
}

@include device-ipad {
  .searchSelect {
    &[data-size="lg"] {
      .select {
        height: 5rem;
        padding: 0 2rem;

        i, span {
          font-size: 1em;
        }
      }
    }

    &[data-size="md"] {
      .select {
        height: 4rem;
        padding: 0 1rem;

        i, span {
          font-size: 1em;
        }
      }
    }

    .optionBlock {
      padding: 2rem 0;
    }
  }
}

@include device-mb {
  .searchSelect {
    .select {
      padding: .375rem .375rem .375rem .375rem;

      i {
        margin-right: .5rem;
      }

      i, span {
        font-size: 1em !important;
      }
    }

    .optionBlock {
      top: 6rem;
      padding: 2.5rem 0;

      .option {
        padding: 1.25rem 0 1.25rem 4rem;
        font-size: 1.0833333em;
      }
    }

    &[data-theme="light"] {
      .select {
        margin-right: 1rem;
      }
    }
  }
}