@import '../../scss/device';

.searchSelect {
  position: relative;

  .select {
    cursor: pointer;
    padding: .44rem .44rem .44rem .93rem;
    transition: .2s ease border-color;

    i {
      margin-right: .5rem;
      font-size: .875rem;
      letter-spacing: normal;
      text-align: left;
      transition: .2s ease color, .2s ease transform;
    }

    span {
      font-size: .875rem;
      letter-spacing: normal;
      text-align: left;
    }
    
    &[data-opened="opened"] {
      border-color: #ff5a39 !important;

      i {
        color: #ff5a39 !important;
        transform: rotate(180deg);
      }
    }

    &[data-disabled="disabled"] {
      i {
        color: #959595 !important;
      }

      span {
        color: #959595 !important; 
      }
    }
  }

  .optionBlock {
    z-index: 5;
    position: absolute;
    border-radius: 4px;
    top: 75px;
    left: 0;
    max-height: 370px;
    background: #fff;
    padding: 1.56rem 0;
    min-width: 330px;

    .option {
      cursor: pointer;
      padding: .81rem 0 .81rem 2rem;
      margin: 0;
      font-size: .875rem;
      text-align: left;
      background-color: #fff;
      color: #202020;
      transition: .2s ease background-color;

      &:hover {
        background-color: darken(#fff, 5);
      }

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
  
  &[data-theme="dark"] {
    .select {
      border: solid 1px #e8e8e8;

      i {
        color: #959595;
      }

      span {
        color: #202020;
      }
    }
  }

  &[data-theme="light"] {
    .select {
      margin-right: 8px;
      border-radius: 8px;
      border: solid 1px #fafafa;

      i {
        color: #fafafa;
      }

      span {
        color: #fafafa;
      }
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 1280px) {
  .searchSelect {
    &[data-bodytheme="mobile"] {
      position: static;
      margin-bottom: 12px;
  
      &:last-of-type {
        margin-bottom: 0;
      }
  
      .select {
        padding: 16px;
  
        span {
          font-size: 1rem;
        }
      }
  
      .optionBlock {
        position: static;
        background: transparent;
        padding: 10px 0;
        overflow-y: visible;
        max-height: none;
        width: auto;
  
        .option {
          padding: 0 0 0 10px;
          color: #202020;
          font-size: 12px;
          font-weight: 400;
          line-height: 40px;
          border-bottom: 1px solid #fafafa;
          margin-bottom: 10px;
  
          &:last-of-type {
            border-bottom: 0;
            margin-bottom: 0;
          }
        }
      }
  
      &[data-theme="dark"] {
        .select {
          border-radius: 4px;
        }
      }
    }
  }
}

@media screen and (max-width: 1615px) {
  .searchSelect {

    .optionBlock {
      top: 65px;
      padding: 20px 0;
  
      .option {
        padding: 10px 0 10px 32px;
        font-size: 13px;
      }
    }
  
    &[data-theme="light"] {
      .select {
        margin-right: 8px;
      }
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1415px) {
  .searchSelect {
    .optionBlock {
      top: 65px;
      padding: 20px 0;
  
      .option {
        padding: 10px 0 10px 32px;
        font-size: 13px;
      }
    }
  
    &[data-theme="light"] {
      .select {
        margin-right: 8px;
      }
    }
  }
}

@include device-tb {
  .searchSelect {

    &[data-theme="light"] {
      .select {
        padding: 5px;
        margin-right: 5px;

        i {
          margin-right: 5px
        }

        span {
          font-size: 8px;
        }
      }
    }
  }
}