.activitiesTourThingsCardsRow, .topDestinationsCardsRow {
  display: flex;
  justify-content: center;
  >div {
    margin-right: 16px;

    &:last-child {
      margin-right: 0;
    }
  }

  &:last-child {
    margin-top: 16px;
  }
}

.cardsRow {
  display: flex;
  justify-content: center;
  >div, >img {
    margin-right: 16px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.topDestinationsCardsColumn {
  display: flex;
  flex-direction: column;

  >div:last-child {
    margin-top: 16px;
  }
}

.instagramCards {
  position: relative;
  margin-bottom: -150px !important;
  z-index: 1;
}

.topDestinations {
  display: grid;
  margin: 0 auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  max-width: 1520px;

  .td1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
  }

  .td2 {
    grid-column-start: 3;
    grid-column-end: 4;
    margin-left: 6px;
  }

  .td3 {
    grid-column-start: 4;
    grid-column-end: 6;
    margin-left: 8px;
  }

  .td4 {
    grid-column-start: 6;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 3;
    margin-left: 12px;
  }

  .td5 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
  }

  .td6 {
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 3;
  }
}

.travelStories {
  display: grid;
  margin: 0 auto;
  max-width: 1520px;
  grid-template-columns: 1fr 1fr 1fr;

  .item1 {
    grid-column-start: 1;
    grid-column-end: 4;
  }

  .item2 {
    grid-column-start: 1;
    grid-column-end: 3;
    margin-top: 8px;
  }

  .item3 {
    grid-column-start: 3;
    grid-column-end: 4;
    margin: 8px 0 0 8px;
  }
}

@media screen and (max-width: 1280px) {
  .activitiesTourThingsCardsRow {
    >div {
      margin-right: 8px;

      &:last-child {
        margin-right: 0;
      }
    }

    &:last-child {
      margin-top: 8px;
    }
  }

  .travelStories {
    max-width: 1044px;
  }
}

@media screen and (max-width: 1024px) {
  .travelStories {
    max-width: 952px;
  }
}

@media screen and (max-width: 768px) {
  .activitiesContainer {
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    &::scrollbar {
      width: 0px;
      background: transparent;
    }
  }

  .activitiesTourThingsCardsRow {

    &:last-child {
      margin-top: 0;
      margin-left: 8px;
    }
  }
}

@media screen and (max-width: 320px) {
  .travelStories {
    grid-template-columns: 1fr;

    .item1 {
      grid-column-start: 1;
      grid-column-end: 2;
    }

    .item2 {
      grid-column-start: 1;
      grid-column-end: 2;
      margin-top: 8px;
    }

    .item3 {
      grid-column-start: 1;
      grid-column-end: 2;
      margin: 8px 0 0 0;
    }
  }
}