@import "src/scss/device";

.searchTravelSection {
  margin-top: -6.5rem;
}

.bookWithUsSection {
  margin: 0 auto;
}

.section {
  margin: 0 auto 6.12rem;
  max-width: 95rem;
}

@include device-tb {
  .section {
    margin: 0 auto 6.3rem;
    max-width: 104.8rem;
  }

  .searchTravelSection {
    margin-top: -7.2rem;
  }
}

@include device-ipad {
  .section {
    margin: 0 auto 8rem;
    max-width: 119rem;
  }
}

@include device-mb {
  .section {
    margin: 0 auto 6.12rem;
    max-width: 38rem;
  }

  .searchTravelSection {
    margin-top: -7rem;
  }
}