.activitiesTourThingsCardsRow {
  display: flex;
  div {
    margin-right: 16px;
    &:last-child {
      margin-right: 0;
    }
  }
  &:last-child {
    margin-top: 16px;
  }
}

.cardsRow {
  display: flex;
  div {
    margin-right: 16px;
    &:last-child {
      margin-right: 0;
    }
  }
}

.whyBook {
  display: flex;
  img {
    margin-right: 192px;
    &:last-child {
      margin-right: 0;
    }
  }
}