.advancedSearchTravelInput {
  position: relative;
  background: rgba(255, 255, 255, .26);
  border-radius: 60px;
  width: 948px;
  margin: 0 auto;
  height: 56px;
  padding: 8px 55px 8px 30px;
  font-size: 16px;

  .searchBlock {
    display: inline-flex;
  }

  >button {
    position: absolute;
    right: 8px;
    top: 8px;
  }

  .searchImage {
    position: absolute;
    bottom: -32px;
    left: 350px;
    right: 0px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 320px;
    height: 32px;
    border-radius: 0 0 50px 50px;
    color: #fff;
    font-size: 12px;
    background-color: #ff5a39;
    
    i {
      margin-right: 5px;
    }
  }
}

@media screen and (max-width: 1615px) {
  .advancedSearchTravelInput {
    width: 780px;
    height: 50px;
    padding: 6px 55px 8px 30px;
    font-size: 16px;
  
    >button {
      width: 188px !important;
      height: 52px !important;
      top: 6px !important;
      right: 6px !important;
      font-size: 16px !important;
    }
  
    .searchImage {
      left: 300px;
      bottom: -28px;
      width: 280px;
      height: 28px;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1415px) {
  .advancedSearchTravelInput {
    width: 611px;
    height: 42px;
  
    >button {
      width: 168px !important;
      height: 48px !important;
      top: 4px !important;
      right: 4px !important;
      font-size: 14px !important;
    }
  
    .searchImage {
      left: 230px;
      bottom: -24px;
      width: 240px;
      height: 24px;
    }
  }
}

@media screen and (max-width: 767px) {
  .advancedSearchTravelInput {
    display: none;
  }
}