.advancedSearchTravelInput {
  position: relative;
  background: rgba(255, 255, 255, .26);
  border-radius: 60px;
  width: 948px;
  margin: 0 auto;
  height: 56px;
  padding: 8px 55px 8px 30px;
  font-size: 16px;

  .searchBlock {
    display: inline-flex;
  }

  >button {
    position: absolute;
    right: 8px;
    top: 8px;
  }

  .searchImage {
    position: absolute;
    bottom: -32.5px;
    left: 350px;
    right: 0px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 320px;
    height: 32px;
    border-radius: 0 0 50px 50px;
    color: #fff;
    font-size: 12px;
    background-color: #ff5a39;
    
    i {
      margin-right: 5px;
    }
  }
}