@import '../../../../scss/device';

.advancedSearchTravelInput {
  position: relative;
  background: rgba(255, 255, 255, .26);
  border-radius: 60px;
  margin: 0 auto;
  padding: 8px 8px 8px 30px;
  font-size: 16px;
  display: flex;
  align-items: center;
  width: 1008px;
  height: 72px;
  box-sizing: border-box;


  .searchBlock {
    flex: 1;
    display: flex;
    justify-content: space-between;

    div[data-theme] {
      flex: 1
    }
  }

  .searchBtn {
    font-size: 18px;
    width: 208px;
    height: 100%;
  }

  .searchImage {
    position: absolute;
    bottom: -32px;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 320px;
    height: 32px;
    color: #fff;
    font-size: 12px;
    background: url("./assets/Baidge.svg") no-repeat;
    background-size: cover;

    i {
      margin-right: 5px;
    }
  }
}

@include device-tb {
  .advancedSearchTravelInput {
    width: 696px;
    height: 56px;
    padding: 4px 4px 4px 20px;

    .searchImage {
      bottom: -24px;
      width: 240px;
      height: 24px;
    }

    .searchBtn {
      width: 168px;
      font-size: 14px;
    }
  }
}

@include device-mb {
  .advancedSearchTravelInput {
    display: none;
  }
}
