@import "src/scss/device";

.checkAviability {
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background: #fff;
  border-top: 1px #e8e8e8;
  box-sizing: border-box;
  height: 8rem;
  justify-content: center;
  align-items: center;

  button {
    height: 5rem;
    width: 30rem;
  }

  @include device-mb {
    display: flex;
  }
}