$ig-screen-sm-min: 768px !default;
$ig-screen-xsm-min: 480px !default;
$ig-white: #fff !default;
$ig-black: #000 !default;
$ig-blue: #337ab7 !default;
$ig-background-black: rgba(0, 0, 0, .4) !default;
$ig-transparent: rgba(0, 0, 0, 0) !default;

.imageGallery {
  user-select: none;
  -webkit-tap-highlight-color: $ig-transparent;

  &.fullscreenModal {
    background: $ig-black;
    bottom: 0;
    height: 100%;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 5;

    .imageGalleryContent {
      top: 50%;
      transform: translateY(-50%);
    }
  }

}

.imageGalleryContent {
  position: relative;
  line-height: 0;
  top: 0;

  [data-fullscreen="true"] {
    background: $ig-black;

    .imageGallerySlide {
      background: $ig-black;
    }
  }
}

.imageGallerySlideWrapper {
  position: relative;
}

.imageGalleryFullScreenButton,
.imageGalleryPlayButton,
.imageGalleryLeftNav,
.imageGalleryRightNav {
  appearance: none;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  outline: none;
  position: absolute;
  z-index: 4;
}

.imageGalleryFullScreenButton,
.imageGalleryPlayButton {
  bottom: 0;
  width: 32px;
  height: 32px;
  background: #000;
}

.imageGalleryFullScreenButton {
  right: 0;
}

.imageGalleryPlayButton {
  left: 0;
}

.imageGalleryLeftNav,
.imageGalleryRightNav {
  color: $ig-white;
  font-size: 5em;
  padding: 50px 15px;
  top: 50%;
  transform: translateY(-50%);

  &[disabled] {
    cursor: disabled;
    opacity: .6;
    pointer-events: none;
  }

  @media (max-width: $ig-screen-sm-min) {
    font-size: 3.4em;
    padding: 20px 15px;
  }

  @media (max-width: $ig-screen-xsm-min) {
    font-size: 2.4em;
    padding: 0 15px;
  }
}

.imageGalleryLeftNav {
  left: 0;
}

.imageGalleryRightNav {
  right: 0;
}

.imageGallerySlides {
  line-height: 0;
  overflow: hidden;
  position: relative;
  white-space: nowrap;
}

.imageGallerySlide {
  background: $ig-white;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;

  &[data-position="center"] {
    position: relative;
  }

  img {
    width: 100%;
  }

  .imageGalleryDescription {
    background: $ig-background-black;
    bottom: 70px;
    color: $ig-white;
    left: 0;
    line-height: 1;
    padding: 10px 20px;
    position: absolute;
    white-space: normal;

    @media (max-width: $ig-screen-sm-min) {
      bottom: 45px;
      font-size: .8em;
      padding: 8px 15px;
    }

  }
}

.imageGalleryThumbnailsWrapper {
  position: relative;
}

.imageGalleryThumbnails {
  overflow: hidden;
  padding: 5px 0;

  @media (max-width: $ig-screen-sm-min) {
    padding: 3px 0;
  }

  .imageGalleryThumbnailsContainer {
    cursor: pointer;
    text-align: center;
    transition: transform .45s ease-out;
    white-space: nowrap;
  }

}

.imageGalleryThumbnail {
  display: inline-block;
  border: 4px solid transparent;
  transition: border .3s ease-out;
  width: 100px;

  @media (max-width: $ig-screen-sm-min) {
    border: 3px solid transparent;
    width: 75px;
  }

  + .imageGalleryThumbnail {
    margin-left: 2px;
  }

  .imageGalleryThumbnailInner {
    position: relative;
  }

  img {
    vertical-align: middle;
    width: 100%;
  }

  &[data-active="true"] {
    border: 4px solid $ig-blue;

    @media (max-width: $ig-screen-sm-min) {
      border: 3px solid $ig-blue;
    }
  }
}