@import 'src/scss/device';

.advancedSearchTravel {
  position: relative;
  background: rgba(255, 255, 255, .26);
  border-radius: 3.75rem;
  padding: .5rem .5rem .5rem 1.875rem;
  display: flex;
  align-items: center;
  box-sizing: border-box;

  &[data-theme="menu"] {
    flex-direction: column;
    align-items: flex-start;
    padding: 0;

    .searchBlock {
      display: flex;
      flex-direction: column;
      width: 100%;
      margin-right: 0;
      grid-template-columns: unset;
      grid-column-gap: unset;
    }

    .lastSelect, .numberOfDays {
      margin-bottom: 1.5rem;
      > div {
        height: 6rem;
      }

      > ul {
        top: 7.5rem;
      }
    }

    .buttons {
      display: flex;
      width: 100%;
      align-items: center;

      .searchBtn {
        height: 6rem;
        font-size: 1.1666667em !important;
      }

      .resetButton {
        display: block;
      }
    }
  }

  .resetButton {
    font-size: .9em;
    margin-left: 1rem;
    display: none;
  }

  .calendar {
    padding: 0 1rem;
  }

  .searchBlock {
    display: flex;
    height: 100%;
    margin-right: .5rem;
    display: grid;
    grid-template-columns: repeat(5, 9rem);
    grid-column-gap: .5rem;

    .lastSelect {
      > ul {
        min-width: 20.625rem;
      }
    }

    & > div {
      &[data-theme] {
        display: flex;

        & > [data-opened] {
          overflow: hidden;
          max-height: 3.5rem;
          box-sizing: border-box;
        }
      }
    }
  }

  .buttons {
    width: 13rem;
  }

  .searchBtn {
    width: 13rem;
  }
}

@include device-mb {
  .advancedSearchTravelInput {
    display: none;
  }
}
