@import 'src/scss/device';

.advancedSearchTravel {
  position: relative;
  background: rgba(255, 255, 255, .26);
  border-radius: 3.75rem;
  padding: .5rem .5rem .5rem 1.875rem;
  display: flex;
  align-items: center;
  box-sizing: border-box;

  &[data-theme="menu"] {
    flex-direction: column;
    align-items: flex-start;
    padding: 0;

    .searchBlock {
      flex-direction: column;
      width: 100%;
    }

    .lastSelect, .numberOfDays {
      margin-bottom: 1.5rem;
      > div {
        height: 6rem;
      }

      > ul {
        top: 7.5rem;
      }
    }

    .searchBtn {
      height: 6rem;
      font-size: 1.1666667em !important;
    }
  }

  .resetButton {
    font-size: .9em;
    margin-left: 1rem;
  }

  .calendar {
    padding: 0 1rem;
  }

  .searchBlock {
    display: flex;
    height: 100%;
    width: 47.5rem;
    // overflow: hidden;

    .lastSelect {
      > ul {
        max-height: 23.5rem;
        min-width: 20.625rem;
      }
    }

    .numberOfDays, .lastSelect {
      margin-right: .5rem;

      // > div {
      //   font-size: 1rem !important;
      // }
    }

    & > div {
      &[data-theme] {
        display: flex;

        & > [data-opened] {
          overflow: hidden;
          max-height: 3.5rem;
          box-sizing: border-box;
        }
      }
    }
  }

  .buttons {
    width: 13rem;
  }

  .searchBtn {
    width: 13rem;
  }
}

@include device-mb {
  .advancedSearchTravelInput {
    display: none;
  }
}
