@import "src/scss/device";

.instagramCards {
  display: flex;
  margin: 0 auto;
  list-style-type: none;

  li {
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 8px;
    margin-right: 1rem;
    overflow: hidden;

    &:hover {
      img {
        transform: scale3d(1.1,1.1,1.1);
      }
    }

    img {
      width: 100%;
      height: 100%;
      border-radius: 8px;
      transition: transform 1s;

      @include device((min: 1920px)) {
        border-radius: .5rem;
      }
    }

    &[data-hidden="true"] {
      display: none;
    }

    &:nth-child(6) {
      margin-right: 0;
    }
  }
}

// @include device-tb {
//   .instagramCards {
//     max-width: 1044px;

//     li {
//       margin-right: 8px;
//     }
//   }
// }

// @media screen and (max-width: 1024px) {
//   .instagramCards {
//     max-width: 952px;
//   }
// }

@include device-mb {
  .instagramCards {
    max-width: unset;
    overflow-x: scroll;
    overflow: -moz-scrollbars-none;
    overflow-y: hidden;
    margin: 0 -0.6rem;

    li {
      min-width: 128px;
      margin-right: 8px;

      &:nth-child(6) {
        margin-right: 8px;
      }

      &[data-hidden="true"] {
        display: block;
      }
    }

    &::-webkit-scrollbar {
      width: 0 !important;
    }
  }
}