.instagramCard {
  position: relative;
  border-radius: 8px;
  img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
  }
}

.instagramCards {
  display: flex;
  margin: 0 auto;
  max-width: 1520px;

  div {
    margin-right: 16px;

    &:last-child {
      margin-right: 0;
    }
  }
}

@media screen and (max-width: 1280px) {
  .instagramCards {
    max-width: 1044px;

    div {
      margin-right: 8px;
    }
  }
}

@media screen and (max-width: 1024px) {
  .instagramCards {
    max-width: 952px;
  }
}

@media screen and (max-width: 767px) {
  .instagramCard {
    min-width: 128px;
  }

  .instagramCards {
    overflow-x: scroll;
    overflow-y: hidden;
    &::scrollbar {
      width: 0px;
      background: transparent;
    }
  }
}