@import "src/scss/device";

.icon {
  &[data-size="xl"] {
    height: 4rem;
    width: 4rem;
  }

  &[data-size="md"] {
    height: 3rem;
    width: 3rem;
  }
}

@include device-ipad {
  .icon {
    &[data-size="xl"] {
      height: 6.5rem;
      width: 6.5rem;
    }

    &[data-size="md"] {
      height: 5rem;
      width: 5rem;
    }
  }
}

@include device-mb {
  .icon {
    &[data-size="md"] {
      height: 3.5rem;
      width: 3.5rem;
    }
  }
}