@import "src/scss/device";

.calendar {
  // padding: 0 1.5rem;
  box-sizing: border-box;
  width: 17.5rem;

  .navigation {
    display: flex;
    justify-content: space-between;
    align-content: center;
    font-size: .875em;
    margin-bottom: 2rem;

    i {
      color: #dadada;
      cursor: pointer;

      &:hover {
        color: #ff5a39;
      }
    }
  }

  ul {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(7, 2.5rem);

    &.days {
      border-left: 1px solid #e8e8e8;
      box-sizing: border-box;

      li {
        border-right: 1px solid #e8e8e8;
        border-bottom: 1px solid #e8e8e8;

        &[data-active="true"] {
          background-color: #ff5a39 !important;
        }

        &[data-empty="false"]:hover {
          background: #e8e8e8;
          cursor: pointer;
        }
      }
    }

    &.header {
      border-bottom: 1px solid #e8e8e8;

      abbr {
        text-decoration: none;
      }
    }

    li {
      grid-column-start: auto;
      grid-row-start: auto;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 2.5rem;
      box-sizing: border-box;
    }
  }
}

@include device-ipad {
  .calendar {
    width: 31.5rem;

    .navigation {
      font-size: 1.1666666em;
    }

    ul {
      grid-template-columns: repeat(7, 4.5rem);

      li {
        height: 4.5rem;
      }
    }
  }
}

@include device-mb {
  .calendar {
    width: 35rem;

    .navigation {
      font-size: 1.1666666em;
    }

    ul {
      display: grid;
      grid-template-columns: repeat(7, 5rem);

      li {
        height: 5rem;
      }
    }
  }
}