@import "src/scss/device";

.calendar {
  box-sizing: border-box;

  .navigation {
    display: flex;
    justify-content: space-between;
    align-content: center;
    font-size: 0.875em;
    margin-bottom: 2rem;

    i {
      color: #dadada;
      cursor: pointer;

      &:hover {
        color: #ff5a39;
      }
    }
  }

  ul {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(7, 1fr);

    &.days {
      border-left: 1px solid #e8e8e8;
      box-sizing: border-box;

      li {
        border-right: 1px solid #e8e8e8;
        border-bottom: 1px solid #e8e8e8;

        &[data-style="active"] {
          background-color: #ff5a39 !important;
        }

        &[data-style="disabled"] {
          color: #9f9f9f;
        }

        &:hover:not([data-style="empty"]):not([data-style="disabled"]) {
          background: #e8e8e8;
          cursor: pointer;
        }
      }
    }

    &.header li abbr,
    &.days li div {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
    }

    &.header {
      border-bottom: 1px solid #e8e8e8;

      abbr {
        text-decoration: none;
      }
    }

    li {
      grid-column-start: auto;
      grid-row-start: auto;
      position: relative;
      box-sizing: border-box;

      &:before {
        content: "";
        display: block;
        padding-top: 100%;
      }
    }
  }
}

@include device-ipad {
  .calendar {
    .navigation {
      font-size: 1.1666666em;
    }
  }
}

@include device-mb {
  .calendar {
    width: 100%;

    .navigation {
      font-size: 1.1666666em;
    }
  }
}
