@import "src/scss/device";

.filter {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;

    h4 {
      font-size: 1.125em;
      font-weight: 600;
      margin-left: 1.5rem;
    }

    button {
      width: 10rem;
    }
  }

  .controls {
    display: grid;
    grid-template-columns: repeat(9, 7rem);
    grid-gap: 1rem;

    &[data-show-all="false"] .checkbox:nth-of-type(n+8):nth-of-type(-n+32) {
      display: none;
    }
  }

  .select {
    grid-column-start: 1;
    grid-column-end: 3;

    i {
      margin-left: .5rem;

      &[data-filled="false"] {
        color: #dadada;
      }
    }
  }

  .ellipsis {
    font-size: 2.25em;
    align-items: baseline;
    line-height: .875em;
  }
}

@include device-ipad {
  .filter {
    .header{
      margin-bottom: 2rem;

      h4 {
        font-size: 1.1666666em;
        margin-left: 2rem;
      }

      button {
        width: 11rem;
      }
    }

    .controls {
      grid-template-columns: repeat(9, 10.25rem);

      &[data-show-all="false"] .checkbox:nth-of-type(n+7):nth-of-type(-n+32) {
        display: none;
      }
    }

    .ellipsis {
      font-size: 3em !important;
      line-height: .5em;
    }
  }
}

@include device-mb {
  .filter {
    .header {
      margin-bottom: 1rem;
    }

    .controls {
      grid-template-columns: repeat(2, 18.5rem);

      &[data-show-all="false"] {
        .select {
          display: none;
        }

        .checkbox:nth-of-type(n+4):nth-of-type(-n+32) {
          display: none;
        }
      }
    }
  }
}