@import 'src/scss/device';

.searchTravelSection {
  position: relative;
  background-image: url('./assets/background1920.jpg');
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  padding: 12.5rem 0 31.25rem 0;

  .mask {
    mask-position: 50% calc(50% + 30rem);
  }

  .advancedSearchTravel {
    margin: 0 auto;
    width: 63rem;
    height: 4.5rem;
  }

  .searchImage {
    user-select: none;
    position: absolute;
    bottom: -2rem;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20rem;
    height: 2rem;
    color: #fff;
    font-size: .75em;
    background: url("./assets/baidge.svg") no-repeat;
    background-size: cover;

    i {
      margin-right: 5px;
    }
  }


  h1 {
    position: relative;
    z-index: 1;
    margin: 0 0 .625rem 0;
    font-size: 4.5em;
    font-weight: bold;
    text-align: center;
    color: #ffffff;

    br {
      display: none;
    }
  }

  h2 {
    position: relative;
    z-index: 1;
    margin-bottom: 2.18rem;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    color: #ffffff;

    br {
      display: none;
    }
  }

  .mobileInput {
    display: none;
    cursor: pointer;
    margin: 0 15px;
    height: 48px;
    justify-content: space-between;
    align-items: center;
    border-radius: 60px;
    background-color: rgba(#fff, .26);

    div {
      &:first-of-type {
        padding-left: 11px;

        i {
          color: #CAD9EA;
          font-size: 11px;
          margin-right: 10px;
        }

        span {
          color: #CAD9EA;
          font-size: 14px;
          font-weight: 400;
          line-height: 32px;
        }
      }

      &:last-of-type {
        padding-right: 12px;

        i {
          color: #CAD9EA;
          font-size: 10px;
        }

        span {
          color: #CAD9EA;
          font-size: 11px;
          font-weight: 400;
          line-height: 32px;
          margin-right: 7px;
        }
      }
    }
  }
}

@include device((min: 1921px)) {
  .searchTravelSection {
    background-image: url('./assets/backgroundHigh.jpg');
    background-size: cover;
  }
}

@include device-tb {
  .searchTravelSection {
    padding: 15rem 0 23rem 0;
    background-image: url('./assets/background1920.jpg?resize&size=1280');

    .mask {
      mask-position: 50% calc(50% + 29rem);
    }

    h1 {
      font-size: 52px;
    }

    h2 {
      font-size: 26px;
    }
  }
}

@include device-mb {
  .searchTravelSection {
    padding: 12.5rem 0;
    background-image: url('./assets/background1920.jpg?resize&size=768');

    .mask {
      mask-position: 50% calc(50% + 20.5rem);
    }

    h1 {
      font-size: 2.6666667em;
      margin-bottom: 0;

      br {
        display: block;
      }
    }

    h2 {
      font-size: 1.1666667em;
      margin-bottom: 2rem;

      br {
        display: block;
      }
    }

    .advancedSearchTravel {
      display: none;
    }

    .mobileInput {
      display: flex;
    }
  }
}
