@import "src/scss/device";

.activitiesSection {
  height: 41rem;
  overflow: hidden;
}

.countryDescription {
  display: none;
}

.topActivities {
  z-index: 5;
  margin: 0 12.5rem;
}

.moreActivities {
  margin: 0 12.5rem 6.12rem 12.5rem;
}

@include device-tb {
  .topActivities {
    margin: 0 2.57rem;
  }

  .moreActivities {
    margin: 0 11.6rem 6.3rem 11.6rem;
  }
}

@include device-ipad {
  .moreActivities {
    margin: 0 4.5rem 8rem 4.5rem;
  }

  .topActivities {
    margin: 0;
  }

  .countryDescription {
    display: block;
    margin: 0 2.25rem 3.625rem 2.25rem;
  }
}

@include device-mb {
  .activitiesSection {
    height: 23.25rem;
    background-size: cover;
  }

  .moreActivities {
    margin: 0 .6rem 6.12rem .6rem;
  }

  .countryDescription {
    margin: 2.5rem 1.5rem 3.625rem 1.5rem;
  }
}