@import "src/scss/device";

.activitiesSection {
  height: 41rem;
  overflow: hidden;
}

.countryDescription {
  display: none;
}

.topActivities {
  z-index: 5;
  margin: 0 auto;
  max-width: 95rem;
}

.moreActivities {
  margin: 0 auto 6.12rem;
  max-width: 95rem;
}

@include device-ipad {
  .moreActivities {
    margin: 0 auto 8rem;
    max-width: 119rem;
  }

  .topActivities {
    max-width: 119rem;
    margin: 8rem auto;
  }

  .countryDescription {
    display: block;
    max-width: 119rem;
    margin: 0 auto 3.625rem;
  }
}

@include device-mb {
  .activitiesSection {
    height: 23.25rem;
    background-size: cover;
  }

  .topActivities {
    margin-left: 1rem;
  }

  .moreActivities {
    margin: 0 auto 6.12rem;
    max-width: 38rem;
  }

  .countryDescription {
    margin: 2.5rem auto 3.625rem;
    max-width: 35rem;
  }
}