.bookingCalendar {
  margin-top: 3rem;
  border-radius: 8px;
  border: 1px solid #e4e4e4;
  width: 71rem;

  h3 {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    margin-top: 2rem;
  }

  h4 {
    color: #ff5a39;
    font-size: 1.625em;
    font-weight: bold;
    margin: .5rem 0 2.5rem;
    text-align: center;
  }

  .navigation {
    background-color: #fafafa;
    height: 3.5rem;
    display: flex;
    align-items: center;

    i {
      cursor: pointer;
      margin: 0 1.5rem;
      color: #dadada;
      font-size: .875em;
      transition: .2s ease color;

      &:hover {
        color: #ff5a39;
      }
    }

    ul {
      overflow: hidden;
      display: flex;
    }

    li {
      display: flex;
      align-items: center;
      flex-shrink: 0;
      margin-right: 1.5rem;
      border-bottom: 1px solid transparent;
      height: calc(100% - 1px);
      cursor: pointer;
      transition: .2s ease color;

      &:hover {
        color: #ff5a39;
      }

      &[data-active="true"] {
        border-color: #ff5a39;
        font-weight: 500;
      }
    }

  }

  .calendarBody {
    margin: 1rem 2.5rem 2.5rem;
    display: grid;
    grid-template-columns: repeat(7, 9rem);
    grid-column-gap: 0.5rem;
    grid-row-gap: 1rem;

    > li {
      grid-column-start: auto;
      grid-row-start: auto;

      &.header {
        position: relative;
        text-align: center;
        margin-bottom: 2.25rem;

        &:after {
          content: '';
          position: absolute;
          top: -0.25rem;
          right: -0.3rem;
          height: 1.5rem;
          width: 2px;
          background: #e8e8e8;
        }

        &:nth-child(7) {
          &:after {
            display: none;
          }
        }
      }

      &.dayDetails {
        grid-column-start: 1;
        grid-column-end: 8;

        &[data-week="0"] {
          display: none;
        }

        &[data-week="1"] {
          grid-row-start: 3;
          grid-row-end: 4;
        }

        &[data-week="2"] {
          grid-row-start: 4;
          grid-row-end: 5;
        }

        &[data-week="3"] {
          grid-row-start: 5;
          grid-row-end: 6;
        }

        &[data-week="4"] {
          grid-row-start: 6;
          grid-row-end: 7;
        }

        &[data-week="5"] {
          grid-row-start: 7;
          grid-row-end: 8;
        }
      }

      &.day {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        height: 8.5rem;
        border-radius: 4px;
        border: 1px solid #e8e8e8;
        padding: .25rem .5rem .5rem;
        box-sizing: border-box;

        .sticker {
          border-radius: 0 0 0 4px;
        }

        &[data-day-type="dummy"] {
          border: none;
        }

        &[data-day-type="topDeal"] {
          border-color: #00aaf6;
        }

        &[data-day-type="lastMinuteDeal"] {
          border-color: #ffcb00;

          .sticker p {
            font-size: .5rem;
          }
        }

        &[data-day-type="soldOut"] {
          border-color: #959595;

          .sticker {
            border-radius: 0 3px 0 4px;
          }
        }

        .date span {
          margin-left: .2rem;
          font-size: .75rem;
        }

        .priceAndSpaces {
          width: 100%;
          text-align: center;

          p:first-child {
            font-weight: 500;
          }

          p:last-child {
            font-size: .875rem;
          }
        }
      }
    }
  }

  .button {
    margin: 0 auto;
  }
}
