@import "src/scss/device";

.mobileMenuWrapper {
  .background {
    position: fixed;
    display: none;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 10;
    background-color: rgba(#000, 0.4);

    &[data-open="true"] {
      display: block;

      &~body {
        position: fixed;
        overflow-y: hidden;
      }
    }
  }

  .menu {
    overflow: auto;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    width: 42.4rem;
    z-index: 15;
    background-color: #fff;
    box-sizing: border-box;
    padding: .5rem .5rem 1.5rem 1rem;
    transition: .2s ease transform, .2s ease opacity;
    transform: translateX(42.4rem);
    opacity: 0;

    &[data-open="true"] {
      transform: translateX(0);
      opacity: 1;
    }
  }
}

@include device-tb {
  .mobileMenuWrapper {
    .menu {
      width: 40rem;
      transform: translateX(40rem);
    }
  }
}

@include device-ipad {
  .mobileMenuWrapper .menu {
    padding: 1rem 1rem 3rem 2rem;
  }
}

@include device-mb {
  .mobileMenuWrapper .menu {
    width: 33rem;
    transform: translateX(33rem);
  }
}