.mobileMenuWrapper {
  .background {
    position: fixed;
    display: none;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 10;
    background-color: rgba(#000, 0.4);

    &[data-open="true"] {
      display: block;

      &~body {
        position: fixed;
        overflow-y: hidden;
      }
    }
  }

  .menu {
    position: fixed;
    top: 0;
    bottom: 0;
    right: -100%;
    width: 89%;
    z-index: 15;
    overflow-y: scroll;
    background-color: #fff;
    padding: 18px 8px 25px 17px;
    transition: .2s ease transform;

    &[data-open="true"] {
      transform: translateX(-103%);
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1280px) {
  .mobileMenuWrapper {
    .menu {
      width: 400px;
      right: -435px;

      &[data-open="true"] {
        transform: translateX(-435px);
      }
    }
  }
}

@media screen and (min-width: 700px) and (max-width: 768px) {
  .mobileMenuWrapper {
    .menu {
      &[data-open="true"] {
        transform: translateX(-108.1%);
      }
    }
  }
}

@media screen and (max-width: 700px) {
  .mobileMenuWrapper {
    .menu {
      &[data-open="true"] {
        transform: translateX(-106.9%)
      }
    }
  }
}

@media screen and (max-width: 565px) {
  .mobileMenuWrapper {
    .menu {
      &[data-open="true"] {
        transform: translateX(-105.8%)
      }
    }
  }
}


@media screen and (min-width: 375px) and (max-width: 456px) {
  .mobileMenuWrapper {
    .menu {
      &[data-open="true"] {
        transform: translateX(-104.3%);
      }
    }
  }
}

@media screen and (min-width: 340px) and (max-width: 375px) {
  .mobileMenuWrapper {
    .menu {
      &[data-open="true"] {
        transform: translateX(-103.4%);
      }
    }
  }
}
@media screen and (min-width: 320px) and (max-width: 340px) {
  .mobileMenuWrapper {
    .menu {
      &[data-open="true"] {
        transform: translateX(-102.5%);
      }
    }
  }
}