.headerInput {
  margin: auto;
  position: relative;
  width: 1008px;
  img {
    position: absolute;
    bottom: -32.5px;
    left: 350px;
    right: 0px;
  }
}

.input {
  input {
    width: 728px;
  }
}