.header-input {
  margin: auto;
  position: relative;
  width: 1000px;
  border-radius: 60px;
  -webkit-backdrop-filter: blur(50px);
  backdrop-filter: blur(50px);
  background-color: rgba(#ffffff, 0.26);

  img {
    position: absolute;
    bottom: -32.5px;
    left: 350px;
    right: 0px;
  }

  input {
    padding: 5px 5px 5px 20px;
    outline: none;
    background: transparent;
    border: none;
    width: 750px;
    height: 56px;
    font-size: 14px;
    line-height: 1.71;
    text-align: left;
    color: #ffffff;

    &::-webkit-input-placeholder { 
      font-size: 14px;
      line-height: 1.71;
      text-align: left;
      color: #ffffff; 
    }

    &:-ms-input-placeholder { 
      font-size: 14px;
      line-height: 1.71;
      text-align: left;
      color: #ffffff; 
    }

    &::-ms-input-placeholder { 
      font-size: 14px;
      line-height: 1.71;
      text-align: left;
      color: #ffffff; 
    }

    &::placeholder { 
      font-size: 14px;
      line-height: 1.71;
      text-align: left;
      color: #ffffff; 
    } 
  }

  button {
    position: absolute;
    right: 5px;
    top: 5px;
  }
}