@import "src/scss/device";

.lastMinuteDeal {
  display: flex;
  margin: 0 auto;
  max-width: 79.1vw;
  list-style-type: none;

  li {
    width: 100%;
    margin-right: 1rem;

    &:nth-child(4) {
      margin-right: 0;
    }
  }
}

@include device((max: 1128px)) { //940
  .lastMinuteDeal {
    max-width: 1136px;
    overflow-x: scroll;
    overflow: -moz-scrollbars-none;
    overflow-y: hidden;

    li {
      margin-right: 16px;

      &:nth-child(4) {
        margin-right: 16px;
      }
    }

    &::-webkit-scrollbar {
      width: 0 !important;
    }
  }
}
