@import "../../../../scss/device";

.lastMinuteDeal {
  display: flex;
  margin: 0 auto;
  max-width: 1520px;
}

@include device-tb {
  .lastMinuteDeal {
    max-width: 1044px;
  }
}

@include device((max: 1024px)) {
  .lastMinuteDeal {
    max-width: 952px;
  }
}

@include device((max: 940px)) {
  .lastMinuteDeal {
    max-width: 1136px;
    overflow-x: scroll;
    overflow: -moz-scrollbars-none;
    overflow-y: hidden;

    &::-webkit-scrollbar {
      width: 0 !important;
    }
  }
}
