.withCard {
  border: 1px solid #e8e8e8;
  border-radius: 8px;
  box-sizing: border-box;
  padding: 3rem 1.5rem 3rem;
  position: relative;

  h3 {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 2rem;
  }
}

