@import 'src/scss/device';

.searchTravelInput {
  margin: auto;
  position: relative;
  width: 63rem;
  box-sizing: border-box;

  .imageBlock {
    user-select: none;
    position: absolute;
    bottom: -2rem;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20rem;
    height: 2rem;
    color: #fff;
    font-size: 1rem;
    background: url("./assets/Baidge.svg") no-repeat;
    background-size: cover;

    i {
      margin-right: 5px;
    }
  }

  .searchBtn {
    font-size: 1.125rem;
    width: 10.5rem;
    margin-right: .5rem;
  }

  .autocomplete {
    width: 100%;
  }

  .input {
    height: 4.5rem;
    box-sizing: border-box;
    position: relative;
    background: rgba(255, 255, 255, 0.26);
    border-radius: 3.75rem;
    display: flex;
  }
}

@include device-mb {
  .searchTravelInput {
    display: none;
  }
}
