@import '../../../../scss/device';

.searchTravelInput {
  margin: auto;
  position: relative;
  width: 1008px;
  box-sizing: border-box;

  .imageBlock {
    position: absolute;
    bottom: -32px;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 320px;
    height: 32px;
    color: #fff;
    font-size: 12px;
    background: url("./assets/Baidge.svg") no-repeat;
    background-size: cover;

    i {
      margin-right: 5px;
    }
  }

  .searchBtn {
    font-size: 18px;
    min-width: 208px;
    height: 100%;
  }

  .input {
    padding: 8px 8px 8px 32px;
    height: 72px;
    box-sizing: border-box;
    position: relative;
    background: rgba(255, 255, 255, 0.26);
    border-radius: 60px;
    display: flex;
    justify-content: space-between;

    input {
      height: 100%;
      width: 100%;
      margin-right: 15px;

      &, &::placeholder {
        color: #CAD9EA;
      }
    }
  }
}

@include device-tb {
  .searchTravelInput {
    width: 696px;

    .imageBlock {
      bottom: -24px;
      width: 240px;
      height: 24px;
    }

    .input {
      height: 56px;
      padding: 4px 4px 4px 20px;

      input, input::placeholder, .searchBtn {
        font-size: 14px;
      }

      .searchBtn {
        min-width: 168px;
      }
    }
  }
}

@include device-mb {
  .searchTravelInput {
    display: none;
  }
}
