@import "src/scss/device";

.searchSelect {
  position: relative;
  outline: none;

  &[data-theme="dark"] {
    border: solid 1px #e8e8e8;

    i {
      color: #959595;
    }
  }

  &[data-theme="light"] {
    margin-right: .625rem;
    border-radius: 5px;
    border: solid 1px #efefef;

    i {
      color: #fafafa;
    }

    span {
      color: #fafafa;
    }
  }

  .select {
    padding-left: 1.5rem;
    box-sizing: border-box;
    position: relative;
    cursor: pointer;
    display: flex;
    width: 100%;
    transition: 0.2s ease border-color;
    align-items: center;

    i {
      transition: 0.2s ease color, 0.2s ease transform;

      &[data-pos="left"] {
        margin-right: .5rem;
      }

      &[data-pos="right"] {
        margin-left: .5rem;
      }
    }

    &[data-size="lg"] {
      height: 3.5rem;

      i {
        font-size: .93rem;
      }
    }

    &[data-size="md"] {
      height: 2.5rem;

      i {
        font-size: .81rem;
      }
    }

    &[data-opened="true"] {
      border-color: #ff5a39 !important;

      i {
        color: #ff5a39 !important;
        transform: rotate(180deg);
      }
    }

    &[data-disabled="true"] {
      i {
        color: #959595 !important;
      }

      span {
        color: #959595 !important;
      }
    }
  }

  .optionBlock {
    z-index: 5;
    position: absolute;
    border-radius: 4px;
    left: 0px;
    right: 0;
    max-height: 23.12rem;
    background: #fff;
    padding: 1.56rem 0;
    box-sizing: border-box;
    overflow: hidden;
    border: 1px solid #efefef;

    &[data-size="md"] {
      top: 4.68rem;
    }

    &[data-size="lg"] {
      top: 5rem;
    }

    .option {
      cursor: pointer;
      padding: .78rem 0 .78rem 2rem;
      margin: 0;
      font-size: .875rem;
      text-align: left;
      background-color: #fff;
      transition: 0.2s ease background-color;

      &:hover {
        background-color: darken(#fff, 5);
      }

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
}

@include device-mb {
  .searchSelect {
    .select {
      padding: 3px 6px 3px 3px;

      i {
        font-size: 12px;
        margin-right: 4px;
      }

      span {
        font-size: 12px;
      }
    }

    .optionBlock {
      top: 65px;
      padding: 20px 0;

      .option {
        padding: 10px 0 10px 32px;
        font-size: 13px;
      }
    }

    &[data-theme="light"] {
      .select {
        margin-right: 8px;
      }
    }
  }

  // .searchSelect {
  //   &[data-bodytheme="mobile"] {
  //     position: static;
  //     margin-bottom: 12px;

  //     &:last-of-type {
  //       margin-bottom: 0;
  //     }

  //     .select {
  //       padding-left: 15px;
  //     }

  //     .optionBlock {
  //       position: static;
  //       background: transparent;
  //       padding: 10px 0;
  //       overflow-y: visible;
  //       max-height: none;
  //       width: auto;

  //       .option {
  //         padding: 0 0 0 10px;
  //         font-size: 12px;
  //         font-weight: 400;
  //         border-bottom: 1px solid #fafafa;
  //         margin-bottom: 10px;

  //         &:last-of-type {
  //           border-bottom: 0px;
  //           margin-bottom: 0;
  //         }
  //       }
  //     }

  //     &[data-theme="dark"] {
  //       .select {
  //         border-radius: 4px;
  //       }
  //     }
  //   }
  // }
}

// @media screen and (max-width: 1615px) {
//   .searchSelect {
//     .select {
//       i {
//         font-size: 12px;
//       }
//     }

//     .optionBlock {
//       top: 65px;
//       padding: 20px 0;

//       .option {
//         padding: 10px 0 10px 32px;
//         font-size: 13px;
//       }
//     }

//     &[data-theme="light"] {
//       .select {
//         margin-right: 8px;
//       }
//     }
//   }
// }

// @media screen and (min-width: 768px) and (max-width: 1415px) {
//   .searchSelect {
//     .select {
//       padding: 3px 6px 3px 3px;

//       i {
//         font-size: 12px;
//         margin-right: 4px;
//       }

//       span {
//         font-size: 12px;
//       }
//     }

//     .optionBlock {
//       top: 65px;
//       padding: 20px 0;

//       .option {
//         padding: 10px 0 10px 32px;
//         font-size: 13px;
//       }
//     }

//     &[data-theme="light"] {
//       .select {
//         margin-right: 8px;
//       }
//     }
//   }
// }
