.lastMinuteDealCard {
  margin-right: 15px;

  &:last-of-type {
    margin-right: 0;
  }

  .imageBlock {
    position: relative;

    .badge {
      position: absolute;
      top: -14px;
      left: 15px;
    }

    .sellOut {
      position: absolute;
      top: 150px;
      right: -28px;
      transform: rotate(270deg);
      width: 96px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 7px 7px 0 0;
      background-color: #fafafa;
      font-size: 13px;
      line-height: 0.92;
      text-align: center;
      color: #202020;
    }

    .like {
      cursor: pointer;
      position: absolute;
      bottom: 30px;
      right: 25px;
      font-size: 24px;
      color: #ffffff;
      z-index: 1;
      transition: .2s ease color;

      &:hover {
        color: darken(#fff, 5);
      }
    }

    .exposeTime {
      display: flex;
      position: absolute;
      justify-content: center;
      bottom: 10px;
      left: 0px;
      right: 0px;

      .timeName {
        font-size: 13px;
        line-height: 1.85;
        color: #fafafa;
      }

      p {
        font-size: 48px;
        font-weight: bold;
        line-height: 0.67;
        color: #fafafa;

        &.colon {
          margin: 0 15px;
        }
      }

      .daysBlock {
        p {
          text-align: left;
        }
      }

      .hoursBlock {
        p {
          text-align: center;
        }
      }

      .minutesBlock {
        p {
          text-align: right;
        }
      }
    }

    .sale {
      border-radius: 0 6px 0 10px;
      position: absolute;
      right: 0;
      top: 0;
      width: 104px;
      height: 40px;
      background-color: #ff5a39;
      display: flex;
      justify-content: center;
      align-items: center;

      p {
        font-size: 13px;
        font-weight: 600;
        line-height: 1.23;
        color: #ffffff;
      }
    }
  }

  .cardDescription {
    padding: 20px 24px 24px 24px;
    border: solid 1px #fafafa;
    border-top: 0px;

    .aboutPlace {
      margin-bottom: 30px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .location {
        i {
          margin-right: 5px;
          font-size: 16px;
          line-height: 1.5;
          text-align: left;
          color: #959595;
        }

        span {
          font-size: 13px;
          line-height: 1.85;
          text-align: left;
          color: #959595;
        }
      }
    }
  }

  .tour {
    margin: 0;
    font-size: 26px;
    font-weight: bold;
    line-height: 1.23;
    text-align: left;
    color: #202020;

    &[data-view="vertical"] {
      width: 186px;
    }
  }

  .duration {
    margin: 0;
    font-size: 13px;
    line-height: 1.85;
    text-align: left;
    color: #959595;

    i {
      margin-right: 5px;
      font-size: 12px;
      line-height: 2;
      color: #959595;
    }
  }

  .valueAndLink {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;

    .totalPrice {
      .from {
        font-size: 12px;
        line-height: 2;
        text-align: left;
        color: #dadada;
      }

      .price {
        font-size: 18px;
        font-weight: bold;
        line-height: 1.33;
        text-align: left;
        color: #202020;
        margin: 0;
      }

      .value {
        font-size: 12px;
        line-height: 1.25;
        text-align: left;
        color: #dadada;
      }
    }

    button {
      cursor: pointer;
      border: none;
      width: 96px;
      height: 52px;
      border-radius: 30px;
      background-color: #fafafa;

      i {
        font-size: 17px;
        line-height: 1.41;
        color: #ff5a39;
      }
    }
  }

}