@import "src/scss/device";

.inputNumber {
  display: inline-flex;

  input {
    width: 4rem;
    padding: .5rem;
    border: none;
    font-size: 1.166666em;
    height: 2rem;
    text-align: center;
  }

  input::-webkit-inner-spin-button,
  input::-webkit-outer-spin-button {
    appearance: none;
  }

  &, & * {
    box-sizing: border-box;
  }

  button {
    outline:none;
    appearance: none;
    background-color: transparent;
    border: solid 1px #e8e8e8;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
  }

  button:before,
  button:after {
    display: inline-block;
    position: absolute;
    content: '';
    width: .5rem;
    height: 1px;
    background-color: #202020;
    transform: translate(-50%, -50%);
  }

  button.plus:after {
    transform: translate(-50%, -50%) rotate(90deg);
  }
}

@include device-ipad {
  .inputNumber {
    input {
      height: 2.5rem;
    }

    button {
      width: 2.5rem;
      height: 2.5rem;
    }
  }
}

@include device-mb {
  .inputNumber {
    input {
      font-size: 1.5em;
      height: 3.5rem;
    }

    button {
      width: 3.5rem;
      height: 3.5rem;
    }
  }
}