@import "src/scss/device";

footer {
  position: relative;
  mask: url('./assets/wave_bg.svg') top/100vw no-repeat;
  mask-size: cover;
  background: url('./assets/backgroundFooter.jpg') center center no-repeat;
  background-size: cover;
  padding: 8.125rem 12.5rem 0;

  &[data-extend="true"] {
    padding: 17.25rem 12.5rem 0;
  }

  h4 {
    font-weight: 700;
    color: #fff;
    transition: .2s ease color;

    &:nth-child(2n + 1) {
      font-size: 3.5em;
      text-align: center;

      @include device-mb {
        font-size: 2.6666667em;
      }
    }

    &:nth-child(2n) {
      margin: .5rem 0 4rem;
      font-size: 1.625em;
      text-align: center;
    }
  }

  p {
    margin: .75rem 0 5.25rem;
    font-size: .875em;
    text-align: center;
    color: #959595;
  }

  .emailInput {
    position: relative;
    margin: auto;
    width: 55rem;
    border: solid 1px rgba(#fff, 0.26);
    border-radius: 3.75rem;

    input {
      width: 37.5rem;
      padding: .5rem 1.875rem;

      @include device-mb {
        height: 7rem
      }
    }

    .iconButton {
      display: none;
    }

    button {
      position: absolute;
      width: 11.75rem;
      top: .5rem;
      right: .5rem;
    }
  }

  .contactInfo {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    .linksList {
      list-style: none;
      padding: 0;
      margin: .5rem 0 0 0;

      li {
        cursor: pointer;
        font-size: .875em;
        line-height: 2;
        color: #959595;
        transition: .2s ease color;

        &:hover {
          color: #ff5a39;
        }
      }
    }

    .contacts {
      margin-top: 1.25rem;

      &:first-of-type {
        margin-top: 1.25rem;
      }

      &:last-of-type {
        margin-top: 1.25rem;
      }

      span {
        cursor: pointer;
        font-size: .875em;
        font-weight: 600;
        text-align: left;
        color: #959595;
        transition: .2s ease color;

        &:hover {
          color: #ff5a39;
        }
      }

      p {
        cursor: pointer;
        margin-top: 0;
        font-size: .875em;
        line-height: 2;
        color: #959595;
        transition: .2s ease color;
        text-align: left;

        &:hover {
          color: #ff5a39;
        }
      }
    }
  }

  .appInfo {
    margin: 1.5rem 0 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .mediaAndPayment {
      display: flex;

      ul {

        li {
          display: inline;
          margin-right: 1rem;
          text-align: left;

          &:last-of-type {
            margin-right: 0;
          }

          &.poli {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 24px;
            width: 31px;
            background: #959595;
            border-radius: 2px;
            cursor: pointer;

            &:hover {
              background: #ff5a39;
            }
          }

          svg:hover {
            cursor: pointer;
            path {
              fill: #ff5a39;
            }
          }

          i {
            margin-top: -2px;
            cursor: pointer;
            color: #959595;
            font-size: 1.5em;

            &:hover {
              color: #ff5a39;
            }
          }
        }
      }

      .socialHeader {
        span {
          display: block;
          color: #fff;
          font-size: 1.125em;
          font-weight: 600;
          margin-bottom: 1.75rem;
        }
      }

      .socialMedia {
        margin-right: 7.75rem;
        @extend .socialHeader;

        i {
          font-size: 1.5em;
        }

        @include device-mb {
          span  {
            font-size: 1.1666667em;
            text-align: center;
            margin-bottom: 2.5rem;
          }

          i {
            font-size: 1.5em;
          }
        }
      }

      .payment {
        @extend .socialHeader;

        ul {
          display: flex;
        }

        span {
          margin-bottom: 1.5rem;
        }

        i {
          font-size: 27px;
        }

        li {
          margin-right: .375rem;
        }
      }
    }

    .downloadAppButton {
      cursor: pointer;
      width: 15rem;
      height: 3.5rem;
      background: transparent;
      border-radius: 3.75rem;
      border: solid 1px #fff;
      font-size: 1em;
      line-height: 2;
      color: #fff;
      transition: .2s ease border-color, .2s ease background-color;

      &:hover {
        background-color: #ff5a39;
        border-color: #ff5a39;
      }
    }
  }

  hr {
    margin: 0;
    border: 1px solid #fff;
    opacity: .05;
  }

  .copyrightAndPartners {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: .625rem;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 3.25rem;
    padding-bottom: 4rem;

    @include device-mb {
      grid-template-columns: 1fr;
    }

    .logo {
      width: 7.5rem;
      height: 2.75rem;
    }

    p {
      margin: 0;
      font-size: .875em;
      text-align: left;
      color: #707070;
    }

    .firstImagesBlock {
      display: flex;
      align-items: flex-start;
      justify-content: space-evenly;

      span {
        font-size: 1.125em;
        font-weight: 600;
        color: #959595;
        margin-right: 1.875rem;
      }

      img {
        height: 1.5rem;
        margin-right: .625rem;
      }

      *:last-child {
        margin-right: 0;
      }
    }

    .secondImagesBlock {
      display: flex;
      margin-top: -.75rem;

      img {
        margin-right: 1.5rem;
        width: 100%;
        height: 100%;

        &:last-of-type {
          margin-right: 0;
        }
      }
    }
  }
}

@include device-tb {
  footer {
    padding: 8.125rem 11.6rem 0;
    background-image: url('./assets/backgroundFooter.jpg?reszie&size=1280');

    &[data-extend="true"] {
      padding: 17.5rem 11.6rem 0;
    }

    h4 {
      &:nth-child(2n + 1) {
        font-size: 3.1666667em;
        margin-bottom: 0;
      }

      &:nth-child(2n) {
        font-size: 1.6666667em;
        margin: 0 0 4.2rem 0;
      }
    }

    p {
      margin: 1.2rem 0 3.8rem;
      font-size: 1em;
    }

    .emailInput {
      width: 59.2rem;
      height: 5.6rem;

      input {
        height: 4.8rem !important;
        width: 33.5rem;
      }

      button {
        width: 16.8rem;
        height: 4.8rem !important;
        top: .4rem;
        right: .4rem;
      }
    }

    .contactInfo {
      .linksList {
        li {
          font-size: 1em;
        }
      }
    }

    .contacts {
      h5 {
        font-size: 1em;

        p {
          font-size: 1em;
        }
      }
    }

    .appInfo {
      margin: 0 0 4rem;
      .mediaAndPayment {
        ul {
          li {
            i {
              font-size: 1.5em;
            }
          }
        }
      }

      .downloadAppButton {
        width: 16.8rem;
        height: 4.8rem;
        font-size: 1em;
      }
    }

    .copyrightAndPartners {
      padding-bottom: 2.8rem;

      .logo {
        width: 8.9rem;
        height: 3.2rem;
      }

      p {
        font-size: 0.833333em;
      }

      .secondImagesBlock {
        img {
          &:first-of-type {
            width: 7.4rem;
            height: 2.9rem;
          }

          &:last-of-type {
            width: 8.5rem;
            height: 3.3rem;
          }
        }
      }
    }
  }
}

@include device-ipad {
  footer {
    padding: 11.25rem 4.5rem 0 !important;

    h4 {
      &:nth-child(2n) {
        font-size: 1.6666667em;
        margin-bottom: 5rem;
      }
    }

    .appInfo {
      .downloadAppButton {
        width: 21rem;
        height: 6rem;
      }
    }

    .emailInput {
      width: 76rem;
      height: 7rem;

      input {
        height: 6rem !important;
        width: 48rem;
        padding: .5rem 3rem;
      }

      button {
        width: 21rem;
        height: 6rem !important;
        top: .5rem;
        right: .5rem;
      }
    }

    p {
      margin: 1.5rem 0 4.75rem;
      font-size: 1em;
    }

    .copyrightAndPartners {
      .firstImagesBlock {

        img {
          margin-right: .5rem;

          &:first-of-type {
            width: 7.5rem;
            height: 1.5rem;
          }

          &:nth-child(2) {
            width: 5.125rem;
            height: 2.875rem;
          }

          &:nth-child(3) {
            width: 6.875rem;
            height: 2.875rem;
          }

          &:last-of-type {
            width: 7rem;
            height: 2.75rem;
          }
        }
      }

      .secondImagesBlock {
        img {
          margin-right: 1.25rem;

          &:first-of-type {
            width: 8rem;
            height: 3.25rem;
          }

          &:last-of-type {
            width: 8.375rem;
            height: 3.625rem;
          }
        }
      }
    }
  }
}

@include device-mb {
  footer {
    padding: 9.75rem 1.5rem 0 !important;
    background-image: url('./assets/backgroundFooter.jpg?resize&size=768');

    h4 {
      &:nth-child(2n) {
        font-size: 1.1666667em;
        margin: .5rem 0 3.25rem;
      }
    }

    & > p {
      line-height: 1.3333333em;
    }

    .emailInput {
      width: 100%;

      input {
        width: 23.75rem !important;
        padding: .5rem 3.75rem .5rem 2.5rem !important;
        font-size: 1.1666667em !important;

        &::placeholder {
          font-size: 1.1666667em !important;
        }
      }

      button {
        width: 6rem;
        height: 6rem;
      }

      .iconButton {
        display: inline-block;
        top: 50%;
        transform: translateY(-50%);
        width: 6rem;
        height: 6rem;
        right: .5rem;

        i {
          color: #ffffff;
          font-size: 1.4166667em;
        }
      }

      .textButton {
        display: none;
      }
    }

    .contactInfo {
      padding: 0 1.75rem;
      flex-direction: column;

      .linksWrapper {
        width: 100%;
      }
    }

    .appInfo {
      flex-direction: column-reverse;
      margin: 6.5rem 0 3.75rem 0;

      .mediaAndPayment {
        ul {
          li {
            i {
              font-size: 1.5em;
            }
          }
        }

        .socialMedia {
          margin-right: 0;

          ul {
            display: flex;
            justify-content: center;
          }

          h4 {
            text-align: center;
            font-weight: 400;
            margin-bottom: 2.5rem;
          }
        }

        .payment {
          display: none;
        }
      }

      .downloadAppButton {
        width: 100%;
        font-size: 1em;
        margin-bottom: 5.25rem;
      }
    }

    .copyrightAndPartners {
      justify-content: center;
      align-items: center;
      margin-top: 2.5rem;
      padding-bottom: 7.5rem;

      p {
        text-align: center;

        br:nth-child(1n) {
          display: none;
        }
      }

      .logo {
        display: none;
      }

      .firstImagesBlock, .secondImagesBlock {
        img, span {
          display: none;
        }
      }
    }
  }
}
