footer {
  background: url('./assets/backgroundFooter.jpg') center center no-repeat;
  padding: 218px 150px 0;
  mask-image: url('./assets/wave_bg.svg');
  mask-repeat: no-repeat;
  mask-position: bottom;
  // mask-size: 114.2vw;

  h2 {
    font-size: 56px;
    font-weight: 700;
    line-height: 64px;
    text-align: center;
    color: #ffffff;
  }

  h3 {
    margin-top: 10px;
    margin-bottom: 45px;
    font-size: 26px;
    font-weight: 700;
    line-height: 32px;
    text-align: center;
    color: #ffffff;
  }

  p {
    margin: 12px 0 50px 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 2;
    letter-spacing: normal;
    text-align: center;
    color: #959595;
  }

  h4 {
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
    line-height: 2.29;
    text-align: left;
    color: #ffffff;
    transition: .2s ease color;

    &:hover {
      color: #ff5a39;
    }
  }

  .emailInput {
    margin: auto;
    width: 880px;

    input {
      width: 600px;
    }

    .iconButton {
      display: none;
    }
  }

  .mt {
    margin-top: 37.5px;
  }

  .contactInfo {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    .linksList {
      list-style: none;
      padding: 0;
      margin: 5px 0 0 0;

      li {
        cursor: pointer;
        font-size: 14px;
        font-weight: normal;
        line-height: 2;
        letter-spacing: normal;
        text-align: left;
        color: #959595;
        transition: .2s ease color;

        &:hover {
          color: #ff5a39;
        }
      }
    }

    .contacts {
      margin-top: 20px;

      &:first-of-type {
        margin-top: 20px;
      }

      &:last-of-type {
        margin-top: 20px;
      }

      h5 {
        cursor: pointer;
        font-size: 14px;
        font-weight: 600;
        line-height: 2.29;
        text-align: left;
        color: #ffffff;
        transition: .2s ease color;

        &:hover {
          color: #ff5a39;
        }
      }

      p {
        cursor: pointer;
        margin-top: 0;
        font-size: 14px;
        line-height: 2;
        text-align: left;
        color: #959595;
        transition: .2s ease color;

        &:hover {
          color: #ff5a39;
        }
      }
    }
  }

  .appInfo {
    margin: 25px 0 40px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .mediaAndPayment {
      display: flex;

      ul {
        padding: 0;

        li {
          list-style: none;
          display: inline;
          margin-right: 15px;

          &:last-of-type {
            margin-right: 0;
          }

          i {
            cursor: pointer;
            color: #959595;
            font-size: 24px;
            transition: .2s ease color;

            &:hover {
              color: #ff5a39;
            }
          }
        }
      }

      .socialMedia {
        margin-right: 125px;
      }
    }

    .downloadAppButton {
      cursor: pointer;
      width: 240px;
      height: 56px;
      background: transparent;
      border-radius: 60px;
      border: solid 1px #ffffff;
      font-size: 16px;
      line-height: 2;
      color: #ffffff;
      transition: .2s ease border-color, .2s ease background-color;

      &:hover {
        background-color: #ff5a39;
        border-color: #ff5a39;
      }
    }
  }

  hr {
    margin: 0;
    border: 1px solid #fff;
    opacity: .05;
  }

  .copyrightAndPartners {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 40px;

    .logo {
      width: 120px;
      height: 43px;
    }

    p {
      margin: 0;
      font-size: 14px;
      font-weight: normal;
      line-height: 1.3;
      text-align: left;
      color: #707070;
    }

    .firstImagesBlock {
      img {
        margin-right: 10px;

        &:last-of-type {
          margin-right: 0;
        }
      }
    }

    .secondImagesBlock {
      img {
        margin-right: 20px;

        &:last-of-type {
          margin-right: 0;
        }
      }
    }
  }
}

@media screen and (max-width: 1615px) {
  footer {
    padding: 218px 100px 0;

    h2 {
      font-size: 47px;
    }

    h3 {
      font-size: 23px;
    }

    h4 {
      font-size: 16px;
    }

    p {
      font-size: 13px;
    }

    .emailInput {
      width: 736px;

      input {
        height: 48px !important;
        width: 460px;
      }

      button {
        width: 188px !important;
        height: 52px;
        top: 6px !important;
        right: 6px !important;
      }
    }

    .contactInfo {
      .linksList {
        li {
          font-size: 13px;
        }
      }
    }

    .contacts {
      h5 {
        font-size: 13px;

        p {
          font-size: 13px;
        }
      }
    }

    .appInfo {
      .mediaAndPayment {
        ul {
          li {
            i {
              font-size: 21px;
            }
          }
        }
      }

      .downloadAppButton {
        width: 204px;
        height: 52px;
        font-size: 14px;
      }
    }

    .copyrightAndPartners {
      .logo {
        width: 105px;
        height: 38px;
      }

      p {
        font-size: 12px;
      }

      .secondImagesBlock {
        img {
          &:first-of-type {
            width: 83px;
            height: 32.5px;
          }

          &:last-of-type {
            width: 95px;
            height: 37px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1280px) {
  footer {
    padding: 218px 10px 0;

    h2 {
      font-size: 38px;
    }

    h3 {
      font-size: 20px;
    }

    h4 {
      font-size: 14px;
    }

    p {
      font-size: 12px;
    }

    .emailInput {
      width: 592px;

      input {
        height: 40px !important;
        width: 335px;
      }

      button {
        width: 168px !important;
        height: 48px;
        top: 4px !important;
        right: 4px !important;
      }
    }

    .contactInfo {
      .linksList {
        li {
          font-size: 12px;
        }
      }
    }

    .contacts {
      h5 {
        font-size: 12px;

        p {
          font-size: 12px;
        }
      }
    }

    .appInfo {
      .mediaAndPayment {
        ul {
          li {
            i {
              font-size: 18px;
            }
          }
        }
      }

      .downloadAppButton {
        width: 168px;
        height: 48px;
        font-size: 12px;
      }
    }

    .copyrightAndPartners {
      .logo {
        width: 89px;
        height: 32px;
      }

      p {
        font-size: 10px;
      }

      .secondImagesBlock {
        img {
          &:first-of-type {
            width: 74px;
            height: 29px;
          }

          &:last-of-type {
            width: 85px;
            height: 33px;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1260px) {
  footer {
    .copyrightAndPartners {
      .firstImagesBlock {
        img {
          margin-right: 5px;

          &:first-of-type {
            width: 60px;
            height: 12px;
          }

          &:nth-child(2) {
            width: 41px;
            height: 23px;
          }

          &:nth-child(3) {
           width: 55px;
           height: 23px;
          }

          &:last-of-type {
            width: 56px;
            height: 22px;
          }
        }
      }

      .secondImagesBlock {
        img {
          margin-right: 10px;

          &:first-of-type {
            width: 64px;
            height: 26px;
          }

          &:last-of-type {
            width: 67px;
            height: 29px;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  footer {
    padding: 218px 10px 0;

    h2 {
      font-size: 32px;
      line-height: 40px;
    }

    h3 {
      margin-top: 0;
      margin-bottom: 25px;
      font-size: 14px;
      line-height: 24px;
    }

    h4 {
      font-size: 14px;
    }

    .mt {
      margin-top: 0;
    }

    .emailInput {
      width: 296px;

      input {
        width: 190px !important;
        padding: 8px 30px 8px 20px !important;
        font-size: 14px !important;

        &::placeholder {
          font-size: 14px !important;
        }
      }

      button {
        width: 48px !important;
        height: 48px;
      }

      .iconButton {
        display: inline-block;

        i {
          color: #ffffff;
          font-size: 17px;
          line-height: 24px;
        }
      }

      .textButton {
        display: none;
      }
    }

    .contactInfo {
      flex-direction: column;

      .linksWrapper {
        width: 100%;
      }
    }

    .appInfo {
      flex-direction: column-reverse;
      margin: 25px 0 30px 0;

      .mediaAndPayment {
        ul {
          li {
            i {
              font-size: 18px;
            }
          }
        }

        .socialMedia {
          margin-right: 0;

          h4 {
            text-align: center;
          }
        }

        .payment {
          display: none;
        }
      }

      .downloadAppButton {
        width: 296px;
        font-size: 12px;
        margin-bottom: 40px;
      }
    }

    .copyrightAndPartners {
      justify-content: center;
      align-items: center;
      margin-top: 20px;

      .logo {
        display: none;
      }

      .firstImagesBlock, .secondImagesBlock {
        img {
          display: none;
        }
      }
    }
  }
}