.mobileSelectMenu {
  .opener {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #fafafa;
    padding: 5px 0 10px 0;
    margin-bottom: 10px;

    span {
      color: #202020;
      font-size: 14px;
      font-weight: 400;
      line-height: 32px;
    }

    i {
      transition: .2s ease color, .2s ease transform;
      color: #959595;

      &:first-of-type {
        font-size: 11px !important;
        margin-right: 13px;
      }

      &:last-of-type {
        font-size: 18px;
      }
    }

    &.opened {
      i {
        color: #ff5a39;

        &[data-reversable="true"][data-reversetype="90"] {
          transform: rotate(-90deg);
        }

        &[data-reversable="true"][data-reversetype="180"] {
          transform: rotate(-180deg);
        }
      }
    }
  }
}