@import "src/scss/device";
@import "src/scss/fonts";

.dealCard {
  transition: 0.2s ease box-shadow;
  border-radius: 8px;
  border: 1px solid #efefef;
  box-sizing: border-box;
  font-size: 1rem;

  &:hover {
    box-shadow: 0 1.5em 2em rgba(0, 0, 0, 0.06);

    .imageBlock .background {
      transform: scale3d(1.1, 1.1, 1.1);
      cursor: pointer;
    }

    .tour {
      color: #ff5a39;
      cursor: pointer;
    }

    .valueAndLink button {
      background-color: #ff5a39;

      i {
        color: #fff;
      }
    }
  }

  &[data-view="horizontal"] {
    display: flex;

    .imageBlock {
      border-radius: 8px 0 0 8px;
      height: 22em;
      width: 31em;

      .sale {
        border-top-right-radius: 0;
      }
    }

    .cardDescription {
      .description {
        display: block;
        margin-top: 1.56em;
        font-size: 0.875em;
        line-height: 1.5em;
        color: #959595;
      }
    }
  }

  &[data-view="reversed"], &[data-view="horizontal"] {
    .cardDescription {
      display: flex;
      flex-direction: column;
      padding: 0.5em 1.5em 1.81em 2em;

      .reversedHorizontal {
        display: block;
        flex: 1;
      }
    }
 }

  &[data-view="reversed"], &[data-view="vertical"] {
    .imageBlock {
      height: 22em;
    }

    .cardDescription .vertical {
      display: block;
    }
  }

  .imageBlock {
    position: relative;
    transition: transform 0.2s ease-out;
    overflow: hidden;
    border-radius: 8px 8px 0 0;
    margin: -1px;
    flex-shrink: 0;

    img:not(.background) {
      z-index: 2;
    }

    .background {
      width: 100%;
      height: 100%;
      z-index: 1;
      transition: transform 1s;
      object-fit: cover;
      object-position: center;
    }

    .badge {
      position: absolute;
      top: 0;
      left: 2em;
      width: 4.5em;
      min-width: 35px;
      box-sizing: border-box;
    }

    .sellOut {
      position: absolute;
      top: 31%;
      right: 0;
      transform: rotate(270deg) translate(-50%, 50%);
      padding: 1em 0.75em;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 8px 8px 0 0;
      background-color: #fafafa;
      font-size: 0.8125em;
      text-align: center;
      z-index: 1;
    }

    .like {
      cursor: pointer;
      position: absolute;
      color: #ffffff;
      z-index: 3;
      transition: 0.2s ease color;
      font-size: 1.5em;

      &[data-type="wide"] {
        bottom: 1.875em;
        right: 1.6em;
      }

      &[data-type="short"] {
        bottom: 1.5em;
        right: 0.625em;
      }

      &:hover {
        color: #ff5a39;
      }
    }

    .exposeTime {
      color: #fafafa;
      position: absolute;
      bottom: 1em;
      left: 0;
      right: 0;
      z-index: 2;
    }

    .sale {
      border-radius: 0 8px 0 8px;
      position: absolute;
      right: 0;
      top: 0;
      height: 2.5em;
      background-color: #ff5a39;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 2;
      min-width: 30%;

      p {
        margin: 0;
        font-size: 0.81em;
        font-weight: 600;
        color: #ffffff;
      }
    }
  }

  .cardDescription {
    padding: 1.25em 1.5em 1.5em;
    border-top: 0;

    .description, .vertical, .reversedHorizontal {
      display: none;
    }

    .aboutPlace {
      margin-bottom: 1.25em;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;

      .location {
        i {
          margin-right: 0.375em;
          font-size: 1em;
          text-align: left;
          color: #959595;
        }

        span {
          font-size: 0.8125em;
          text-align: left;
          color: #959595;
        }
      }
    }
  }

  .tour {
    font-size: 1.625em;
    transition: 0.2s ease color;
  }

  .duration {
    font-size: 0.8125em;
    text-align: left;
    color: #959595;

    i {
      margin-right: 5px;
      font-size: .9em;
      color: #959595;
    }
  }

  .valueAndLink {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.25em;

    .totalPrice {
      .from {
        font-size: 0.75em;
        line-height: 1.35em;
        text-align: left;
        color: #dadada;
      }

      .price {
        font-size: 1.125em;
        font-weight: bold;
        text-align: left;
      }

      .value {
        display: block;
        margin-top: 0.2em;
        font-size: 0.75em;
        text-align: left;
        color: #dadada;
      }
    }

    button {
      cursor: pointer;
      border: none;
      width: 6em;
      height: 3.25em;
      border-radius: 1.875em;
      background-color: #fafafa;
      transition: 0.2s ease background-color;

      i {
        font-size: 1.06em;
        color: #ff5a39;
        transition: 0.2s ease color;
      }
    }
  }
}

// @include device-tb {
//   .dealCard {
//     &[data-view="horizontal"] {
//       .cardDescription {
//         width: 65%;
//       }

//       .imageBlock {
//         height: unset;
//         width: unset;
//       }
//     }

//     &[data-view="reversed"], &[data-view="vertical"] {
//       .imageBlock {
//         height: 24.4em;
//       }
//     }

//     .imageBlock {
//       border-radius: 0.57em 0.57em 0 0;

//       .like[data-type="wide"] {
//         right: 0.72em;
//       }

//       .sellOut {
//         transform: rotate(270deg) translate(-50%, 117%);
//         border-radius: 0.57em 0.57em 0 0;
//         padding: 0.57em 1.43em;
//         font-size: 0.79em;
//       }

//       .sale {
//         border-radius: 0 0.57em;
//         min-width: 8.6vw;
//         padding: 0.72em;

//         p {
//           font-size: 0.84em;
//         }
//       }
//     }

//     .cardDescription {
//       padding: 0.65em 0.86em 1.43em 0.86em;

//       .aboutPlace {
//         margin-bottom: 1em;
//         align-items: center;
//       }
//     }

//     .valueAndLink {
//       margin-top: 1em;

//       .totalPrice {
//         .from {
//           font-size: 0.875em;
//         }

//         .price {
//           font-size: 1em;
//         }
//       }

//       button {
//         padding: 0.9em 2.43em;

//         i {
//           font-size: 1.21em;
//         }
//       }
//     }
//   }
// }

@include device-ipad {
  .dealCard {
    &[data-view="reversed"], &[data-view="vertical"] {

      .imageBlock {
        height: 27.5em;
      }
    }

    .imageBlock {
      .badge {
        width: 6em;
        height: 8em;
      }

      .like {
        font-size: 2em;

        &[data-type="wide"] {
          bottom: 1.5em;
          right: 1.25em;
        }

        &[data-type="short"] {
          bottom: 1.5em;
          right: 1.25em;
        }
      }

      .sale {
        height: 4em;

        p {
          font-size: 1.375em;
        }
      }
    }

    .cardDescription {
      padding: 1.75em 1.5em 1.5em;
      border-top: 0;

      .rating {
        font-size: 1.25rem;
      }

      .aboutPlace {
        margin-bottom: 1.5em;

        .location {
          i {
            margin-right: 0.5em;
            font-size: 1.25em;
          }

          span {
            font-size: 1.25em;
          }
        }
      }
    }

    .tour {
      font-size: 2.5em;
    }

    .duration {
      font-size: 1.25em;
    }

    .valueAndLink {
      margin-top: 2em;

      .totalPrice {
        .from {
          font-size: 1.5em;
        }

        .price {
          font-size: 1.75em;
        }

        .value {
          margin-top: 0.5em;
          font-size: 1.5em;
        }
      }

      button {
        width: 9.5em;
        height: 5.5em;
        border-radius: 3.25em;

        i {
          font-size: 2.125em;
        }
      }
    }
  }
}

@include device-mb {
  .dealCard {
    &[data-view="reversed"], &[data-view="vertical"] {

      .imageBlock {
        height: 288px;
      }
    }

    .imageBlock {
      .badge {
        width: 48px;
        height: 64px;
      }

      .sale {
        height: 32px;

        p {
          font-size: 11px;
        }
      }
    }

    .cardDescription {
      padding: 14px 16px 20px;

      .rating {
        font-size: 10px;
      }

      .aboutPlace {
        margin-bottom: 16px;

        .location {
          i,
          span {
            font-size: 10px;
          }
        }
      }

      .duration {
        font-size: 10px;
      }
    }

    .tour {
      font-size: 20px;
      margin-bottom: 4px;
    }

    .valueAndLink {
      margin-top: 16px;

      .totalPrice {
        .price {
          font-size: 14px;
        }

        .from,
        .value {
          font-size: 12px;
        }

        .value {
          line-height: 12px;
        }
      }

      button {
        width: 76px;
        height: 44px;
        border-radius: 26px;
      }
    }
  }
}

// @include device-mb {
//   .dealCard {
//     font-size: 1rem;

//     &[data-view="reversed"], &[data-view="vertical"] {

//       .imageBlock {
//         height: 36em;
//       }
//     }

//     .imageBlock {

//       .sale {
//         height: 4em;
//         min-width: 36%;

//         p {
//           font-size: 1.375em;
//         }
//       }
//     }

//     .cardDescription {
//       padding: 1.75em 1.5em 2.5em;

//       .rating {
//         font-size: 1.25em;
//       }

//       .aboutPlace {
//         margin-bottom: 2em;

//         .location {
//           i,
//           span {
//             font-size: 1.25em;
//           }
//         }
//       }

//       .duration {
//         font-size: 1.25em;
//       }
//     }

//     .tour {
//       font-size: 2.5em;
//       margin-bottom: 0.5em;
//     }

//     .valueAndLink {
//       margin-top: 2em;

//       .totalPrice {
//         .price {
//           font-size: 1.75em;
//         }

//         .from,
//         .value {
//           font-size: 1.5em;
//         }

//         .value {
//           line-height: 1.5em;
//         }
//       }

//       button {
//         width: 9.5em;
//         height: 5.5em;
//         border-radius: 3.75em;
//       }
//     }
//   }
// }
