@import "src/scss/device";
@import "src/scss/fonts";

.dealCard {
  transition: .2s ease box-shadow;
  border-radius: 8px;
  border: 1px solid #efefef;

  &[data-hidden="true"] {
    display: none;
  }

  &:hover {
    box-shadow: 0 24px 32px rgba(0, 0, 0, 0.06);

    .imageBlock .background {
      transform: scale3d(1.1, 1.1, 1.1);
      cursor: pointer;
    }

    .tour {
      color: #ff5a39;
      cursor: pointer;
    }
  }

  &[data-view="horizontal"] {
    display: flex;

    .imageBlock {
      border-radius: .5rem 0 0 .5rem;
      width: 73%;

      .sale {
        border-top-right-radius: 0;
      }
    }
  }

  .imageBlock {
    position: relative;
    transition: transform .2s ease-out;
    overflow: hidden;
    border-radius: .5rem .5rem 0 0;
    margin: -1px;

    img:not(.background) {
      z-index: 2;
    }

    .background {
      width: 100%;
      height: 100%;
      z-index: 1;
      transition: transform 1s;
      object-fit: cover;
      object-position: center;
    }

    .badge {
      position: absolute;
      top: 0;
      left: 2rem;
      width: 3.75vw;
      min-width: 35px;
      box-sizing: border-box;

      @include device-tb {
        left: 1.43rem;
        width: 4.75vw;
        border-radius: 0 0 8px 8px;
      }

      @include device-mb {
        left: 1.23rem;
        width: 4.75vw;
        border-radius: 0 0 8px 8px;
        min-width: 48px;
      }
    }

    .sellOut {
      position: absolute;
      top: 31%;
      right: 0;
      transform: rotate(270deg) translate(-50%, 50%);
      padding: 1rem .75rem;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: .4rem .4rem 0 0;
      background-color: #fafafa;
      font-size: .81rem;
      text-align: center;
      color: #202020;
      z-index: 1;
    }

    .like {
      cursor: pointer;
      position: absolute;
      color: #ffffff;
      z-index: 1;
      transition: .2s ease color;
      font-size: 1.5rem;

      &[data-type="wide"] {
        bottom: 1.875rem;
        right: 1.6rem;
      }

      &[data-type="short"] {
        bottom: 1.5rem;
        right: .625rem;
      }

      &:hover {
        color: #ff5a39;
      }
    }

    .exposeTime {
      color: #fafafa;
      position: absolute;
      bottom: 1rem;
      left: 0;
      right: 0;
      z-index: 2;
    }

    .sale {
      border-radius: 0 6px 0 10px;
      position: absolute;
      right: 0;
      top: 0;
      padding: .75rem .5rem;
      background-color: #ff5a39;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 2;
      min-width: 30%;

      p {
        margin: 0;
        font-size: .81rem;
        font-weight: 600;
        color: #ffffff;
      }
    }
  }

  .cardDescription {
    padding: 1.18rem 1.43rem 1.56rem 1.43rem;
    border-top: 0;

    &[data-view="horizontal"] {
      display: flex;
      flex-direction: column;
      padding: .5rem 1.5rem 1.81rem 2rem;
    }

    div[data-view="horizontal"] {
      flex: 1;

      .description {
        margin-top: 1.56rem;
        font-size: .875rem;
        line-height: 1.5rem;
        color: #959595;
      }
    }

    .aboutPlace {
      margin-bottom: 1.25rem;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;

      .location {
        i {
          margin-right: 5px;
          font-size: 1rem;
          text-align: left;
          color: #959595;
        }

        span {
          font-size: .9rem;
          text-align: left;
          color: #959595;
        }
      }
    }
  }

  .tour {
    margin: 0;
    font-size: 1.125rem;
    font-weight: bold;
    line-height: 1.23;
    text-align: left;
    color: #202020;
    transition: .2s ease color;
  }

  .duration {
    margin: 0;
    font-size: .9rem;
    text-align: left;
    color: #959595;

    i {
      margin-right: 5px;
      font-size: .75rem;
      color: #959595;
    }
  }

  .valueAndLink {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;

    .totalPrice {
      .from {
        font-size: .9rem;
        line-height: 1.35rem;
        text-align: left;
        color: #dadada;
      }

      .price {
        font-size: 1.125rem;
        font-weight: bold;
        text-align: left;
        color: #202020;
        margin: 0;
      }

      .value {
        display: block;
        margin-top: .2rem;
        font-size: .9rem;
        text-align: left;
        color: #dadada;
      }
    }

    button {
      cursor: pointer;
      border: none;
      padding: .9rem 2.55rem;
      border-radius: 1.875rem;
      background-color: #fafafa;
      transition: .2s ease background-color;

      i {
        font-size: 1.06rem;
        color: #ff5a39;
        transition: .2s ease color;

        @include device-mb {
          font-size: 1.3rem;
        }
      }

      &:hover {
        background-color: #ff5a39;

        i {
          color: #fff;
        }
      }
    }
  }

}

@include device-tb {
  .dealCard {
    &[data-view="horizontal"] {
      .cardDescription {
        width: 65%;
      }

      .imageBlock {
        height: unset;
        width: unset;
      }
    }

    .imageBlock {
      border-radius: .57rem .57rem 0 0;
      //height: 21.5vw;
      //width: 22.7vw;

      .like[data-type="wide"] {
        right: .72rem
      }

      .sellOut {
        transform: rotate(270deg) translate(-50%, 117%);
        border-radius: .57rem .57rem 0 0;
        padding: .57rem 1.43rem;
        font-size: .79rem;
      }

      .exposeTime {
        .timeName {
          font-size: 8px;
        }

        p {
          font-size: 32px;

          &.colon {
            margin: 0 8px;
          }
        }
      }

      .sale {
        border-radius: 0 .57rem;
        min-width: 8.6vw;
        padding: 0.72rem;

        p {
          font-size: .84rem;
        }
      }
    }

    .cardDescription {
      padding: .65rem .86rem 1.43rem .86rem;

      .aboutPlace {
        margin-bottom: 1rem;
        align-items: center;
      }
    }

    .valueAndLink {
      margin-top: 1rem;

      .totalPrice {
        .from {
          font-size: .875rem;
        }

        .price {
          font-size: 1rem;
        }
      }

      button {
        padding: 0.9rem 2.43rem;

        i {
          font-size: 1.21rem;
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .dealCard {
    .imageBlock {
      .exposeTime {
        .timeName {
          font-size: .46rem;
        }

        p {
          font-size: 2rem;

          &.colon {
            margin: 0 6px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) { // 940
  .dealCard {
    min-width: 272px;
  }
}

@include device-mb {
  .dealCard {
    .imageBlock {
      height: 90vw;
      max-height: 288px;

      .sale {
        padding: 9px 26px;
        min-width: 36%;
        box-sizing: border-box;

        p {
          @include font-mb((min: 11, max: 15))
        }
      }

      .sellOut {
        transform: rotate(270deg) translate(-50%, 117%);
        border-radius: .57rem .57rem 0 0;
        padding: .57rem 1.43rem;
        font-size: .79rem;
      }
    }

    .cardDescription {
      padding: 8px 12px 14px 12px;

      .aboutPlace {
        margin-bottom: .5rem;
        align-items: center;

        .rating {
          i {
            font-size: 10px;
          }

          span {
            font-size: 10px;
          }
        }

        .location {
          i, span {font-size: .77rem;}
        }
      }

      .duration {font-size: .77rem;}
    }

    .valueAndLink {
      margin-top: 14px;

      .totalPrice {
        .price {font-size: 1.07rem;}
        .from, .value {font-size: .92rem;}
        .value {line-height:1.5rem}
      }

      button {
        width: 76px;
        height: 44px;
        border-radius: 30px;
        padding: 0;
      }
    }
  }
}