@import "src/scss/device";
@import "src/scss/fonts";

.dealCard {
  transition: 0.2s ease box-shadow;
  border-radius: 8px;
  border: 1px solid #efefef;

  &:hover {
    box-shadow: 0 24px 32px rgba(0, 0, 0, 0.06);

    .imageBlock .background {
      transform: scale3d(1.1, 1.1, 1.1);
      cursor: pointer;
    }

    .tour {
      color: #ff5a39;
      cursor: pointer;
    }
  }

  &[data-view="horizontal"] {
    display: flex;

    .imageBlock {
      border-radius: 0.5rem 0 0 0.5rem;
      width: 31rem;
      height: 22rem;

      .sale {
        border-top-right-radius: 0;
      }
    }
  }

  &[data-view="reversed"], &[data-view="vertical"] {
    width: 23rem;

    .imageBlock {
      width: 100%;
      height: 22rem;
    }
  }

  .imageBlock {
    position: relative;
    transition: transform 0.2s ease-out;
    overflow: hidden;
    border-radius: 0.5rem 0.5rem 0 0;
    margin: -1px;

    img:not(.background) {
      z-index: 2;
    }

    .background {
      width: 100%;
      height: 100%;
      z-index: 1;
      transition: transform 1s;
      object-fit: cover;
      object-position: center;
    }

    .badge {
      position: absolute;
      top: 0;
      left: 2rem;
      width: 3.75vw;
      min-width: 35px;
      box-sizing: border-box;

      @include device-tb {
        left: 1.43rem;
        width: 4.75vw;
        border-radius: 0 0 8px 8px;
      }

      @include device-mb {
        left: 1.23rem;
        width: 4.75vw;
        border-radius: 0 0 8px 8px;
        min-width: 48px;
      }
    }

    .sellOut {
      position: absolute;
      top: 31%;
      right: 0;
      transform: rotate(270deg) translate(-50%, 50%);
      padding: 1rem 0.75rem;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 0.4rem 0.4rem 0 0;
      background-color: #fafafa;
      font-size: 0.81em;
      text-align: center;
      color: #202020;
      z-index: 1;
    }

    .like {
      cursor: pointer;
      position: absolute;
      color: #ffffff;
      z-index: 1;
      transition: 0.2s ease color;
      font-size: 1.5em;

      &[data-type="wide"] {
        bottom: 1.875rem;
        right: 1.6rem;
      }

      &[data-type="short"] {
        bottom: 1.5rem;
        right: 0.625rem;
      }

      &:hover {
        color: #ff5a39;
      }
    }

    .exposeTime {
      color: #fafafa;
      position: absolute;
      bottom: 1rem;
      left: 0;
      right: 0;
      z-index: 2;
    }

    .sale {
      border-radius: 0 6px 0 10px;
      position: absolute;
      right: 0;
      top: 0;
      padding: 0.75rem 0.5rem;
      background-color: #ff5a39;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 2;
      min-width: 30%;

      p {
        margin: 0;
        font-size: 0.81em;
        font-weight: 600;
        color: #ffffff;
      }
    }
  }

  .cardDescription {
    padding: 1.18rem 1.43rem 1.56rem 1.43rem;
    border-top: 0;

    &[data-view="horizontal"] {
      display: flex;
      flex-direction: column;
      padding: 0.5rem 1.5rem 1.81rem 2rem;
    }

    div[data-view="horizontal"] {
      flex: 1;

      .description {
        margin-top: 1.56rem;
        font-size: 0.875em;
        line-height: 1.5rem;
        color: #959595;
      }
    }

    .aboutPlace {
      margin-bottom: 1.25rem;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;

      .location {
        i {
          margin-right: 5px;
          font-size: 1em;
          text-align: left;
          color: #959595;
        }

        span {
          font-size: 0.9em;
          text-align: left;
          color: #959595;
        }
      }
    }
  }

  .tour {
    font-size: 1.125em;
    font-weight: bold;
    text-align: left;
    transition: 0.2s ease color;
    color: #202020;
  }

  .duration {
    margin: 0;
    font-size: 0.9em;
    text-align: left;
    color: #959595;

    i {
      margin-right: 5px;
      font-size: 0.75em;
      color: #959595;
    }
  }

  .valueAndLink {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;

    .totalPrice {
      .from {
        font-size: 0.9em;
        line-height: 1.35rem;
        text-align: left;
        color: #dadada;
      }

      .price {
        font-size: 1.125em;
        font-weight: bold;
        text-align: left;
        color: #202020;
        margin: 0;
      }

      .value {
        display: block;
        margin-top: 0.2rem;
        font-size: 0.9em;
        text-align: left;
        color: #dadada;
      }
    }

    button {
      cursor: pointer;
      border: none;
      padding: 0.9rem 2.55rem;
      border-radius: 1.875rem;
      background-color: #fafafa;
      transition: 0.2s ease background-color;

      i {
        font-size: 1.06em;
        color: #ff5a39;
        transition: 0.2s ease color;

        @include device-mb {
          font-size: 1.3em;
        }
      }

      &:hover {
        background-color: #ff5a39;

        i {
          color: #fff;
        }
      }
    }
  }
}

@include device-tb {
  .dealCard {
    &[data-view="horizontal"] {
      .cardDescription {
        width: 65%;
      }

      .imageBlock {
        height: unset;
        width: unset;
      }
    }

    &[data-view="reversed"], &[data-view="vertical"] {
      width: 25.6rem;

      .imageBlock {
        height: 24.4rem;
      }
    }

    .imageBlock {
      border-radius: 0.57rem 0.57rem 0 0;

      .like[data-type="wide"] {
        right: 0.72rem;
      }

      .sellOut {
        transform: rotate(270deg) translate(-50%, 117%);
        border-radius: 0.57rem 0.57rem 0 0;
        padding: 0.57rem 1.43rem;
        font-size: 0.79em;
      }

      .sale {
        border-radius: 0 0.57rem;
        min-width: 8.6vw;
        padding: 0.72rem;

        p {
          font-size: 0.84em;
        }
      }
    }

    .cardDescription {
      padding: 0.65rem 0.86rem 1.43rem 0.86rem;

      .aboutPlace {
        margin-bottom: 1rem;
        align-items: center;
      }
    }

    .valueAndLink {
      margin-top: 1rem;

      .totalPrice {
        .from {
          font-size: 0.875em;
        }

        .price {
          font-size: 1em;
        }
      }

      button {
        padding: 0.9rem 2.43rem;

        i {
          font-size: 1.21em;
        }
      }
    }
  }
}

@include device-ipad {
  .dealCard {
    &[data-view="reversed"], &[data-view="vertical"] {
      width: 29rem;

      .imageBlock {
        height: 27.5rem;
      }
    }
  }
}

@include device-mb {
  .dealCard {
    //min-width: 272px;
    min-width: 34rem;

    &[data-view="reversed"], &[data-view="vertical"] {
      width: 29rem;

      .imageBlock {
        height: 36rem;
      }
    }

    .imageBlock {
      //height: 272px;
      // height: 34rem;

      .sale {
        padding: 1rem 3.25rem;
        min-width: 36%;
        box-sizing: border-box;

        p {
          @include font-mb(
            (
              min: 11,
              max: 15
            )
          );
        }
      }

      .sellOut {
        transform: rotate(270deg) translate(-50%, 117%);
        border-radius: 0.57rem 0.57rem 0 0;
        padding: 0.57rem 1.43rem;
        font-size: 0.79em;
      }
    }

    .cardDescription {
      padding: 1.75rem 1.5rem 2rem;

      .aboutPlace {
        margin-bottom: 0.5rem;
        align-items: center;

        .rating {
          i {
            font-size: .875em;
          }

          span {
            font-size: .875em;
          }
        }

        .location {
          i,
          span {
            font-size: 1em;
          }
        }
      }

      .duration {
        font-size: 1em;
      }
    }

    .tour {
      font-size: 1.666666em;
      margin-bottom: 0.5rem;
    }

    .valueAndLink {
      margin-top: 1.75rem;

      .totalPrice {
        .price {
          font-size: 1.1666666em;
        }
        .from,
        .value {
          font-size: 1em;
        }
        .value {
          line-height: 1.5rem;
        }
      }

      button {
        width: 9.5rem;
        height: 5.5rem;
        border-radius: 3.75rem;
      }
    }
  }
}
