@import 'src/scss/device';

.activitiesSection {
  margin-top: 5.4vw;
  position: relative;
  background-image: url('./assets/background1920.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center 0;
  background-attachment: scroll;
  box-sizing: border-box;
  height: 37.5vw;
  min-height: 214px;

  @include device-tb {
    margin-top: 72px;
  }

  @include device-mb {
    margin-top: 56px;
    background-size: cover;
  }

  .breadcrumbs {
    position: absolute;
    bottom: 3%;
    margin: 0 12.5rem;

    @include device-tb {
      margin: 0 2.57rem;
    }

    @include device((max: 1024px)) {
      bottom: 0;
    }

    @include device-mb {
      margin: 0 1.5rem;
      bottom: -5%;
    }
  }

  .card {
    max-width: 26vw;
    margin-top: 4.68rem;

    @include device-tb {
      max-width: 24.41vw;
      margin-top: 1.71rem;
    }

    @include device-ipad {
      display: none;
    }
  }

  .mask {
    bottom: -13vw;
  }

  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0) 0%, #000000 100%);
    opacity: 0.53;
  }

  .headerCardWrapper {
    position: relative;
    margin: 0 12.5rem;
    display: flex;
    justify-content: flex-end;

    @include device-tb {
      margin: 0 2.57rem;
    }
  }
}
