@import 'src/scss/device';

.activitiesSection {
  position: relative;
  background-image: url('./assets/background1920.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center 0;
  background-attachment: scroll;
  box-sizing: border-box;

  .breadcrumbs {
    position: absolute;
    bottom: 3%;
    margin: 0 12.5rem;
  }

  .card {
    width: 32rem;
    margin-top: 4.5rem;
  }

  .mask {
    bottom: -15.625rem;
  }

  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0) 0%, #000000 100%);
    opacity: 0.53;
  }

  .headerCardWrapper {
    position: relative;
    margin: 0 12.5rem;
    display: flex;
    justify-content: flex-end;
  }
}

@include device-tb {
  .activitiesSection {
    .breadcrumbs {
      margin: 0 2.57rem;
    }

    .card {
      max-width: 35rem;
      margin-top: 1.71rem;
    }

    .headerCardWrapper {
      margin: 0 2.57rem;
    }
  }
}

@include device-ipad {
  .activitiesSection {
    .breadcrumbs {
      bottom: 0;
    }

    .card {
      display: none;
    }
  }
}

@include device-mb {
  .activitiesSection {
    .breadcrumbs {
      margin: 0 1.5rem;
      bottom: 1rem;
    }

    .mask {
      bottom: -3rem;
    }
  }
}
