.dealNavigation {
  position: fixed;
  z-index: 5;
  top: 100px;
  left: 0;
  width: 96px;
  height: 685px;
  border: solid 1px #e8e8e8;
  padding: 16px;

  .icon {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: dashed 1px #dadada;
    padding-bottom: 4px;
    margin-bottom: 9.6px;

    &:last-of-type {
      border: none;
      margin-bottom: 0;
    }

    img {
      // width: 32px;
      height: 32px;
      margin-bottom: 6px;
    }

    span {
      font-size: 10px;
      text-align: center;
      color: #202020;
    }
  }
}