@import "src/scss/device";

.bookingDetails {
  position: relative;
  display: flex;
  border: 1px solid #ff5a39;
  box-sizing: border-box;

  &[data-variant="inMonth"] {
    border-radius: 4px;
    padding: 2rem 0 1.5rem 2.5rem;

    .rightSection {
      margin-left: 6rem;
    }
  }

  &[data-variant="inWeek"] {
    padding: 2rem 0 1.5rem 1.5rem;

    .rightSection {
      margin-left: calc(2.5rem - 1px);
    }
  }

  .close {
    color: #959595;
    right: 2.5rem;
    top: 3.125rem;
    font-size: .875em;
    position: absolute;
    cursor: pointer;

    &:hover {
      color: #ff5a39;
    }
  }

  .leftSection {
    .button {
      position: relative;
      width: 10rem;
      left: -.6rem;
    }

    .buttonMobile {
      display: none;
    }

    .select {
      width: 4rem;
    }

    span, b {
      display: inline-block;
      line-height: 1.5rem;
    }

    h5 {
      color: #ff5a39;
      font-size: 1.312em;
      font-weight: bold;
      margin-bottom: 1.125rem;
    }

    .group {
      margin-top: 1.75rem;
      padding-bottom: 1.125rem;
      border-bottom: 1px solid #e8e8e8;
      width: 41rem;

      > div {
        display: flex;
      }

      b {
        font-weight: 500;
        width: 3.5rem;
        font-size: 1em;
      }

      div:nth-of-type(2) {
        margin-top: 1rem;
      }

      &:last-of-type {
        border: none;
      }
    }

    .category, .shedule span {
      width: 19.5rem;
    }

    .category {
      font-size: .875em;

      span {
        margin-left: 1.5rem;
      }
    }

    .price {
      width: 14.62rem;
      text-transform: uppercase;
    }
  }

  .rightSection {
    display: flex;
    padding: 0 2rem;
    flex-direction: column;
    align-content: center;
    border-left: 1px solid #e8e8e8;
    width: 100%;

    h4 {
      color: #4eb62a;
      font-size: 1.5em;
      font-weight: bold;
      text-transform: uppercase;
      text-align: center;
      margin: 4.62rem 0 1rem;
    }

    .levy, .total {
      margin-top: 2rem;
      text-align: center;
    }

    .levy {
      border-radius: 8px;
      border: 1px solid #fafafa;
      line-height: 1.25em;
      padding: .5rem;
      box-sizing: border-box;
    }

    .total {
      font-size: .875em;
      display: flex;
      flex-wrap: wrap;
      align-items: baseline;
      justify-content: center;

      b {
        font-size: 1.15em;
        font-weight: 600;
        margin-top: .5rem;
        margin-left: .5rem;

        span {
          color: #ff5a39;
        }
      }
    }
  }
}

@include device-ipad {
  .bookingDetails {

    &[data-variant="inMonth"] {
      padding: 2.5rem 0 3.5rem 2.5rem;

      .rightSection {
        margin-left: 2.5rem;
        padding: 0 2rem;
      }

      .leftSection {
        .group {
          width: 52rem;
          padding-bottom: 1.75rem;
        }
      }
    }

    &[data-variant="inWeek"] {
      padding: 2.5rem 0 3.5rem 2.5rem;

      .rightSection {
        margin-left: calc(1.5rem - 1px);
        padding: 0 1rem;
      }

      .leftSection {
        .group {
          width: 56rem;
          padding-bottom: 1.5rem;
        }
      }
    }

    .close {
      right: 1rem;
      top: 2rem;
      font-size: .875em;
    }

    .leftSection {
      .button {
        position: absolute;
        left: 25.75rem;
        width: 17rem;
        height: 3rem;
      }

      h5 {
        font-size: 1.33333em;
        margin-bottom: 1.75rem;
        line-height: 1.5em;
      }

      .group {
        margin-top: 2.25rem;

        > div {
          margin-top: .75rem;
          position: relative;
        }

        b {
          width: 7rem;
          font-size: 1.1666666em;
        }

        div:nth-of-type(2) {
          margin-top: 1.5rem;
        }
      }

      .category, .shedule span {
        width: 25.75rem;
      }

      .shedule span {
        margin-top: .5rem;
      }

      .category {
        font-size: 1em;
        display: flex;
        flex-direction: column;

        .adult {
          display: none;
        }

        span {
          margin: .75rem 0 0 0;
        }
      }

      .price {
        width: 21.5rem;
      }
    }

    .rightSection {
      h4 {
        font-size: 1.3333em;
        margin: 7.25rem 0 2.5rem;
      }

      .levy {
        line-height: 1.25em;
        padding: .5rem;
        margin-top: 4rem;
      }

      .total {
        font-size: .83333em;
        margin-top: 2rem;


        b {
          font-size: 1.3em;
          margin-top: 1rem;
          margin-left: .5rem;
        }
      }
    }
  }
}

@include device-mb {
  .bookingDetails {
    border-radius: 0 !important;
    padding: 2.25rem 1.5rem !important;
    flex-direction: column;

    .leftSection {
      display: flex;
      flex-direction: column;

      .button {
        display: none;
      }

      .buttonMobile {
        display: block;
        width: 17rem;
        height: 3rem;
        font-size: .83333333em;
        margin-top: 2rem;
      }

      h5 {
        font-size: 1.3333333em;
        margin-bottom: 1rem;
      }

      .group {
        width: 100% !important;
        margin-top: 1.25rem;

        b {
          display: inline-block;
          width: 7.5rem;
        }

        &:last-of-type {
          border-bottom: 1px solid #e8e8e8;
        }
      }

      .category, .shedule span {
        width: 100%;
      }

      .category span {
        margin-left: 0;
      }

      .shedule:last-of-type {
        margin-bottom: 2.75rem;
      }

      .price {
        margin-left: -14rem;
        font-size: 1.1666666em;
      }
    }

    .rightSection {
      padding: 0 !important;
      border: 0;
      margin-left: 0 !important;

      h4 {
        font-size: 1.333333em;
        margin: 2.75rem 0;
      }

      .levy {
        margin-top: 2rem;
        height: 5rem;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .total {
        margin-top: 1.25rem;

        b {
          margin: 0 0 0 .5rem
        }
      }

    }
  }
}