.bookingDetails {
  position: relative;
  display: flex;
  height: 25rem;
  border-radius: 4px;
  border: 1px solid #ff5a39;
  padding: 2rem 0 1.5rem 2.5rem;

  .close {
    color: #959595;
    right: 2.5rem;
    top: 3.125rem;
    font-size: .875em;
    position: absolute;
    cursor: pointer;

    &:hover {
      color: #ff5a39;
    }
  }

  .leftSection {
    .button {
      position: relative;
      width: 10rem;
      left: -.6rem;
    }

    .select {
      width: 4rem;
    }

    span, b {
      display: inline-block;
      line-height: 1.5rem;
    }

    h5 {
      color: #ff5a39;
      font-size: 1.312rem;
      font-weight: bold;
      margin-bottom: 1.125rem;
    }

    .group {
      margin-top: 1.75rem;
      padding-bottom: 1.125rem;
      border-bottom: 1px solid #e8e8e8;
      width: 41rem;

      > div {
        display: flex;
      }

      b {
        font-weight: 500;
        width: 3.5rem;
        font-size: 1rem;
      }

      div:nth-child(2) {
        margin-top: 1rem;
      }

      &:last-of-type {
        border: none;
      }
    }

    .category, .shedule span {
      width: 19.5rem;
    }

    .category {
      font-size: .875rem;

      span {
        margin-left: 1.5rem;
      }
    }

    .price {
      width: 14.62rem;
      text-transform: uppercase;
    }
  }

  .rightSection {
    display: flex;
    flex-direction: column;
    align-content: center;
    margin-left: 6rem;
    border-left: 1px solid #e8e8e8;
    width: 100%;
    padding: 0 2rem;

    h4 {
      color: #4eb62a;
      font-size: 1.5rem;
      font-weight: bold;
      text-transform: uppercase;
      text-align: center;
      margin: 4.62rem 0 1rem;
    }

    p {
      font-size: .875em;
      margin-top: 2rem;
      text-align: center;

      &.levy {
        border-radius: 8px;
        border: 1px solid #fafafa;
        line-height: 1.25em;
        padding: .5rem;
        box-sizing: border-box;
      }

      b {
        font-size: 1.15em;
        font-weight: 600;

        span {
          color: #ff5a39;
        }
      }
    }
  }


}