.filtersMenu {
  display: none;

  > button {
    display: block;
    margin: 25px auto 0 auto;
    padding: 0;
    cursor: pointer;
    width: calc(45%);
    height: 48px;
    border-radius: 8px;
    border: 1px solid #e8e8e8;
    background: transparent;
    color: #202020;
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
  }

  .filtersHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;

    i {
      margin-right: 25px;
    }

    span {
      transition: .2s ease color;
      margin-right: 15px;

      &:last-of-type {
        margin-right: 0;
      }
    }
  }

  hr {
    margin: 15px 0;
    height: 0;
    border: 1px solid #e8e8e8;
  }

  .filtersSelect {
    margin-top: 8px;
    margin-bottom: 0;
  }

  .filtersPriceRange {
    margin-top: 20px;
  }

  input {
    padding: 0 15px;
    width: calc(100% - 32px);
    height: 48px;
    border-radius: 4px;
    background: transparent;
    border: 1px solid #e8e8e8;
    color: #202020;
    font-size: 12px;
    font-weight: 400;
    line-height: 40px;
    outline: none;
    transition: .2s ease border-color;

    &::placeholder {
      color: #202020;
      font-size: 12px;
      font-weight: 400;
      line-height: 40px;
    }

    &:focus {
      border-color: #ff5a39;
    }
  }

  .filtersButtons {
    margin-top: 15px;

    .orangeButton {
      width: calc(60% - 10px);
    }

    .resetButton {
      cursor: pointer;
      color: #959595;
      font-size: 12px;
      font-weight: 400;
      line-height: 32px;
      background-color: transparent;
      border: none;
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 900px) {
  .filtersMenu {
    display: block;
  }
}

@media screen and (min-width: 320px) and (max-width: 614px) {
  .filtersMenu {
    > button {
      margin-top: 16px;
      width: 100%;
    }
  }
}