@import "src/scss/device";

.expectDay {
  display: flex;

  .right, .left {
    display: flex;
    flex-direction: column;
  }

  .left {
    align-items: center;
  }

  .right {
    margin-left: 1.5rem;
  }

  .line {
    border-left: 1px dashed #00aaf6;
    height: 100%;
    margin-top: 1.75rem;
  }

  &:last-of-type {
    .line {
      display: none;
    }
  }

  .day {
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background: #ff5a39;
    color: #fff;
    font-size: 1em;
    font-weight: bold;

    b:last-of-type {
      font-size: .625em;
    }
  }

  .info {
    h5 {
      font-size: 1em;
      font-weight: bold;
      margin-bottom: .25rem;
    }

    i {
      font-size: .75em;
      margin-right: .25rem;
    }

    span {
      display: inline-flex;
      margin-right: 1.25rem;
    }
  }

  p {
    line-height: 1.5em;
    margin-top: 1.5rem;
    padding-bottom: 2.5rem;
    box-sizing: border-box;
    max-height: 6.5rem;
    transition: .8s ease max-height;
    overflow: hidden;

    &[data-expanded="true"] {
      max-height: 1000px;

      .expand i {
        transform: rotate(180deg);
      }
    }
  }

  .expand {
    cursor: pointer;
    margin-left: 1rem;

    i {
      font-size: .75em;
      transition: .2s ease transform;
      margin-left: .5rem;
    }

    &:hover {
      color: #ff5a39;
    }
  }
}

@include device-ipad {
  .expectDay {
    .day {
      width: 5rem;
      height: 5rem;
      font-size: 1.1666666em;

      b:last-of-type {
        font-size: .714em;
      }
    }

    .line {
      margin-top: 2.25rem;
    }

    .right {
      margin-left: 2rem;
    }

    .info {
      h5 {
        font-size: 1.1666666em;
      }

      i {
        font-size: .833em;
        margin-right: .5rem;
      }

      span {
        margin-right: 1.5rem;
      }
    }

    p {
      margin-top: 2.5rem;
      padding-bottom: 2.5rem;
      max-height: 10rem;
    }
  }
}

@include device-mb {
  .expectDay {
    .day {
      width: 3.5rem;
      height: 3.5rem;
      font-size: 1em;

      b:last-of-type {
        font-size: .5em;
      }
    }

    .right {
      margin-left: 1.5rem;
    }

    .info {
      h5 {
        font-size: 1.1666666em;
      }

      i {
        font-size: .833em;
        margin-right: .5rem;
      }

      span {
        margin-bottom: 1rem;
      }

      div {
        display: flex;
        flex-direction: column;
        margin-top: 2.5rem;
      }
    }

    p {
      margin-top: 0;
      padding-bottom: 2rem;
      max-height: 25.75rem;
    }
  }
}