@import 'src/scss/device';
@import 'src/scss/_utils';

.basicSearchTravel {
  position: relative;
  margin: auto;
  position: relative;
  width: 63rem;
  box-sizing: border-box;

  .searchBtn {
    font-size: 1.125em;
    width: 13rem;
    margin-right: .5rem;
  }

  .suggestions {
    position: absolute;
    z-index: 10;
    background-color: #fff;
    box-shadow: 0 1px 6px 3px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    top: calc(100% + .5rem);
    left: 0;
    right: 0;
    overflow: auto;
    margin: 0 1rem;

    @include scrollbar;
  }

  .suggestion {
    font-size: .875em;
    padding: .625rem 1.5rem;
    cursor: pointer;

    &:hover {
      background-color: #d1ecf1;
    }

    &[data-current="true"] {
      background-color: #e8e8e8;
    }
  }

  .suggestionName {
    padding: 1.625rem 1.5rem .625rem;
    font-size: .875em;
    color: #959595;
  }

  .field {
    display: flex;
    align-items: center;
    height: 100%;
    box-sizing: border-box;
    height: 4.5rem;
    border: 1px solid transparent;
    background: rgba(255, 255, 255, 0.26);
    border-radius: 3.75rem;

    input {
      flex-grow: 1;
      font-size: 1em;
      border: none;
      height: 100%;
      background: transparent;
      color: #cad9ea;
      padding: 0 2rem;

      &::placeholder {
        color: #cad9ea;
      }
    }

    i {
      margin-left: 1.5rem;
      cursor: pointer;
      outline: none;
      transition: .2s ease color, .2s ease transform;

      &[data-suggestions="true"] {
        color: #ff5a39 !important;
        transform: rotate(180deg);
      }
    }

    &[data-focus="true"] {
      border-color: #ff5a39;
    }
  }
}


@include device-mb {
  .basicSearchTravel {
    display: none;
  }
}