@import "../../../../scss/device";

.instagramCards {
  position: relative;
  margin-top: 103px;
  margin-bottom: -115px !important;
  z-index: 1;
}

.breadcrumbs {
  position: relative;
  padding: 0 100px;
  max-width: 1520px;
  margin: -13.5vw auto 24px;
  height: 16px;
  z-index: 9;
}

@include device-tb {
  .breadcrumbs {
    padding: 0 50px;
  }
}

@include device-ipad {
  .breadcrumbs {
    position: absolute;
    top: 44vw;
    max-width: 980px;
    margin: 0 auto 16px;
  }
}

@include device((max: 900px)) {
  .breadcrumbs {
    padding: 0 25px;
  }
}

@include device-mb {
  .instagramCards {
    margin-top: 72px;
  }

  .breadcrumbs {
    position: absolute;
    top: 76vw;
    padding: 0 8px;
  }
}