@import "src/scss/device";

.instagramCards {
  position: relative;
  margin-top: 6.43rem;
  margin-bottom: -7.8rem !important;
  z-index: 1;

  @include device-mb {
    margin-top: 72px;
  }
}

.breadcrumbs {
  position: absolute;
  top: 38vw;
  left: 10.5vw;
  height: 1rem;
  z-index: 9;

  @include device((max: 1024px)) {
    top: 45vw;
    left: 6vw;
  }
}