@import "../../../../scss/device";

.instagramCards {
  position: relative;
  margin-top: 103px;
  margin-bottom: -115px !important;
  z-index: 1;
}

.breadcrumbs {
  position: relative;
  max-width: 1528px;
  margin: -28px auto 24px;
  height: 16px;
  z-index: 3;
}

@include device-tb {
  .breadcrumbs {
    max-width: 1110px;
    margin-top: -56px;
  }
}

@include device-ipad {
  .breadcrumbs {
    max-width: 980px;
    margin: -56px auto 16px;
  }
}

@include device-mb {
  .instagramCards {
    margin-top: 72px;
  }

  .breadcrumbs {
    position: absolute;
    top: 287px;
    left: 15px;
  }
}