.dealLayout {
  padding: 90px 12.5rem 0 12.5rem;
  box-sizing: border-box;
  width: 100%;

  .header {
    display: flex;
  }
}

.breadcrumbs {
  margin-top: 1.125rem;
}

.orderDetails {
  width: 23rem;
  margin-left: 1rem;
}

.tourDescription {
  margin: 1.875rem 0 2rem;
}

.faqSection, .relatedTravelBlogs, .tourIcons {
  margin-top: 4rem;
}

.dealsSection {
  margin-top: 6.25rem;
}

.reviews {
  margin-top: 2rem;
}

.googleMap, .whatsToExpect {
  margin-top: 3rem;
}

.googleMap, .reviews, .faqSection, .relatedTravelBlogs, .tourInfoGallery, .card, .whatsToExpect {
  width: 71rem;
}

.card {
  margin-top: 2.5rem;

  p {
    line-height: 1.5rem;
  }

  a {
    display: block;
    color: #202020;
    margin-top: .5rem;
  }
}