.dealLayout {
  padding: 90px 12.5rem 0 12.5rem;

  .header {
    display: flex;
  }
}

.breadcrumbs {
  margin-top: 1.125rem;
}

.orderDetails {
  width: 23rem;
  margin-left: 1rem;
}

.tourDescription {
  margin: 1.875rem 0 2rem;
}

.tourInfoGallery {
  width: 71rem;
}

.tourIcons {
  margin-top: 4rem;
}

.relatedTravelBlogs {
  margin-top: 4rem;
  margin-right: 22.5rem;
}

.faqSection {
  width: 71rem;
  margin-top: 4rem;
}

.dealsSection {
  margin-top: 6.25rem;
}

.card {
  margin-top: 2.5rem;
  width: 71rem;

  p {
    line-height: 1.5rem;
  }

  a {
    display: block;
    color: #202020;
    margin-top: .5rem;
  }
}