$size-mb-min: 320px;
$size-tb-min: 768px;
$size-tb-max: 1280px;
$size-pc-min: $size-tb-max + 1;
$size-pc-max: 1920px;

// Custom device resolution
@mixin device($min-max-map){
  $min: map-get($min-max-map, 'min');
  $max: map-get($min-max-map, 'max');

  @if($min and $max) {
    @media screen and (min-width: $min) and (max-width: $max) { @content; }
  } @else if ($min) {
    @media screen and (min-width: $min) { @content; }
  } @else if ($max) {
    @media screen and (max-width: $max) { @content; }
  }
}

@mixin device-mb() {
  $map: (min: $size-mb-min, max: $size-tb-min - 1);
  @include device($map) {
    @content
  }
}

@mixin device-ipad() {
  $map: (max: 1024px);
  @include device($map) {
    @content
  }
}

@mixin device-tb() {
  $map: (min: $size-tb-min, max: $size-tb-max);
  @include device($map) {
    @content
  }
}

@mixin device-pc() {
  $map: (min: $size-pc-min, max: $size-pc-max);
  @include device($map) {
    @content
  }
}



