@import '../../../../scss/device';

.activitiesSection {
  margin-top: 104px;
  position: relative;
  background-image: url('./assets/background1920.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center 0;
  background-attachment: scroll;
  box-sizing: border-box;
  height: 49vw;
  min-height: 850px;

  @include device((min: 1279px, max: 1541px)) {
    background-size: cover;
  }

  @include device-tb {
    margin-top: 72px;
    min-height: 537px;
  }

  @include device-ipad {
    min-height: unset;
  }

  @include device-mb {
    margin-top: 56px;
    height: 70vw;
    background-size: cover;
  }

  .card {
    width: 497px;
    margin-top: 75px;

    @include device-tb {
      margin-top: 25px;
      width: 312px;
    }

    @include device-ipad {
      display: none;
    }
  }

  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0) 0%, #000000 100%);
    opacity: 0.53;
  }

  .headerCardWrapper {
    position: relative;
    padding: 0 100px;
    max-width: 1520px;
    display: flex;
    justify-content: flex-end;
    margin: 0 auto;

    @include device-tb {
      padding: 0 50px;
    }
  }
}
