.activitiesSection {
  margin-top: 100px;
  position: relative;
  background-image: url('./assets/background1920.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  padding: 146px 0 628px 0;

  .mask {
    mask-position: 50% calc(50% + 420px);
  }

  h1 {
    position: relative;
    text-align: center;
    color: #ffffff;
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
  }

  .card {
    position: absolute;
    left: 66%;
    top: -74px;
  }
}

@media screen and (min-width: 615px) and (max-width: 1279px) {
  .activitiesSection {
    h1 {
      display: none;
    }

    .card {
      left: 56%;
    }

    .mask {
      mask-position: 50% calc(50% + 340px);
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 615px) {
  .activitiesSection {
    margin-top: 50px;
    padding: 125px 0;

    .card, h1 {
      display: none;
    }

    .mask {
      mask-position: center calc(50% + 70px);
    }
  }
}