@import '../../../../scss/device';

.activitiesSection {
  margin-top: 104px;
  position: relative;
  background-image: url('./assets/background1920.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  padding: 146px 0 628px 0;

  .mask {
    mask-position: 50% calc(50% + 420px);
  }

  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0) 0%, #000000 100%);
    opacity: 0.53;
  }

  h1 {
    position: relative;
    text-align: center;
    color: #ffffff;
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
  }

  .card {
    position: absolute;
    left: 200px;
    top: -74px;
  }
}

@media screen and (min-width: 615px) and (max-width: 1279px) {
  .activitiesSection {
    h1 {
      display: none;
    }

    .card {
      width: 312px;
      right: 72px;
      left: unset;
    }

    .mask {
      mask-position: 50% calc(50% + 340px);
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 615px) {
  .activitiesSection {
    margin-top: 0;
    padding: 125px 0;

    .card, h1 {
      display: none;
    }

    .mask {
      mask-position: center calc(50% + 70px);
    }
  }
}

@include device-tb {
  .activitiesSection {
    margin-top: 72px;
  }
}

@include device-mb {
  .activitiesSection {
    margin-top: 0;
    height: 252px;
    background-size: 153% auto;
    background-position-y: 52px;

    .mask {
      mask-position: center calc(50% + -25px);
    }

    &:after {
      height: 253px;
    }
  }
}