@import "src/scss/device";

.tourOperator {
  padding: 2rem 1.5rem 3rem;
  box-sizing: border-box;
  border: 1px solid #e8e8e8;
  border-radius: 8px;

  h3 {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 1.5rem;
  }

  .content {
    position: relative;
  }

  .card {
    position: absolute;
    top: 1.5rem;
    bottom: 5.125rem;
    right: 1.5rem;
    left: 46.5rem;
    padding: 1.25rem 1rem 1rem;
    border-radius: 8px;
    background: #fff;
    z-index: 1;

    h4 {
      font-size: 1em;

      &:first-of-type {
        text-align: center;
        padding-bottom: 1rem;
        border-bottom: 1px solid #e8e8e8
      }

      &:last-of-type {
        padding-top: 1.5rem;
        border-top: 1px solid #e8e8e8;
      }
    }

    p {
      margin-top: .5rem;
      font-size: .98em;
      line-height: 1.5em;
    }
  }

  .img {
    width: 13.5rem;
    height: 9rem;
    margin: 0 auto;

    img {
      display: flex;
      width: 100%;
      height: 100%;
    }
  }

  .iframeWrapper {
    overflow: hidden;
    padding-bottom: 28.625rem;
    position: relative;
    height: 0;

    iframe {
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      position: absolute;
      border: 0;
    }
  }
}

@include device-ipad {
  .tourOperator {
    padding: 3rem 2rem 4rem;

    h3 {
      font-size: 2.1666666em;
      margin-bottom: 2rem;
    }

    .card {
      top: 2rem;
      bottom: 5rem;
      right: 2rem;
      left: 58rem;
      padding: 1.25rem 1.5rem 1.5rem;

      h4 {
        font-size: 1.1666666em;

        &:first-of-type {
          padding-bottom: 1.5rem;
        }

        &:last-of-type {
          padding-top: 1.5rem;
        }
      }

      p {
        margin-top: .5rem;
        font-size: 1.1666666em;
      }
    }

    .img {
      width: 21.5rem;
      height: 14rem;
    }

    .container {
      padding-bottom: 42.5rem;
    }
  }
}

@include device-mb {
  .tourOperator {
    border-left: none;
    border-right: none;
    border-bottom: none;
    border-radius: 0;
    padding: 2.5rem 0;

    h3 {
      font-size: 1.666666em;
      margin: 0 0 2.5rem 2rem;
    }

    .card {
      position: static;
      top: unset;
      bottom: unset;
      right: unset;
      left: unset;
      padding: 1.5rem 1rem 0;
      border-radius: 0;
      z-index: 0;

      h4 {
        font-size: 1.1666666em;

        &:first-of-type {
          display: none;
        }

        &:last-of-type {
          padding-top: 0;
          border-top: none;
        }
      }

      p {
        font-size: 1.1666666em;
        line-height: 1.5em;
      }
    }

    .img {
      float: left;
      padding-bottom: 4.25rem;
      width: 15rem;
      height: 9.75rem;
      margin-right: 2rem;
    }

    .container {
      overflow: hidden;
      padding-bottom: 42.5rem;
    }
  }
}
