.travelStoryCard {
  position: relative;
  border-radius: 8px;

  .text {
    position: absolute;
    left: 24px;
    bottom: 32px;
    z-index: 1;

    h3 {
      font-size: 26px;
      color: #fff;
    }

    span {
      font-size: 16px;
      color: #fff;
    }

    h3, span {
      max-width: 398px;
    }
  }

  .gradient {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    border-radius: 8px;
    opacity: .8;
  }

  img {
    width: 100%;
    height: 100%;
  }

  &[data-variant="image63"] {
    max-width: 1512px;
    height: 478px;
  }

  &[data-variant="image64"] {
    max-width: 1008px;
    height: 352px;
  }

  &[data-variant="image65"] {
    max-width: 496px;
    height: 352px;
  }
}


@media screen and (max-width: 1280px) {
  .travelStoryCard {
    .text {
      left: 16px;
      bottom: 16px;

      h3 {
        font-size: 20px;
      }

      span {
        font-size: 14px;
      }

      h3, span {
        max-width: 300px;
      }
    }

    &[data-variant="image63"] {
      max-width: 1044px;
      height: 332px;
    }

    &[data-variant="image64"] {
      max-width: 696px;
      height: 332px;
    }

    &[data-variant="image65"] {
      max-width: 340px;
      height: 332px;
    }
  }
}

@media screen and (max-width: 1024px) {
  .travelStoryCard {
    &[data-variant="image63"] {
      max-width: 952px;
    }

    &[data-variant="image64"] {
      max-width: 632px;
    }

    &[data-variant="image65"] {
      max-width: 312px;
    }
  }
}

@media screen and (max-width: 767px) {
  .travelStoryCard {
    .text {
      h3, span {
        max-width: 250px;
      }
    }

    &[data-variant="image63"] {
      max-width: 304px;
    }

    &[data-variant="image64"] {
      max-width: 304px;
    }

    &[data-variant="image65"] {
      max-width: 304px;
    }
  }
}