.root {

  li {
    cursor: pointer;
    list-style: none;
  }

  > ul[data-theme="head"] {
    border-bottom: 2px solid #fafafa;

    li {
      padding: 22px 0;
      border-bottom: 2px solid #fafafa;
      display: inline-block;
      margin-right: 54px;
      font-size: 14px;
      color: #959595;
      margin-bottom: -2px;
      transition: .2s ease color, .2s ease border-bottom-color;

      &[data-active="true"] {
        color: #202020;
        border-bottom-color: #ff5a39;
      }
    }
  }

  &[data-theme="leftmenu"] {
    display: flex;
  }

  > ul[data-theme="leftmenu"] {
    margin-top: 32px;

    li {
      font-size: 14px;
      width: 168px;
      color: #202020;
      padding: 10px 26px;
      margin-left: -26px;
      margin-bottom: 8px;

      p {
        margin: 2px 0 0 0;
        font-size: 12px;
        color: #dadada;
      }

      &[data-active="true"] {
        background-color: #fafafa;
      }
    }
  }
}