header {
  background: url('./assets/background.jpg') center no-repeat scroll border-box border-box;
  padding-bottom: 250px;

  h1 {
    margin: 120px 0 10px 0;
    font-size: 72px;
    font-weight: bold;
    line-height: 1.69;
    text-align: center;
    color: #ffffff;
  }

  h2 {
    margin-bottom: 35px;
    font-size: 32px;
    font-weight: bold;
    line-height: 0.62;
    text-align: center;
    color: #ffffff;
  }
}