.moreActivities {
  margin: 200px;

  h3 {
    text-align: center;
    font-size: 56px;
    color: #ff5a39;
  }

  .header {
    margin-top: 45px;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    line-height: 1.85;
    color: #202020;

    i {
      margin-left: 8px;
      cursor: pointer;

      &:nth-child(2) {
        margin-right: 20px;
      }

      &[data-active="false"] {
        color: #bbb;
      }
    }
  }

  .pagesControls {
    span {
      display: inline-block;
      font-size: 13px;
      line-height: 1.85;
      color: #959595;
      width: 26px;
      cursor: pointer;

      &[data-active="true"] {
        color: #ff5a39;
      }
    }

    button {
      width: 48px;
      height: 48px;
      border: solid 1px #ff5a39;
      border-radius: 50%;
      background-color: transparent;
      font-size: 17px;
      color: #ff5a39;
    }
  }

  .content {
    display: flex;

    .filters {
      width: 20%;

      h4 {
        margin-bottom: 45px;
        font-size: 18px;
        font-weight: 600;
        line-height: 1.33;
        text-align: left;
        color: #202020;
      }
    }

    .cards {
      display: flex;
      flex-wrap: wrap;
    }
  }
}