.searchTravelSection {
  position: relative;
  background-image: url('./assets/backgroundSearchTravel.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  padding: 200px 0 450px 0;

  h1 {
    position: relative;
    z-index: 1;
    margin: 0 0 10px 0;
    font-size: 72px;
    font-weight: bold;
    line-height: 1.69;
    text-align: center;
    color: #ffffff;
  }

  h2 {
    position: relative;
    z-index: 1;
    margin-bottom: 35px;
    font-size: 32px;
    font-weight: bold;
    line-height: 0.62;
    text-align: center;
    color: #ffffff;
  }
}