@import '../../../../scss/device';

.countryDescription {
  display: none;

  @include device-ipad {
    display: block;
    margin-top: -12vw;
    margin-bottom: 58px;
    padding: 0 50px !important;
  }

  @include device-mb {
    margin-bottom: 58px;
    margin-top: 0;
    padding: 0 8px !important;
  }
}


